<ion-content class="order_review">
  <div class="review-purchase">
      <h5 class="text-center">Review Sale</h5>
      <span class="backbtn"><i (click)="opensellpricepopup()" class="fas fa-arrow-left"></i></span>
      <span class="closebtn"><ion-icon (click)="closeModal()" name="close-outline" color="light"></ion-icon>
    </span>
  
      <div class="product-img-wrap">
          <img src="{{ product.image }}" />
          <div class="product-text">
              <h5>{{ product.title }}</h5>
              <div class="product-sku">sku: {{ product.sku }}</div>
              <div class="price-size">
                  <div class="size">size {{size}} {{ (product.filter+'s')|uppercase}}</div>
                  <div class="price">${{ price }}</div>
              </div>
          </div>
      </div>
  
    
  </div>
  
  <div class="offer-wrapper"  >
    <div class="payment-info" (click)="payoutedit()">
        <span>Payout</span>
        <div *ngIf="payoutinfo else nopayoutinfoselected" class="card-btn">                
            <img class="card-type paypal" src="../../../../assets/icon/paypal.svg"/>
            <span>{{payoutinfo.payout}}</span>
            <ion-icon class="arrow-rt" name="chevron-forward-outline"></ion-icon>
        </div>
        <ng-template #nopayoutinfoselected>
            <div class="card-btn error-text">
                MISSING PAYOUT INFORMATION
                <ion-icon class="arrow-rt" name="chevron-forward-outline"></ion-icon>
            </div></ng-template>
    </div>

    <div class="payment-info" (click)="paymentedit()">
        <span>Shipping</span>
        <div *ngIf="sellershippinginformation else noshippingselected" class="card-btn">                
           <span>{{sellershippinginformation.address}}, {{sellershippinginformation.city}}, {{sellershippinginformation.country}}</span> 
            <ion-icon class="arrow-rt" name="chevron-forward-outline"></ion-icon>
        </div>
        <ng-template #noshippingselected>
            <div class="card-btn error-text">MISSING SHIPPING INFORMATION 
                <ion-icon class="arrow-rt" name="chevron-forward-outline"></ion-icon>
            </div>
        </ng-template>
    </div>
      <div class="payment-info" (click)="paymentedit()">
          <span>Payment</span>
          <div *ngIf="(sellerpaymentinformation && sellerpaymentinformation.number) else nopaymentselected" class="card-btn">                
            <ng-container [ngSwitch]="sellerpaymentinformation.type">
                <ng-template [ngSwitchCase]="'Visa'">
                  <img class="card-type visa" src="../../../../assets/icon/visa.svg"/>
                </ng-template>
                <ng-template [ngSwitchCase]="'MasterCard'" >
                  <img class="card-type mastercard" src="../../../../assets/icon/mastercard.svg"/>
                </ng-template>
                <ng-template [ngSwitchCase]="'Discover'" >
                  <img class="card-type" src="../../../assets/images/discover.png" />
                </ng-template>
                <ng-template [ngSwitchCase]="'American Express'" >
                  <img class="card-type" src="../../../assets/images/american-express.png" />
                </ng-template>
                <ng-template [ngSwitchCase]="'JCB'" >
                  <img class="card-type" src="../../../assets/images/if_Mastercard-Curved_70593.png" />
                </ng-template>
              </ng-container>
              <span>{{sellerpaymentinformation.number}}</span>
              <ion-icon class="arrow-rt" name="chevron-forward-outline"></ion-icon>
          </div>
          <ng-template #nopaymentselected>
              <div class="card-btn error-text">MISSING PAYMENT INFORMATION
                <ion-icon class="arrow-rt" name="chevron-forward-outline"></ion-icon>
              </div>
            </ng-template>
      </div>
      
      <!-- <div class="promo-code-sec">
          <div class="promo-code">
              <ion-input placeholder="Promo code" ></ion-input>
          </div>
      </div> -->
    <div class="payment-text-info">
        All Sellers on BRED must have a credit card on file for verification purposes.
    </div>
  
    <div class="subtoal-cta">
        <div class="subtotal-row">
            <span class="dir-left">Subtotal:</span>
            <span class="dir-right">${{price.toFixed(2)}}</span>
        </div>  
        <div class="subtotal-row">
            <span class="dir-left">Transaction Fee ({{transfee}}%):</span>
            <span class="dir-right">-${{transfeeamount.toFixed(2)}}</span>
        </div>
        <div class="subtotal-row">
            <span class="dir-left">Payment Proc. (3.5%):</span>
            <span class="dir-right">-${{paymentprocamount.toFixed(2)}}</span>
        </div>
        <div class="subtotal-row">
            <span class="dir-left">Shipping:</span>
            <span class="dir-right">-${{shippingamount.toFixed(2)}}</span>        
        </div>        
        <div class="subtotal-row last">
            <span class="dir-left">Total Payout:</span>
            <span class="dir-right txt-blk">CA ${{totalamount.toFixed(2)}}</span>
        </div>               
    </div>
      
        <ion-text>
            <p class="check-txt">
                <ion-checkbox color="dark" (ionFocus)="Checkboxfocus()" (ionChange)="authenticCheckboxTrigger($event)" #authenticcheckboxfield ></ion-checkbox> 
               <span> My item is authentic and brand new with original, undamaged packaging.</span>
            </p>
            <p class="check-txt">
                <ion-checkbox color="dark" (ionChange)="shipCheckboxTrigger($event)"></ion-checkbox>
                <span>I will ship within 2 business days to avoid penalties.</span>
            </p>
        </ion-text>

      <div class="swip-btn text-center">
          <ion-button (click)="sell()" class="button-block ion-color ion-color-dark ios button button-large button-solid" disabled="{{!this.isauthenticchecked || !this.isshippedchecked || (!payoutinfo || !sellershippinginformation || !sellerpaymentinformation.number)}}">Confirm Sale</ion-button>
      </div>

      
  
      
  
  
      <!-- <div class="btm-txt">
          <p class="text-center">All shoes are 100% Authentic and brand new with original packaging.</p>
      </div> -->
  
      
  
      
  </div> 
  </ion-content>
  