// .review-purchase {
//   background: #1d1c1e;
//   color: #fff;
//   position: relative;
//   min-height: 30vh;
//   padding: 20px;
// }
// .review-purchase span.closebtn {
//   position: absolute;
//   right: 20px;
//   top: 20px;
//   display: inline-block;
// }
// .review-purchase span.backbtn {
//   position: absolute;
//   left: 20px;
//   top: 20px;
//   display: inline-block;
// }
// .product-img-wrap {
//   display: block;
//   position: relative;
//   padding-top: 20px;
//   min-height: 140px;
// }
// .product-img-wrap img {
//   max-width: 130px;
//   margin-right: 15px;
//   position: absolute;
//   bottom: 0;
//   display: inline-block;
// }
// .product-text {
//   display: block;
//   text-align: right;
//   padding-left: 160px;
// }
// .offer-wrapper {
//   padding: 20px 0 0 0;
//   position: relative;
//   height: 100%;
//   border-radius: 20px 20px 0 0;
//   background: #fff;
//   margin-top: -20px;
// }

// .product-img-wrap h5 {
//   margin-bottom: 5px;
//   font-size: 18px;
//   font-weight: 500;
// }
// .price-size {
//   margin-top: 10px;
// }
// .product-sku,
// .size {
//   font-size: 12px;
//   color: #666;
//   text-transform: uppercase;
// }
// .price {
//   font-size: 18px;
//   color: #fff;
//   font-weight: 500;
//   text-transform: uppercase;
// }
// .payment-info {
//   background: #efefef;
//   padding: 5px 15px;
//   display: block;
//   border-radius: 6px;
//   margin: 5px 20px;
//   font-size: 12px;
//   line-height: 36px;
//   text-transform: uppercase;
// }
// .payment-text-info {
//   padding: 5px 24px;
//   display: block;
//   border-radius: 6px;
//   margin: 0 0 0 0;
//   font-size: 12px;
// }
// .payment-info span {
//   font-size: 12px;
//   color: #666;
// }
// img.card-type {
//   max-width: 40px;
// }
// .card-btn {
//   display: inline-block;
//   float: right;
// }
// ion-icon.arrow-rt.ios.hydrated {
//   font-size: 24px;
//   vertical-align: middle;
//   color: #666;
// }
// .promo-code-sec {
//   padding: 20px;
// }
// .promo-code {
//   background: #efefef;
//   padding: 0px 15px;
//   border-radius: 6px;
//   font-size: 14px;
//   text-align: left;
//   color: #000;
// }
// .subtoal-cta {
//   display: block;
//   float: left;
//   width: 100%;
//   padding: 20px;
//   font-size: 12px;
//   color: #666;
// }
// .subtotal-row {
//   display: block;
//   width: 100%;
//   clear: both;
//   float: left;
//   margin-bottom: 8px;
// }
// .subtotal-row.last {
//   padding-top: 10px;
//   border-top: solid 2px #efefef;
// }
// .subtotal-row.last span.dir-right {
//   color: #000 !important;
// }
// .subtotal-row span.dir-left {
//   text-transform: uppercase;
// }
// .subtotal-row span.dir-right {
//   font-size: 15px;
//   color: #666;
//   font-weight: 500;
// }
// .dir-left {
//   float: left;
// }
// .dir-right {
//   float: right;
// }
// .btm-txt {
//   font-size: 12px;
//   padding: 20px;
//   color: #666;
//   width: 100%;
//   clear: both;
// }
// .swip-btn {
//   float: left;
//   display: block;
//   width: 100%;
//   padding: 0 20px;
// }
// .card-btn {
//   span {
//     display: inline-block;
//     text-transform: lowercase;
//     width: 135px;
//     overflow: hidden;
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     line-height: normal;
//     vertical-align: middle;
//     margin-left: 5px;
//   }
// }
// p.check-txt {
//   font-size: 12px;
//   padding: 0px 0px 0px 25px;
//   margin: 0 0;
//   float: left;
//   width: 100%;
//   position: relative;
//   ion-checkbox {
//     margin: 0 8px 0 0;
//     float: left;
//     position: absolute;
//     left: 0px;
//     top: 7px;
//     --border-radius: 4px;
//     --border-width: 1px;
//     --border-color: #DCD8E6;
//   }
//   span {
//     margin: 5px 0 0 0;
//     display: block;
//     min-height: 50px;
//     color: #333333;
//     font-weight: 600;
//     font-size: 14px;
//   }
// }
// .offer-wrapper {
//   ion-text {
//     display: block;
//     clear: both;
//     padding: 0px 20px;
//   }
// }

// /* New Css for font changes*/
// h1,h2,h3,h4,h5,div,p,span, ion-button{
//   font-family: 'HK Grotesk Regular' !important;
// }

// .payment-text-info {
//   //font-family: 'HK Grotesk Regular' !important;
//   font-weight: 500;
//   opacity: 0.75;
//   color: #333333;
//   font-size: 12px;
// }
// .review-purchase ion-icon {
//   font-size: 23px;
// }

// .review-purchase h5 {
//   //font-family: 'HK Grotesk Regular' !important;
//   font-weight: 600;
//   color: #ffffff;
//   font-size: 16px;
// }
// .product-img-wrap h5 {
//   // font-size: 24px !important;
//  // font-family: 'HK Grotesk Regular' !important;
//   font-weight: bold !important;
//   //color: #fff !important;
// }
// .product-sku, .size {
//  // font-family: 'HK Grotesk Regular' !important;
//   color: #ffffff !important;
//   font-size: 12px !important;
//   font-weight: 600 !important;
// }
// .size{
//   opacity: 0.75;
// }
// .price {
//  // font-family: 'HK Grotesk Regular' !important;
//   font-weight: 600 !important;
//   font-size: 20px !important;
//   color: #fff !important;
// }
// .payment-info span {
// //  font-family: 'HK Grotesk Regular' !important;
//   font-weight: bold !important;
//   opacity: 0.75;
//   color: #333333 !important;
//   font-size: 12px;
//   font-weight: 600 !important;
// }
// .card-btn, .card-btn span {
//  // font-family: 'HK Grotesk Regular' !important;
//   font-size: 14px !important;
//   opacity: 1 !important;
//   font-weight: 600 !important;
//   color: #333333 !important;
// }