
// .review-purchase {background: #1d1c1e;color: #fff;position: relative;min-height: 30vh;padding: 20px;}
// .review-purchase span.closebtn {position: absolute;right:20px;top:20px;display: inline-block;}
// .review-purchase span.backbtn{position: absolute;left: 20px; top: 20px; display: inline-block;}
// .product-img-wrap {    display: block;position: relative; padding-top: 20px;min-height: 140px;}
// .product-img-wrap img {max-width: 130px;margin-right: 15px;position: absolute;bottom: 0;display: inline-block;}
// .product-text {display: block;text-align: right;padding-left: 160px;}
// .offer-wrapper {padding: 30px 0 0 0;position: relative;height: auto;border-radius: 20px 20px 0 0;background: #fff;margin-top: -20px;}

// .product-img-wrap h5 {margin-bottom: 5px;font-size:18px;font-weight: 500;}
// .price-size {margin-top:10px;}
// .product-sku, .size {font-size: 12px;color: #666;text-transform: uppercase;}
// .price {font-size: 18px;color: #fff;font-weight:500; text-transform: uppercase;}
// .payment-info {background: #efefef;padding: 5px 15px;display: block;border-radius: 0 6px 6px 0;margin: 10px 20px 0 0;font-size: 12px;line-height: 36px;text-transform: uppercase;}
// .payment-info span {font-size:12px;color:#666;}
// img.card-type {max-width: 40px;}
// .card-btn {display: inline-block;float: right;}
// ion-icon.arrow-rt.ios.hydrated {font-size: 18px;vertical-align: middle;color: #666;}
// .promo-code-sec {padding:20px;}
// .promo-code {background: #efefef;padding: 0px 15px;border-radius: 6px; font-size:14px; text-align:left;color:#000;}
// .subtoal-cta {display: block; float: left; width: 100%;padding: 20px;font-size: 12px;color: #666;}
// .subtotal-row {display:block;width: 100%;clear: both;float: left;margin-bottom: 8px;}
// .subtotal-row.last {padding-top: 10px;border-top: solid 2px #efefef;}
// .subtotal-row.last span.dir-right {color:#000!important;}
// .subtotal-row span.dir-left{text-transform: uppercase;}
// .subtotal-row span.dir-right{font-size:15px;color:#666;font-weight: 500;}
// .dir-left {float:left;}
// .dir-right {float:right;}
// .btm-txt {font-size: 12px;padding: 20px;color: #666; width:100%;clear:both;}
// .swip-btn {float: left;display: block;width:100%;padding: 0 20px;}
// ion-button {
//     font-size: 16px;
//     text-transform: none;
//     min-height: 47px;
// }
// .ion-color-dark{
//     border-radius: 10px !important;
//     overflow: hidden;
    
// }


// /* New Css for font changes*/
// .review-purchase ion-icon {
// font-size: 20px;
// }
