<ion-content class="order_review">
<div class="review-purchase">
    <h5 class="text-center">Review Purchase</h5>
    <span class="backbtn"><i (click)="openbuynowpopup()" class="fas fa-arrow-left"></i></span>
    <span class="closebtn"><ion-icon (click)="closeModal()" name="close-outline" color="light"></ion-icon></span>

    <div class="product-img-wrap">
        <img src="{{ product.image }}" />
        <div class="product-text">
            <h5>{{ product.title }}</h5>
            <div class="product-sku">sku: {{ product.sku }}</div>
            <div class="price-size">
                <div class="size">size {{prodSizeValue}} {{ (product.filter+'s')|uppercase}}</div>
                <div class="price">${{ lowestAskVal }}</div>
            </div>
        </div>
    </div>

  
</div>



<div class="offer-wrapper" >
    <div class="payment-info" (click)="paymentedit()">
        <span>Payment</span>
        <ng-template [ngIf]="buyerpaymentinformation" [ngIfElse]="nopaymentselected">
            <ng-container [ngSwitch]="buyerpaymentinformation.payment_method">
                <ng-template [ngSwitchCase]="'paypal'">
                    <div class="card-btn">         
                        <img class="card-type paypal" src="../../../assets/icon/paypal.svg"/>
                        <span>{{buyerpaymentinformation.email}}</span>
                        <ion-icon class="arrow-rt" name="chevron-forward-outline"></ion-icon> 
                    </div>
                </ng-template>
    
                <ng-template [ngSwitchCase]="'credit-card'">
                    <div class="card-btn">
                        <ng-container [ngSwitch]="buyerpaymentinformation.type">
                            <ng-template [ngSwitchCase]="'Visa'">
                                <img class="card-type visa" src="../../../assets/icon/visa.svg" />
                            </ng-template>
                            <ng-template [ngSwitchCase]="'MasterCard'" >
                                <img class="card-type mastercard" src="../../../assets/icon/mastercard.svg" />
                            </ng-template>
                            <ng-template [ngSwitchCase]="'Discover'" >
                                <img class="card-type" src="../../../assets/images/discover.png" style="width: 35px; height: 22px;"/>
                            </ng-template>
                            <ng-template [ngSwitchCase]="'American Express'" >
                                <img class="card-type" src="../../../assets/images/american-express.png" style="width: 35px; height: 22px;"/>
                            </ng-template>
                            <ng-template [ngSwitchCase]="'JCB'" >
                                <img class="card-type" src="../../../assets/images/if_Mastercard-Curved_70593.png" style="width: 35px; height: 22px;"/>
                            </ng-template>
                        </ng-container>
                       <span>{{buyerpaymentinformation.number}}</span> 
                        <ion-icon class="arrow-rt" name="chevron-forward-outline"></ion-icon>         
                    </div>
                </ng-template>
    
                <ng-container *ngSwitchDefault [ngTemplateOutlet]="nopaymentselected">
                  
                </ng-container>
    
            </ng-container>

        </ng-template>

        <ng-template #nopaymentselected>
            <div class="card-btn error-text">
                MISSING PAYMENT INFORMATION
                <ion-icon class="arrow-rt" name="chevron-forward-outline"></ion-icon>
            </div>
        </ng-template>
        
        
        
    </div>
    <div class="payment-info" (click)="paymentedit()">
        <span>Shipping</span>
        <div *ngIf="buyershippinginformation else noshippingselected" class="card-btn">                
           <span>{{buyershippinginformation.address}}</span> 
            <ion-icon class="arrow-rt" name="chevron-forward-outline"></ion-icon>
        </div>
        <ng-template #noshippingselected><div class="card-btn error-text">MISSING SHIPPING INFORMATION
            <ion-icon class="arrow-rt" name="chevron-forward-outline"></ion-icon>
        </div></ng-template>
    </div>
    <div class="promo-code-sec">
        <div class="promo-code">
            <ion-input placeholder="Promo code" ></ion-input>
        </div>
    </div>


    <div class="subtoal-cta">
        <div class="subtotal-row">
            <span class="dir-left">Subtotal:</span>
            <span class="dir-right">${{lowestAskVal.toFixed(2)}}</span>
        </div>  
        <div class="subtotal-row">
            <span class="dir-left">Shipping:</span>
            <span class="dir-right">${{shippingamount.toFixed(2)}}</span>
        </div>
        <div class="subtotal-row">
            <span class="dir-left">Payment Proc. (3.5%):</span>
            <span class="dir-right">${{paymentprocamount.toFixed(2)}}</span>
        </div>
        <div class="subtotal-row">
            <span class="dir-left">Authentication Fee:</span>
            <span class="dir-right" *ngIf="authenticationfee else noauthenticationfee">{{authenticationfee.toFixed(2)}}</span>
            <ng-template #noauthenticationfee><span class="dir-right">Free</span></ng-template>            
        </div>        
        <div class="subtotal-row last">
            <span class="dir-left">Total:</span>
            <span class="dir-right txt-blk">CA ${{totalamount.toFixed(2)}}</span>
        </div>               
    </div>
    
    <div class="swip-btn text-center">
        <ion-button (click)="purchase()" expand="full" color="dark" disabled="{{!buyerpaymentinformation || !buyershippinginformation}}">Confirm Purchase</ion-button>
    </div>

    


    <div class="btm-txt">
        <p class="text-center">All shoes are 100% Authentic and brand new with original packaging.</p>
    </div>

    

    
</div> 
</ion-content>
