<!-- <ion-header>
  <ion-toolbar>
    <ion-label>
       <ion-icon  class="fas fa-arrow-left" (click)="back()"></ion-icon>
      <ion-back-button defaultHref="/settings" icon="" text="" color="light"><ion-icon  class="fas fa-arrow-left"></ion-icon>  </ion-back-button>
    </ion-label>
    <ion-title>Confirm Password</ion-title>
    <ion-button (click)="save()">Save</ion-button>
  </ion-toolbar>
</ion-header> -->

<ion-toolbar color="dark">
  <ion-back-button defaultHref="/settings" class="header" slot="start" color="light"></ion-back-button>
  <ion-button (click)="save()" color="dark" slot="end">Save</ion-button>
  <ion-title>Confirm Password</ion-title>
</ion-toolbar>

<ion-content>
  
<form #f="ngForm" [formGroup]="changePasswordForm">
  <ion-list>
    <ion-item lines="none">
      <div class="input_form">
        <ion-label>Current Password</ion-label>
        <ion-input type="password" formControlName="oldpassword" [class.invalid]="!changePasswordForm.controls.oldpassword.valid && (changePasswordForm.controls.oldpassword.dirty || submitAttempt)"></ion-input>
        <ion-text lines="none" *ngIf="!changePasswordForm.controls.oldpassword.valid && changePasswordForm.controls.oldpassword.errors && changePasswordForm.controls.oldpassword.errors.required &&  !changePasswordForm.controls.oldpassword.pending  && (changePasswordForm.controls.oldpassword.dirty || submitAttempt)">
          <ion-label class="invalid-feedback">Current Password is requried</ion-label>
        </ion-text>
      </div>
     
    </ion-item>
    <ion-item lines="none">
      <div class="input_form">
        <ion-label>New Password</ion-label>
        <ion-input type="password" formControlName="newpassword" [class.invalid]="!changePasswordForm.controls.newpassword.valid && (changePasswordForm.controls.newpassword.dirty || submitAttempt)"></ion-input>
        <ion-item lines="none" *ngIf="!changePasswordForm.controls.newpassword.valid && (changePasswordForm.controls.newpassword.dirty || submitAttempt)">
          <div>New Password is requried</div>
        </ion-item>
      </div>
    </ion-item>
    <ion-item lines="none">
      <div class="input_form">
        <ion-label>Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirmpassword"  [class.invalid]="!changePasswordForm.controls.confirmpassword.valid && (changePasswordForm.controls.confirmpassword.dirty || submitAttempt)"></ion-input>
        <ion-item lines="none" *ngIf="!changePasswordForm.controls.confirmpassword.valid &&  !changePasswordForm.controls.confirmpassword.pending  && (changePasswordForm.controls.confirmpassword.dirty || submitAttempt)">
          <div>Confirm Password is requried</div>
        </ion-item>
      </div>
    </ion-item>
  </ion-list>
</form>
</ion-content>
