ion-toolbar{
    // --background: #000;
    ion-title {
        color: #fff;
    }
    ion-icon{
        color: #fff;
    }
    ion-button{
        float:right;
        --padding:0;
        // --background: #000;
        font-size: 14px;
        color: #bbb;
    }
}
.invalid-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545 !important;
}
ion-item {
    line-height: 1;
}


ion-content{
    --padding-top: 30px;
    ion-item{
        display: block;
        ion-label{
            width: 100% !important;
            display: block;
        }
        ion-input{
            width: 100% !important;
            display: block;
        }
    }
    .input_form {
        min-width: 100%;
        margin-bottom: 15px;
        ion-label{
            font-size: 12px;
            color: #5f5f5f;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 5px;
            letter-spacing: 1px;
        }
        ion-input {
            background: #f5f5f5;
            border-radius: 10px;
            padding: 0 15px;
            font-size: 14px;
            --padding-start:15px ;
        }
        ion-input.ion-invalid{
            border:solid 1px #dc3545 !important;
            
        }
    }
    .select_form{
        min-width: 100%;
        ion-label{
            font-size: 12px;
            color: #5f5f5f;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 5px;
            letter-spacing: 1px;
        }
        ion-select{
            width: 100% !important;
            padding-right: 15px;
            background: #f5f5f5;
            border-radius: 10px;
            min-width: 100%;
            font-size: 14px;
        }
    }
}
