::ng-deep {
  .delete-modal {
    .modal-wrapper {
      height: 180px;
      width: 80%;
      border-radius: 5px;
      .ion-page {
        padding: 15px;
        h1 {
          font-size: 20px;
          text-align: center;
          font-weight: 600;
          color: #333333;
        }
        p {
          font-size: 16px;
          text-align: center;
          font-weight: 500;
          color: #333333;
        }
      }
      .deleteModal {
        --offset-top: 21px;
        --offset-bottom: 0;
      }
    }
    ion-content {
      overflow: hidden;
      --overflow: hidden;
      ion-icon {
        font-size: 32px;
        position: fixed;
        right: 10px;
        top: 6px;
        color:#333333;
      }
    }
  }

  .delButton {
    --border-radius: 8px !important;
  }
}
