<ion-content class="deleteModal">
  <ion-icon name="close" (click)="close()"></ion-icon>
    <h1>{{popupTitle}}</h1>
    <p>
      {{popupText}}
    </p>
  <ion-button expand="full" color="danger" class="delButton" shape="round" (click)="delete()">{{popupButtonText}}</ion-button>
</ion-content>
