<ion-content>
  <div class="main_head">
    <div class="col" (click) = "openselllistpopup()">
      
      <i class="fas fa-arrow-left"></i>
      <h5 class="text-center product-title"> 
        
        <span class="first">{{product.title}}</span>
         <span   *ngFor="let data of productsizes">          
          <span class="second" *ngIf="data[0].id == productsizeid"> / Size
            <span *ngIf="data[0].value else blanklowestask">
             {{data[0].value}}
            </span>
          </span>
        </span>
        </h5>
      
    </div>
    

  </div>
<div class="content-wrap">
  <div class="price_list">
    <i class="fas fa-caret-down" aria-hidden="true"></i> LOWEST PRICE: 
    <div *ngFor="let data of productsizes">
      <span *ngIf="data[0].id == productsizeid">
        <span *ngIf="data.lowest_ask else blanklowestask" class="price_list_value" >
          ${{data.lowest_ask.lowest_ask_price}}
        </span>
      </span>
    </div>
    <span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;</span>
    <i class="fas fa-caret-up" aria-hidden="true"></i> HIGHEST OFFER: 
    <div  *ngFor="let data of productsizes">
      <span *ngIf="data[0].id == productsizeid">
        <span *ngIf="data.highest_bid else blanklowestask" class="price_list_value"  >
          ${{data.highest_bid.highest_bid_price}}
        </span>
      </span>
    </div >
  </div>

  <div class="payment-section">
    <h1>${{askamount}}</h1>
    <p>Total Payout: CA ${{ordertotal.toFixed(2)}}</p>
  </div>
  <div class="bid_msg">{{askmessage}}</div>

  
</div>

<div class="number_wrapper">
  <ion-button size="large" (click)="adjustaskamount('1')">1</ion-button>
  <ion-button size="large" (click)="adjustaskamount('2')">2</ion-button>
  <ion-button size="large" (click)="adjustaskamount('3')">3</ion-button>
  <ion-button size="large" (click)="adjustaskamount('4')">4</ion-button>
  <ion-button size="large" (click)="adjustaskamount('5')">5</ion-button>
  <ion-button size="large" (click)="adjustaskamount('6')">6</ion-button>
  <ion-button size="large" (click)="adjustaskamount('7')">7</ion-button>
  <ion-button size="large" (click)="adjustaskamount('8')">8</ion-button>
  <ion-button size="large" (click)="adjustaskamount('9')">9</ion-button>
</div>
  <div class="reverse_grid">
    <ion-button size="large" (click)="adjustaskamount('0')">0</ion-button>
    <!-- <i class="fas fa-backspace" (click)="clearaskamount()" ></i> -->
    <ion-icon name="backspace-outline" (click)="clearaskamount()"></ion-icon>
  </div>

</ion-content>
<ion-footer>
  <ion-button expand="full" (click)="loadlistpricesuccessmodal()" [disabled]="(askamountnumber < 25)?true:false">Continue</ion-button>
</ion-footer>
<ng-template #blanklowestask>
 <span style="margin-left: 5px;">
  --
 </span>
  
</ng-template>