.main_head {
  color: #fff;
  text-transform: uppercase;
  background-color: var(--ion-color-dark,#000);;
  padding: 12px 0;
}
.main_head h5 {
  font-size: 12px;
  margin-top: -23px;
  margin-left: 26px;
  font-weight: 600 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 1px;
  color: #fff;
}
ion-title {
  background-color: var(--ion-color-dark,#000);;
}
.content-wrap {
  background-color: #f5f5f5;
  padding: 16px 8px;
}
.price_list {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #333333;
}
.price_list .fa-caret-down {
  color: #e44646;
  margin-top: 2px;
  margin-right: 6px;
}
.price_list .fa-caret-up {
  color: #4eb935;
  margin-top: 2px;
  margin-left: 6px;
  margin-right: 6px;
}
.payment-section {
  text-align: center;
  h1 {
    font-size: 42px;
    color: #1D1C1E;
  }
}

.number_wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 25px 0;
  justify-content: flex-end;
  align-items: center;
  ion-button {
    width: calc(100% / 3 - 10px);
    margin: 0 5px 10px;
    color: #1D1C1E;
    outline: none;
    --background: rgba(255,255,255,0);
    --box-shadow: none;
    border: 0.9px solid #DCD8E6;
    height: 90.9px;
    font-size: 43.2px;
    font-weight: normal;
    border-radius: 14.4px !important;
    box-sizing: border-box;
  }
}
.reverse_grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0 25px 0;
  justify-content: flex-end;
  align-items: center;
  ion-button {
    width: calc(100% / 3 - 10px);
    margin: 0 5px 10px;
    color: #1D1C1E;
    outline: none;
    --background: transparent;
    --box-shadow: none;
    border-radius: 10px;
    border: 0.9px solid #DCD8E6;
    height: 90.9px;
    font-size: 43.2px;
    font-weight: normal;
    border-radius: 14.4px !important;
    box-sizing: border-box;
  }
  ion-button,
  i {
    width: calc(100% / 3 - 10px);
    margin: 0 5px 10px;
    
  }
  i {
    text-align: center;
    font-size: 36px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ion-icon{
    font-size: 47px;
    width: calc(100% / 3 - 0px);
  }
}
.price_list {
  > span {
    position: relative;
    top: -2px;
    color: #b3b3b3;
  }
}
.payment-section {
  padding: 15px 15px 10px 15px;
  p {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333333;
    opacity: 0.75;
    font-weight: 600;
    letter-spacing: 1px;
  }
}
.bid_msg {
  text-align: center;
  color: #333333;
  font-size: 12px;
  padding-bottom: 0px;
  font-weight: 600;
  opacity: 0.75;
}
h5.product-title {
  font-size: 14px;
  margin-top: -23px;
  margin-left: 22px;
  font-weight: 100 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  line-height: 20px;
  margin-bottom: 0;
}
h5.product-title span.first {
  display: block;
  max-width: 240px;
  margin-right: 0px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}
h5.product-title span.first {
  display: inline-block;
  overflow: hidden;
}

span.price_list_value {
  margin-left: 5px;
  font-weight: 600;
}

ion-footer {
  height: 50px;
  ion-button {
    --background: var(--ion-color-dark,#000);;
    --box-shadow: none;
    border-radius: 10px;
    border: 0px solid #e4e2e2;
    margin: 0;
    height: 100%;
  }
}
