// .helpTag{
//   position: absolute;
//   font-size: 12px;
//   right: 15px;
//   top: 19px;
// }
// ion-title {
//   text-align: center;
//   font-size: 16px;
//   max-width: calc(100% - 47px);
// }
// .smallItems {
//   // background: #000;
//   // background: var(--ion-color-dark,#000);
//   color: #fff;
//   // padding: 10px 0;
//   text-align: right;
//   .fitImage {
//     object-fit: contain;
//   }
//   ion-label {
//     h2 {
//       font-size: 20px;
//       font-weight: bold;
//     }
//     .itemCode {
//       font-size: 11px;
//       color: #f1eded;
//       margin: 0 0 18px 0;
//     }
//     .itemSize {
//       font-size: 11px;
//       letter-spacing: 1.5px;
//       color: #ccc;
//     }
//     .itemPrice {
//       font-size: 17px;
//       margin: 5px 0 0 0;
//     }
//   }
// }
// ion-thumbnail {
//   width: 130px;
//   height: 100px;
// }
// ion-segment {
//   background-color: var(--ion-color-dark,#000);
//   color: #ffffff;
//   padding: 0 15px 6px 20px;
// }
// .fg-white {
//   color: white;
// }

// .segment__button {
//   background-color: var(--ion-color-dark, #000) !important;
//   color: #bdbcbc !important;
//   font-size: 11px;
//   letter-spacing: 1px;
// }
// ion-segment-button {
//   min-height: 30px;
//   line-height: 1.5rem !important;
//   --border-radius: 0;
//   --padding-bottom: 0px;
//   --padding-top: 0px;
//   --margin-bottom: 0px;
//   --margin-top: 0px;
//   ion-label {
//     --border-radius: 0;
//     --padding-bottom: 0px;
//     --padding-top: 0px;
//     --margin-bottom: 0px;
//     --margin-top: 0px;
//   }
// }
// .segment-button-indicator {
//   width: 80% !important;
//   margin: 0 auto !important;
// }
// .dueDate {
//   margin: 0;
//   padding: 10px 15px;
//   background: #f5f5f5;
//   border-radius: 0;
//   font-size: 12px;
//   color: #686868;
// }
// .shipStatus {
//   font-size: 21px;
//   font-weight: bold;
//   margin: 5px 15px 22px 15px;
//   color: var(--ion-color-dark,#000);;
// }
// .time {
//   text-align: right;
//   font-size: 11px;
//   font-weight: 400;
//   letter-spacing: 1px;
//   max-width: 75px;
//   margin: 0;
//   min-width: 75px;
//   color: #676767 !important;
// }

// .saleHeading {
//   font-size: 20px;
//   font-weight: bold;
//   color: var(--ion-color-dark,#000);
// }
// .timeinfo {
//   font-size: 11px;
//   font-weight: 500;
//   min-width: calc( 100% - 80px );
// }
// ion-card {
//   -webkit-box-shadow: none;
//   box-shadow: none;
//   padding-bottom: 35px;
//   section {
//     h2 {
//       font-size: 20px;
//       font-weight: bold;
//       color: var(--ion-color-dark,#000);
//     }

//     .itemStatuswithCheckbox {
//       $bullet-line-width: 1px;
//       $bullet-color:  var(--ion-color-dark,#000);
//       $bullet-border-width: $bullet-line-width;
//       $bullet-background-color: white;
//       $bullet-size: 20px;
//       border-left: $bullet-line-width solid $bullet-color;
//       counter-reset: numbered-list;
//       margin-left: 8px;
//       position: relative;
//       margin-top: 14px;
//       list-style: none;
//       padding: 0;
//       li {
//         font-size: 14px;
//         margin-bottom: 20px;
//         padding-left: 30px;
//         color: var(--ion-color-dark,#000);
//         font-weight: 600;
//         &:last-child {
//           border-left: $bullet-line-width solid $bullet-background-color;
//           margin-left: -$bullet-line-width;
//         }
//       }
//       .statusOn {
//         &:before {
//           $half-of-font-size: -0.5em;
//           background-color: $bullet-color;
//           border: $bullet-border-width solid $bullet-background-color;
//           border-radius: 50%;
//           color: $bullet-background-color;
//           content:"\f00c";
//           font-family: Font Awesome\ 5 Free;
//           counter-increment: numbered-list;
//           display: block;
//           font-weight: bold;
//           font-size: 11px;
//           width: $bullet-size;
//           height: $bullet-size;
//           margin-top: 0;
//           line-height: $bullet-size;
//           position: absolute;
//           left: -10px;
//           text-align: center;
//         }
//       }
//     }
//     .statusOff {
//       $bullet-size: 20px;
//       &:before {
//         $half-of-font-size: -0.5em;
//         background-color: #ffffff;
//         border: 1px solid #ccc;
//         border-radius: 50%;
//         color: #ccc;
//         content: "";
//         counter-increment: numbered-list;
//         display: block;
//         font-weight: bold;
//         width: $bullet-size;
//         height: $bullet-size;
//         margin-top: 0;
//         line-height: $bullet-size;
//         position: absolute;
//         left: -10px;
//         text-align: center;
//       }
//     }
//   }
// }
// .saleDetail {
//   ion-item {
//     --ion-safe-area-right: 0;
//     font-size: 12px;
//     color: #a2a0a0;
//     ion-label {
//       font-size: 13px;
//       color: #000000;
//       font-weight: 600;
//     }
//     p {
//       font-size: 12px;
//       color: #727272;
//     }
//   }
// }

// ion-card ion-label{
//   font-family: 'HK Grotesk Medium';
//   font-size: 13px;
//   color: #333;
// }

// .totalSection {
//   .saleHeading {
//     margin: 20px 0 20px 0;
//   }
//   .item-inner {
//     padding: 0;
//   }
//   span {
//     display: inline-block;
//     width: 100%;
//     padding: 5px 0;
//     font-size: 12px;
//     .totalAmount {
//       float: right;
//       b {
//         color: #000;
//       }
//     }
//     .border-top {
//       border-top: 2px solid #ccc;
//     }
//   }
//   ion-item {
//     font-size: 12px;
//     color: #a2a0a0;
//     ion-label {
//       font-size: 13px;
//       color: #000000;
//       font-weight: 600;
//     }
//   }
// }
