<ion-content class="order_review order-detail " *ngIf="order && product">

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="review-purchase">
    <h5 class="text-center">{{title}}</h5>
    <span class="backbtn">
      <ion-buttons slot="start">
        <ion-back-button  defaultHref="/selling"></ion-back-button>
      </ion-buttons>
    </span>
    <span class="closebtn">
      <ion-label   class="helpTag">Help</ion-label>
    </span>

    <div class="product-img-wrap">
        <ng-template [ngIf]="product">
          <img src="{{ product.image_large }}" />
        </ng-template>
        <div class="product-text" *ngIf="product">
            <h5 *ngIf="product && product.title">{{product.title}}</h5>
            <div class="product-sku" *ngIf="product && product.sku">sku: {{ product.sku }}</div>
            <div class="price-size">
                <div class="size">SIZE {{order.value}} {{  (product.filter+'s')|uppercase}}</div>
                <div class="price">${{order.total}}</div>
            </div>
        </div>
    </div>
    <div class="links">
      <span class="content-wrap tab" ><p  [ngClass]="{active:segment === 'salestatus'}" (click)="activeSaleStatusTab()">SALE STATUS</p></span>
      <span class="content-wrap tab" ><p  [ngClass]="{active:segment === 'saledetail'}" (click)="activeSaleDetailTab()" >SALE DETAILS</p></span>
  </div>
  </div>



  <div class="offer-wrapper" >
    

    <div [ngSwitch]="segment">
      <ion-card *ngSwitchCase="'salestatus'" class="ion-no-margin ion-no-shadow">
       <ion-card-content>
         <section>
           <h2>Sale Status</h2>    
           <ol class="itemStatuswithCheckbox">
             <!-- <li class="statusOff">Waiting for you to ship</li>
             <li class="statusOff">In transit to warehouse</li>
             <li class="statusOff">Verification</li>
             <li class="statusOff">Payout proceed</li> -->
             <ng-template [ngIf]="order.status == 'Waiting for Seller to Ship' || order.status == 'Late Shipment'" [ngIfElse]="late_no_shipping">
               <li class="statusOn">Waiting for you to ship</li>
               <li class="statusOff">In transit to warehouse</li>
               <li class="statusOff">Verification</li>
               <li class="statusOff">Payout processed</li>
             </ng-template>
             <ng-template #late_no_shipping>
               <ng-template [ngIf]="order.status == 'No Shipment'" [ngIfElse]="in_transit">
                 <li class="statusOn statusCancelled">Waiting for you to ship</li>
                 <li class="statusOff">In transit to warehouse</li>
                 <li class="statusOff">Verification</li>
                 <li class="statusOff">Payout processed</li>
               </ng-template>
             </ng-template>
             <ng-template #in_transit>
               <ng-template [ngIf]="order.status == 'In Transit to Warehouse'" [ngIfElse]="await_verification">
                 <li class="statusOn">Waiting for you to ship</li>
                 <li class="statusOn">In transit to warehouse</li>
                 <li class="statusOff">Verification</li>
                 <li class="statusOff">Payout processed</li>
               </ng-template>
             </ng-template>
             <ng-template #await_verification>
               <ng-template [ngIf]="order.status == 'Awaiting Verification'" [ngIfElse]="verify_ready_to_ship">
                 <li class="statusOn">Waiting for you to ship</li>
                 <li class="statusOn">In transit to warehouse</li>
                 <li class="statusOff">Verification</li>
                 <li class="statusOff">Payout processed</li>
               </ng-template>
             </ng-template>
             <ng-template #verify_ready_to_ship>
               <ng-template [ngIf]="order.status == 'Verified' || order.status == 'Ready to Ship'" [ngIfElse]="intransit_delivered">
                 <li class="statusOn">Waiting for you to ship</li>
                 <li class="statusOn">In transit to warehouse</li>
                 <li class="statusOn">Verification</li>
                 <ng-template [ngIf]="order.activity.length > 0" [ngIfElse]="noactivity">
                   <li class="statusOn">Payout processed</li>
                 </ng-template>
                 <ng-template #noactivity>
                   <li class="statusOff">Payout processed</li>
                 </ng-template>
               </ng-template>
             </ng-template>
             <ng-template #intransit_delivered>
               <ng-template [ngIf]="order.status == 'In Transit to Customer' || order.status == 'Delivered'" [ngIfElse]="requestaction">
                 <li class="statusOn">Waiting for you to ship</li>
                 <li class="statusOn">In transit to warehouse</li>
                 <li class="statusOn">Verification</li>
                 <ng-template [ngIf]="order.activity" [ngIfElse]="noactivity">
                   <li class="statusOn">Payout processed</li>
                 </ng-template>
                 <ng-template #noactivity>
                   <li class="statusOff">Payout proceed</li>
                 </ng-template>
               </ng-template>
             </ng-template>
             <ng-template #requestaction>
               <ng-template [ngIf]="order.status == 'In Transit to Customer' || order.status == 'Delivered'" [ngIfElse]="cancelled_returntoseller">
                 <li class="statusOn">Waiting for you to ship</li>
                 <li class="statusOn">In transit to warehouse</li>
                 <li class="statusOff">Requires Your Attention</li>
                 <li class="statusOff">Payout processed</li>
               </ng-template>
             </ng-template>
             <ng-template #cancelled_returntoseller>
               <ng-template [ngIf]="order.status == 'Cancelled' || order.status == 'Return to seller'" >
                 <li class="statusOn">Waiting for you to ship</li>
                 <li class="statusOn">In transit to warehouse</li>
                 <li class="statusOff statusCancelled">Cancelled</li>
                 <li class="statusOff">Payout processed</li>
               </ng-template>
             </ng-template>
           </ol>
         </section>
         <ion-button expand="block" shape="" [routerLink]="['/selling/shippinglabel',order.order_id]" color="dark">Print Shipping Label</ion-button>
       </ion-card-content>
       <h2 class="shipStatus">Shipping Status</h2>
         <ng-template [ngIf]="trackingInformation.occurrence.length > 0" [ngIfElse]="noTrackTemplate">
           <ng-template ngFor let-track [ngForOf]="trackingInformation.occurrence">
             <p class="dueDate"> {{track.date}}</p>
             <ion-item lines="none" style="padding: 0px 0;">
               <ion-label slot="start" class="ion-text-wrap ion-no-padding ion-no-margin timeinfo">
                 {{track.description}}
               </ion-label>
               <ion-label slot="end" class="time">{{track.time}}</ion-label>
             </ion-item> 
           </ng-template>
         </ng-template>
         <ng-template #noTrackTemplate>
           <p class="dueDate">{{order.paymentdate}}</p>
           <ion-item lines="none" style="padding: 0px 0;">
             <ion-label slot="start"  class="ion-text-wrap ion-no-padding ion-no-margin timeinfo">
               Electronic information submitted by shipper
             </ion-label>
             <ion-label slot="end" class="time">{{order.paymenttime}}</ion-label>
           </ion-item>   
         </ng-template>   
     </ion-card>
    
 
 <ion-card *ngSwitchCase="'saledetail'" class="saleDetail ion-no-padding ion-no-margin ion-no-shadow">
   <ion-card-content>
     <h2 class="saleHeading">Sale Details</h2> 
     <ion-item class="ion-no-padding ion-no-margin">
       <p>DATE</p>
       <ion-label slot="end" class="ion-text-right">{{order.paymentdate}}</ion-label>
     </ion-item>
     <ion-item class="ion-no-padding">
       <p>ORDER NUMBER</p>
       <ion-label slot="end" class="ion-text-right">{{order.order_id}}</ion-label>
     </ion-item>
     <ion-item class="ion-no-padding">
       <p>PAYMENT METHOD</p>
       <ion-label slot="end" class="ion-text-right">
        <ng-container [ngSwitch]="sellingPayment.payment_data.cardType">
          <ng-template [ngSwitchCase]="'Visa'">
           <img class="card-type visa" src="../../../../assets/icon/visa.svg" />
          </ng-template>
          <ng-template [ngSwitchCase]="'MasterCard'" >
             <img class="card-type mastercard" src="../../../../assets/icon/mastercard.svg" />
          </ng-template>
          <ng-template [ngSwitchCase]="'Discover'" >
              <img class="card-type" src="../../../../assets/images/discover.png" />
          </ng-template>
          <ng-template [ngSwitchCase]="'American Express'" >
              <img class="card-type" src="../../../../assets/images/american-express.png"/>
          </ng-template>
          <ng-template [ngSwitchCase]="'JCB'" >
              <img class="card-type" src="../../../../assets/images/if_Mastercard-Curved_70593.png"/>
          </ng-template>
      </ng-container>
        
         <ng-template [ngIf]="sellingPayment.payment_data && sellingPayment.payment_data.number">
           {{sellingPayment.payment_data.number}}
         </ng-template>
       </ion-label>
     </ion-item>
     <ng-template [ngIf]="order && order.seller_information.payout[0].payout">
      <ion-item class="ion-no-padding">
        <p>PAYOUT METHOD</p>
        <ion-label slot="end" class="ion-text-right payment">
            <img class="card-type" src="../../../../assets/icon/paypal.svg"/>
            {{order.seller_information.payout[0].payout}}
        
        </ion-label>
      </ion-item>
    </ng-template>
     <ion-item  class="ion-no-padding">
       <p>SHIPPING ADDRESS</p>
       <ng-template [ngIf]="order.seller_information.address.length > 0">
         <ng-template ngFor let-address [ngForOf]="order.seller_information.address" let-i = "index">
           <ng-template [ngIf]="address.label=='shipping'"> 
             <ion-label slot="end" class="ion-text-right payment shipping">{{address.address}}, <br> {{address.city}}, {{address.state}}, <br>{{address.zipcode}},<br>{{address.country}} </ion-label>
           </ng-template>
         </ng-template>
       </ng-template>
       
     </ion-item>
     
      
    <div class="totalSection">
       <h2 class="saleHeading">Total</h2>
       <ion-list lines="none" class="ion-no-padding ion-no-margin">
         <span class="ion-no-padding ion-no-margin">
           <ion-label class="paymentDesc">SUBTOTAL</ion-label>
           <ion-label slot="end" class="totalAmount">$ {{order.total.toFixed(2)}}</ion-label>
         </span>
       
         <span class="ion-no-padding ion-no-margin">
           <ion-label class="paymentDesc">TRANSACTON FEE ({{order.transaction_fee}}%)</ion-label>
           <ion-label slot="end" class="totalAmount">- $ {{order.transaction_fee_amount.toFixed(2)}}</ion-label>
         </span>
       
         <span class="ion-no-padding ion-no-margin">
           <ion-label class="paymentDesc">PAYMENT PROC. (3.5%)</ion-label>
           <ion-label slot="end" class="totalAmount">- $ {{order.proc_amount}}</ion-label>
         </span>
         <span class="ion-no-padding ion-no-margin">
           <ion-label class="paymentDesc">SHIPPING</ion-label>
           <ion-label slot="end" class="totalAmount">-$ {{order.seller_shipping_fee.toFixed(2)}}</ion-label>
         </span>
         <span class="ion-no-padding ion-no-margin border-top">
           <ion-label class="paymentDesc">TOTAL PAYOUT</ion-label>
           <ion-label slot="end" class="totalAmount"><b>CA $ {{order.seller_total.toFixed(2)}}</b></ion-label>
         </span>
       </ion-list>
     </div>
   </ion-card-content>
 </ion-card>
</div>
  
  
  
  
  </div>



  
</ion-content>






