<!-- <ion-header>
  <ion-toolbar>
    <ion-title>landing</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
<div class="main-content">
    <div class="landing">
        <div class="landing_logo"><img src="../assets/images/logo.svg"/></div>
        <div class="landing_desc">The best way to buy and sell <br>sneakers online for Canadians.</div>
      </div>
      <div class="login-logout-buttons">
          <div class="login-btn"><ion-button expand="full" color="dark" routerLink="/login">Login </ion-button>
          </div>
          <div class="signup-btn"><ion-button expand="full" color="dark" routerLink="/signup">Sign up</ion-button></div>
          <div class="browse"><a routerLink="/tabs/home" routerDirection="forward">Start browsing</a>
            
          </div>
      </div>
</div>
  
</ion-content>
