@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
$font-faimly:'Poppins', sans-serif;
$primary-color: #333333;
$primary-font-size: 18px;
$primary-padding: 32px!important;

*{text-decoration: none;}
body {
    font: $font-faimly;
    color: $primary-color;
  }
 .main-content{padding: $primary-padding;}
.landing_logo{max-width: 153px; margin-bottom: 20px;}
.landing_desc { font-size:$primary-font-size; color:$primary-color;}
.login-logout-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 50%;
}
.ion-color-dark {
    border-radius: 10px !important;
    overflow: hidden;
    font-size:16px !important;
    text-transform: inherit;
    margin-bottom: 12px;
    min-height: 48px;
}
.browse a {color: $primary-color;}
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
}

:host {
    display: block;
  }
  
  .open-close-container {
    border: 1px solid #dddddd;
    margin-top: 1em;
    padding: 20px 20px 0px 20px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
  }

  .purchase-button {
    border: 1px solid #dddddd;
    margin-top: 1em;
    padding: 20px 20px 0px 20px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    background-color: 'yellow';
  }