
<!-- <ion-header translucent>
   
    <ion-toolbar>
      <ion-title>Modal Content</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal()" >Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header> -->
  
  <ion-content>
      <div class="product-view">
          <div class="row">
              <div class="col" (click)="closeModal()"><i class="fas fa-arrow-left"></i></div>
              
            </div>
      </div> 
    
    <div class="product-view content-part">
        <h5>How buying on BRED works</h5>
        <div class="prodcut-points">  
          <span class="grey-icon"></span>
            <p class="title">Buy Now or Place Offer</p>        
            <p class="small">Buy now at the lowest listed price, or make an offer for everyone to see.</p>
        </div>
      <div class="prodcut-points">  
        <span class="grey-icon"></span>
          <p class="title">Seller sends shoes to BRED</p>        
          <p class="small">Once a purchase is made, the seller ships the shoes to BRED.</p>
      </div>
      <div class="prodcut-points">  
          <span class="grey-icon"></span>
            <p class="title">Authenticity verification</p>        
            <p class="small">Our experts then examine the shoes throughly from the color to the stitching and box label</p>
        </div>
        <div class="prodcut-points">  
            <span class="grey-icon"></span>
              <p class="title">Enjoy your new kicks</p>        
              <p class="small">Once verified, the shoes are sent to the buyer.</p>
          </div>
      
      <ion-button color="dark" class="gap" expand="block" (click)="openbuynowpopup()">Continue</ion-button>
      <ion-checkbox color="dark" class="checksize" mode="ios" (ionChange)="checkedmessagepopupagain($event)"></ion-checkbox>
      <ion-label class="labelsize">Don't show this message again.</ion-label>
    </div>


   

    

   
  </ion-content>