/* ::ng-deep .buy-popup .modal-wrapper {
    height: 60%;
    width : 60%
 } */

.product-view {
  padding: 20px;
}
.product-view.content-part h5 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
.prodcut-points {
  position: relative;
  padding-left: 65px;
  margin-bottom: 15px;
}
.prodcut-points span.grey-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  background-color: #ccc;
  border-radius: 100%;
}
.prodcut-points p.title {
  margin-bottom: 0;
  font-weight: 600;
}
.prodcut-points p.small {
  color: #333333;
  font-weight: 600;
  opacity: 0.75;
  font-size: 14px;
}
/* ion-button.gap {
  margin: 20px 0;
} */
ion-checkbox.checksize {
  top: 8px;
  margin-right: 5px;
}
ion-label.labelsize {
  font-size: 14px;
}
.popup-scroll {
  background: #000;
  color: #fff;
  padding: 20px;
}
