.main-buying-wrap {
    padding: 15px;
}
.main-buying-wrap h4 {
    font-size: 22px;
    font-weight: 600;
    padding: 20px 0px 20px 0px;
}
.back-btn-wrap i {
    font-size: 18px;
}
.buying-wrap h5 {
    font-size: 16px;
    font-weight: 600;
    color: #1d1d1d;
}
.buying-wrap p {
    font-size: 14px;
    color: #757575;
}
.buying-wrap {
    position:relative;
    padding-left: 80px;
    margin-bottom: 25px;
}
.buying-wrap::before {
    content: "";
    width: 60px;
    height: 60px;
    background-color: #d8d8d8;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.main-buying-wrap .btn {
    width: 100%;
    background: #1d1c1e;
    border-color: #1d1c1e;
    padding: 12px 0px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
}
.main-buying-wrap .form-check label {
    font-size: 14px;
}
