<!-- <ion-header>
  <ion-toolbar>
    <ion-title>product-how-to-buy-popup</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <div class="main-buying-wrap">
        <div class="back-btn-wrap" (click)="closeModal()"><i class="fas fa-arrow-left"></i></div>
        <h4>How buying on BRED work</h4>
        <div class="buying-wrap">
            <h5>Seller sends shoe to BRED</h5>
            <p>Once a purchase is made, the seller ships the shoes to BRED.</p>
        </div>
        <div class="buying-wrap">
            <h5>Authenticity Verification</h5>
            <p>Our experts then examine the shoes throughly from the color to the stitching and box label.</p>
        </div>
        <div class="buying-wrap">
            <h5>Enjoy your new kicks!</h5>
            <p>Once verified, the shoes are sent to the buyer.</p>
        </div>
        <div class="buying-wrap">
            <h5>Enjoy your new kicks!</h5>
            <p>Once verified, the shoes are sent to the buyer.</p>
        </div>
        <button type="button" class="btn btn-primary">Continue</button>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Don't show this message again.</label>
        </div>

    </div>
</ion-content>