ion-toolbar {
  // --background: #000;
  ion-title {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding-left: 0px;
    padding-right: 40px;
}
  ion-buttons {
    color: #fff;
  }
}

ion-list {
    margin: 10px 0;
  ion-list-header {
    ion-label {
      font-weight: 600;
      font-size: 16px;
      color: #333333;
      text-transform: capitalize;
      opacity: 0.75;
    }
    
  }
  ion-item {
    margin: 0 0 8px 0;
    border-radius: 5px;
    ion-label {
      padding: 0 8px;
      font-weight: 500;
      font-size: 14px;
      color: #333333;

      img.card-type {
        width: 24px;
      }
      img.card-type.paypal {
        width: 18px !important;
      }
    }
    ion-label.heading{
      font-size: 12px;
      letter-spacing: 1px;
      font-weight: 600;
      opacity:0.75;
    }
    ion-icon{
        color: #a7a7a7;
    }
  }
}


.offer-wrapper {
  padding: 20px 0 0 0;
  position: relative;
  height: auto;
  border-radius: 20px 20px 0 0;
  background: #fff;
  margin-top: -20px;

  .payment-info {
      background: #F5F5F5;
      padding: 8px 15px 5px 25px;
      display: block;
      border-radius: 8px;
      margin: 5px 20px 4px;
      font-size: 12px;
      line-height: 36px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;

      
      span {
          font-size: 12px;
          color: #333333;
          font-weight: 600;
          opacity: 0.75;
          letter-spacing: 1px;
        
      }
  }

  

  .payment-text-info {
      padding: 5px 24px;
      display: block;
      border-radius: 6px;
      margin: 0 0 0 0;
      font-size: 12px;
      font-weight: 500;
      color: #333333;
      opacity: 0.75;
  }
   
  img.card-type {
     width: 18px;
  }

  img.mastercard {
      width: 35px;
  }
  img.visa {
      width: 35px;
  }
  .card-btn {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: normal;
      vertical-align: middle;
      margin-left: 5px;
      color: #333333;
      font-size: 14px;
      font-weight: 500 !important;
      opacity: 1;
      letter-spacing: 0px;
      // max-width: 153px;
      text-align: right;
      width: 244px;

      span {
          display: inline-block;
          width: auto;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          line-height: normal;
          vertical-align: middle;
          margin-left: 5px;
          color: #333333;
          font-size: 14px;
          font-weight: 500 !important;
          opacity: 1;
          letter-spacing: 0px;
          max-width: 153px;
          text-align: right;
      }

      
      

  }
  .error-text {
      color: #c50909 !important;
  }

  ion-icon {
      font-size: 18px;
      vertical-align: middle;
      color:#333333;
  }

  .promo-code-sec {
      padding: 20px;
  }
  .promo-code {
      background: #F5F5F5;
      padding: 0px 15px;
      border-radius: 6px;
      font-size: 14px;
      text-align: left;
      color: #000;
  }
  .subtoal-cta {
      display: block;
      float: left;
      width: 100%;
      padding: 16px 20px 16px;
      font-size: 12px;
      color: #666;
      ion-checkbox{
        float: left;
        margin: 0 5px 10px 0;
    }
  }
  .subtotal-row {
      display: block;
      width: 100%;
      clear: both;
      float: left;
      margin-bottom: 8px;
  }
  .subtotal-row.last {
      padding-top: 10px;
      border-top: solid 2px #efefef;
  }
  .subtotal-row.last span.dir-right {
      color: #333333 !important;
  }
  .subtotal-row span.dir-left {
      text-transform: uppercase;
      font-weight: 600;
      color: #333333;
      opacity: 0.75;
      letter-spacing: 1px;
      font-size: 12px;    
  }
  .subtotal-row.last .txt-blk {
      opacity: 1 !important;
  }
  .subtotal-row span.dir-right {
      font-size: 14px;
      color: #333333;
      font-weight: bold;
      opacity: 0.75;
  }
  .dir-left {
      float: left;
  }
  .dir-right {
      float: right;
  }
  .btm-txt {
      font-size: 14px;
      padding: 14px 20px;
      color: #333333;
      width: 100%;
      clear: both;
      font-weight: 500;
      opacity: 0.75;
  }
  .swip-btn {
      float: left;
      display: block;
      width: 100%;
      padding: 0 20px;
  }
  p.check-txt {
      font-size: 14px;
      line-height: 1.3;
      display: inline-block;
      width: 100%;
      padding: 8px 20px 0px 43px; 
      color: #333333;
      position: relative;
      font-weight: 500;
      // margin-bottom: 24px;
  }
    
  p.check-txt ion-checkbox {
      max-width: 16px;
        margin-right: 5px;
        width: 100%;
        position: absolute;
        top: 10px;
        left: 20px;
        --border-width: 1px;
        --border-radius: 4px;
        --background: #ffffff;
        --border-color: #DCD8E6;
        height: auto;
  }

  h3.heading {
    font-size: 16px;
    font-weight: 600;
    padding: 20px 20px 0px 20px;
    color: #333333;
}

}