<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Payment Settings</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-toolbar color="dark">
  <ion-back-button defaultHref="/settings" class="header" slot="start" color="light"></ion-back-button>
  <ion-title>Payment Settings</ion-title>
</ion-toolbar>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div class="offer-wrapper" >
    <h3 class="heading">Buying Payment</h3>
    <div class="payment-info" (click)="buyingedit()">
        <span>Payment</span>
        <ng-template [ngIf]="buyinginformation" slot="end">
          <ng-template [ngIf]="buyinginformation.payment" [ngIfElse]="nobuyerpaymentselected">
              <div class="card-btn">
              <ng-container [ngSwitch]="buyinginformation.payment.payment_method">
                
                <ng-template [ngSwitchCase]="'paypal'">
                  <img class="card-type" src="../../../assets/icon/paypal-icon.png" style="width: 35px; height: 22px;"/>
                  {{buyinginformation.payment.email}} 
                </ng-template>
  
                <ng-template [ngSwitchCase]="'credit-card'">
                  <ng-container [ngSwitch]="buyinginformation.payment.type">
                    <ng-template [ngSwitchCase]="'Visa'">
                      <img class="card-type" src="../../../../assets/icon/visa.svg"/>
                    </ng-template>
                    <ng-template [ngSwitchCase]="'MasterCard'" >
                      <img class="card-type" src="../../../../assets/icon/mastercard.svg" />
                    </ng-template>
                    <ng-template [ngSwitchCase]="'Discover'" >
                      <img class="card-type" src="../../../assets/images/discover.png" style="width: 35px; height: 22px;"/>
                    </ng-template>
                    <ng-template [ngSwitchCase]="'American Express'" >
                      <img class="card-type" src="../../../assets/images/american-express.png" style="width: 35px; height: 22px;"/>
                    </ng-template>
                    <ng-template [ngSwitchCase]="'JCB'" >
                      <img class="card-type" src="../../../assets/images/if_Mastercard-Curved_70593.png" style="width: 35px; height: 22px;"/>
                    </ng-template>
                  </ng-container>
                  {{buyinginformation.payment.number}} 
                  <ion-icon class="arrow-rt" name="chevron-forward-outline"></ion-icon>
                </ng-template>
             
              </ng-container>
              </div>
              
              
              
              
          
            
          </ng-template>
          <ng-template #nobuyerpaymentselected>
            <div class="card-btn error-text">
              Not Selected
              <ion-icon class="arrow-rt" name="chevron-forward-outline"></ion-icon>
          </div>
          </ng-template>  
        </ng-template>
    </div>
    
    <h3 class="heading">Selling Payment</h3>
    <div class="payment-info" (click)="selleredit()">
      <span>Payment</span>

      <ng-template [ngIf]="sellinginformation">
        <ng-template [ngIf]="sellinginformation.payment" [ngIfElse]="nosellerpaymentselected">
          <div class="card-btn">
            <ng-container [ngSwitch]="sellinginformation.payment.type">
              <ng-template [ngSwitchCase]="'Visa'">
                <img class="card-type" src="../../../../assets/icon/visa.svg"/>
              </ng-template>
              <ng-template [ngSwitchCase]="'MasterCard'" >
                <img class="card-type" src="../../../../assets/icon/mastercard.svg" />
              </ng-template>
              <ng-template [ngSwitchCase]="'Discover'" >
                <img class="card-type" src="../../../assets/images/discover.png" style="width: 35px; height: 22px;"/>
              </ng-template>
              <ng-template [ngSwitchCase]="'American Express'" >
                <img class="card-type" src="../../../assets/images/american-express.png" style="width: 35px; height: 22px;"/>
              </ng-template>
              <ng-template [ngSwitchCase]="'JCB'" >
                <img class="card-type" src="../../../assets/images/if_Mastercard-Curved_70593.png" style="width: 35px; height: 22px;"/>
              </ng-template>
            </ng-container>
  
  
          <!-- <ng-template [ngIf]="sellinginformation.payment.type == 'Visa'" [ngIfThen]="sellermastercard">
            <img class="card-type" src="../../../assets/images/if_Visa-Curved_70599.png" style="width: 35px; height: 22px;"/>
          </ng-template>
          <ng-template [ngIf]="sellinginformation.payment.type=='MasterCard'" [ngIfElse]="sellerothercard" #sellermastercard>
            <img class="card-type" src="../../../assets/images/if_Mastercard-Curved_70593.png" style="width: 35px; height: 22px;"/>
          </ng-template>    -->
              
          {{sellinginformation.payment.number}}
          <ion-icon class="arrow-rt" name="chevron-forward-outline"></ion-icon>
        </div>
       
        </ng-template>
        <ng-template #nosellerpaymentselected>
          <div class="card-btn error-text">
            Not Selected
            <ion-icon class="arrow-rt" name="chevron-forward-outline"></ion-icon>
        </div>
          
        </ng-template>  
      </ng-template>



    </div>

    <div class="payment-info" (click)="selleredit()">
      <span>Payout</span>
      <ng-template [ngIf]="sellinginformation">
        
        <ng-template [ngIf]="sellinginformation.payoutinfo.payout" [ngIfElse]="nopayoutselected">
          <div class="card-btn">
            <img class="card-type paypal" src="../../../../assets/icon/paypal.svg"/>
          {{sellinginformation.payoutinfo.payout}}
          <ion-icon class="arrow-rt" name="chevron-forward-outline"></ion-icon>
          </div>
        
        </ng-template>
  
        <ng-template #nopayoutselected>
          <div class="card-btn error-text">
            Not Selected
            <ion-icon class="arrow-rt" name="chevron-forward-outline"></ion-icon>
        </div>
        </ng-template>
      </ng-template>

    </div>
    
  </div>


  
 


</ion-content>
