@font-face {
    font-family: 'HKGroteskSemiBold';
    src: url('fonts/HKGroteskSemiBold.eot');
    src: url('fonts/HKGroteskSemiBold.eot') format('embedded-opentype'),
         url('fonts/HKGroteskSemiBold.woff2') format('woff2'),
         url('fonts/HKGroteskSemiBold.woff') format('woff'),
         url('fonts/HKGroteskSemiBold.ttf') format('truetype'),
         url('fonts/HKGroteskSemiBold.svg#HKGroteskSemiBold') format('svg');
}
