
<ion-toolbar>
  <ion-back-button defaultHref="/landing" slot="start" color="dark"></ion-back-button>
</ion-toolbar>


  <ion-content class="ion-padding">
      <!-- <div class="back-btn">
        <ng-template [ngIf]="redirectPath=='settings'" [ngIfElse]="backoption"]>
          <ion-icon  class="fas fa-arrow-left" (click)="back()"></ion-icon>

        </ng-template>
        <ng-template #backoption>
          <ion-back-button defaultHref="/tabs/home" icon="" text="" color="light"><ion-icon  class="fas fa-arrow-left"></ion-icon></ion-back-button>

        </ng-template>
      </div> -->
      <ion-grid>
          <form #f="ngForm" name="form" (ngSubmit)=" f.form.valid && login(f.form)">
        <ion-row color="justify-content-center primary" >
          <ion-col class="ion-align-self-end" size-md="6" size-lg="5" size-xs="12">
            <div class="ion-text-left">
              <h3 class="form-heading">Log In</h3>
            </div>
            <div class="t-b-padding fr-gp">
              <ng-template [ngIf]="errorCode==1001">
                <ion-text class="error verifyemailerror">
                  Didn't receive an email? <ion-nav-link (click)="resendEmail()">Resend now</ion-nav-link> .

                </ion-text>

              </ng-template>
              <!----<ion-item>
                <ion-input name="email" type="email" placeholder="Email" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
              </ion-item>--->
              <div class="form-group">
                <!-- <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" ngModel placeholder="Enter email"> -->
                <input type="email" class="form-control" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" name="email" placeholder="Enter email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                            <div *ngIf="email.invalid">Email must be a valid email address</div>
                        </div>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" placeholder="Password" required password />
                <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                  <div *ngIf="password.errors.required">Password is required</div>
              </div>
              </div>
            </div>
            <div class="for-g-pass">
                <a href="#" routerLink="/resetpassword">Forgot Password</a>
              </div>
            <div class="ion-padding submit-btn">
              <button type="submit" class="btn  primary-btn" [disabled] = "islogincheck" (click)="login(f.form)">Log In</button>
            </div>
          </ion-col>
        </ion-row>
      </form>
      <ion-row color="primary" class="ion-justify-content-center">
      <ion-col class="ion-align-self-end" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-padding social-btns">
              <button class="btn fb-btn" (click)="fbLogin()"><i class="fa fa-facebook"></i> Log in with Facebook</button>
              <!-- <button class="btn twitter-btn"><i class="fa fa-twitter"></i> Log in with Twitter</button> -->
            </div>
            <p class="text-center">Don't have an account? <a class="sign-up" href="/signup">Sign Up</a></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    
  </ion-content>
