.footer-tab {
  ion-tab-bar {
    background-color: #1d1c1e;
    ion-tab-button {
      background-color: #1d1c1e;
      color: #a0a0a0;
    }
    ion-tab-button {
      --color: #fff;
      --color-focused: #fff;
      --color-selected: #fff;
    }
  }
}
.tab-selected {
  color: #fff !important;
}

.shoe-button {
  ion-icon {
    width: 30px;
  }
  &:not(.tab-selected) {
    ion-icon {
      opacity: 0.8;
    }
  }
}
