<div class="footer-tab">
<ion-tabs #myTabs >
  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="home"  >
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button class="shoe-button" (click)="redirecttobrowse()"  >
      <ion-icon src="../assets/icon/shoes.svg" ></ion-icon>
      <!-- <ion-img src="../assets/icon/shoes.svg"></ion-img>
      <img  src="../assets/icon/shoes.svg" /> -->
      <ion-label>Browse</ion-label> 
    </ion-tab-button>
    <!-- <ion-tab-button tab="sell">
        <ion-icon name="apps"></ion-icon>
        <ion-label>Sell</ion-label>
    </ion-tab-button> -->
    <ng-template [ngIf]="isUserLogin" [ngIfElse]="redirectprofiletab">
      <ion-tab-button tab="profile" >
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ng-template>
    <ng-template #redirectprofiletab>
      <ion-tab-button (click)="redirecttologin()">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ng-template>
      
  </ion-tab-bar>
</ion-tabs>
</div>
