// .order_success{
//     text-align: center;
//     margin-top: 0;
//     h1 {
//         font-size: 12px;
//         margin-top: 23px;
//         color: rgba(51,51,51,0.75);
//         text-transform: uppercase;
//         padding: 0 15px;
//         font-weight: 600;
//         letter-spacing: 1px;
//     }
//     h2 {
//         font-size: 24px;
//         margin-top: 20px;
//         font-weight: bold;
//         color: #333333;
//     }
//     h3 {
//         font-size: 20px;
//         font-weight: 600;
//         margin-top: 25px;
//         color: #333333;
//     }
//     h4 {
//         font-size: 16px;
//         margin: 20px 0 30px;
//         padding: 0 40px;
//         font-weight: 500;
//         color: #333333;
//     }
//     p{
//         font-size: 12px;
//         margin-top: 10px;
//         color: rgba(51,51,51,0.75);
//         text-transform: uppercase;
//         padding: 0 15px;
//         font-weight: 600;
//         letter-spacing: 1px;
//     }
    
//     ion-img {
//         max-width: 155px;
//         width: 155px;
//         display: block;
//         margin: 0 auto;
//     }
//     ion-button {
//         padding: 0px 15px;
//         min-height: 47px;
//         text-transform: none;
//         font-size: 16px !important;
//         --border-radius: 10px !important;
//     }
//     .closebtn{
//         display: flex;
//         justify-content: flex-end;
//         padding: 10px;
        
//     }
// }

// /* New Css for font changes*/
// .order_success ion-icon {
//     font-size: 24px;
//   }