<ion-content class="order_success">
    <span class="closebtn"><ion-icon (click)="closeModal()" name="close-outline" color="dark"></ion-icon></span>    
  <ion-text>
    <h1>{{product.title}}</h1>
  </ion-text>
   <ion-text>
      <p>Brand New / size {{order.product_info.size}} {{ (product.filter+'s')|uppercase}}</p>
    </ion-text>
    <ion-img src="{{product.image}}" ></ion-img>
    <ion-text>
        <h3>CA ${{order.buyer_total.toFixed(2)}}</h3>
        <h2 class="offer_plc">Your purchase was completed!</h2>
        <h4 class="offer_acpt">You will be notified once the seller has shipped the shoes.</h4>
      </ion-text>
    <ion-button color="dark" expand="block" (click)="redirectToOrderDetail()">View order</ion-button>
  


</ion-content>
