<!-- <ion-toolbar>
  <span class="backbtn"><i (click)="closeModal()" class="fas fa-arrow-left"></i></span>
  
  <div class="col" (click)="reset()"><p>Reset</p></div>
  <ion-title>Brands</ion-title>
</ion-toolbar> -->

<ion-content class="ion-padding">

  <div class="filter-header">
    <div class="row">
      <div class="col-3" (click)="closeModal()"><i class="fas fa-arrow-left"></i></div>
      <div class="col-6"><h4>Brands</h4></div>
      <div class="col-3" (click)="reset()"><p>Reset</p></div>
    </div>
  </div>

<div class="brand-slider-wrap">
  <div class=" row">
    <div class=" col-sm-12 top-brand-wrap">
      <h3>Top Brands</h3>
    </div>
  </div>
  <div>
    <ion-slides pager="false" [options]="slideOpts" #mySlides>
      <ion-slide class="slide" (click)="setadidasCategory()">
        <div class="brand-slider" [class.active]="selectmaincategory == 'adidas'">
          <img src="../../../assets/brands/adidas.png" class="img-fluid" alt="" />
          <p>Adidas</p>
        </div>
      </ion-slide>

      <ion-slide class="slide" (click)="setairjordenCategory()">
        <div class="brand-slider" [class.active]="selectmaincategory == 'airjordan'">
          <img src="../../../assets/brands/jordan.png" class="img-fluid" alt="" />
          <p>Air Jordan</p>
        </div>
      </ion-slide>

      <ion-slide class="slide" (click)="setnikeCategory()">
        <div class="brand-slider" [class.active]="selectmaincategory == 'nike'">
          <img src="../../../assets/brands/nike.png" class="img-fluid" alt="" />
          <p>Nike</p>
        </div>
      </ion-slide>

    </ion-slides>
    

  </div>
  

  <div class=" row">
    <div class=" col-sm-12 top-brand-wrap">
      <h3>All Brands</h3>
    </div>
  </div>

  <div>
    
    <ng-template ngFor let-allcategory [ngForOf]="categories" >

      <div  class="service-list ion-no-padding ion-no-margin" (click)="setparentCategory(allcategory)">
        <!-- <ion-label class="service-header ion-no-padding ion-no-margin" position="stacked"> -->
          <ion-list lines="full"  class="ion-no-padding ion-no-margin">
            <ion-item class="main-category ion-no-padding ion-no-margin" [class.selected]="(selectmaincategory == allcategory.slug)">
              <ion-label>{{allcategory.title}}</ion-label>
              <ion-icon [name]="selectmaincategory == allcategory.slug?'chevron-down-outline':'chevron-forward-outline'" slot="end" color="light"></ion-icon>
            </ion-item>
          </ion-list>
        <!-- </ion-label> -->
        
        <ion-list lines="full"  class="duration-list ion-no-padding ion-no-margin" *ngIf="allcategory.categories.length > 0 && selectmaincategory == allcategory.slug">
          <ng-template ngFor let-subcategory [ngForOf]="allcategory.categories">
           
            <ion-item lines="full" class="duration-list-header ion-no-padding ion-no-margin"  [class.selected]="((selectcategory == subcategory.slug) || ((!selectcategory) && (selectmaincategory == allcategory.slug)))" (click)="setCategory(subcategory,1);$event.stopPropagation()" >
              <span class="bullet"></span>
              <ion-label><small>{{subcategory.title}}</small></ion-label>
              <ion-icon [name]="selectcategory == subcategory.slug?'chevron-down-outline':'chevron-forward-outline'" side="end" color="light"></ion-icon>
            </ion-item>

            <ion-list lines="full"  class="duration-list ion-no-padding ion-no-margin" *ngIf="selectcategory == subcategory.slug">
              <ng-template ngFor let-subsubcategory [ngForOf]="subcategory.subcategories">
                <ion-item lines="full" class="duration-list-subheader ion-no-padding ion-no-margin"  [class.selected]="((selectchildcategory == subsubcategory.slug) || ((!selectchildcategory) && (selectcategory == subcategory.slug)) )" (click)="setCategory(subsubcategory,2);$event.stopPropagation()">
                  <span class="bullet-circle"></span>
                  <ion-label><small>{{subsubcategory.title}}</small></ion-label>
                  <ion-icon name="chevron-forward-outline" side="end" color="light"></ion-icon>
                </ion-item>
                </ng-template>
            </ion-list>


          </ng-template>
        </ion-list>
      </div>

    </ng-template>
    
    

  </div>


  
</div>
<ion-footer class="ion-no-border" >
  <ion-toolbar>
    <ion-button expand="block" color="light" class="viewResults" (click)="viewResult()">View results</ion-button>
  </ion-toolbar>
</ion-footer>
              
</ion-content>
