ion-toolbar {
  --background: #1d1c1e;
  ion-title {
    color: #fff;
    position: absolute;
    top: 13px;
    left: 50%;
    transform: translateX(-50%);
  }
  ion-icon {
    color: #fff;
  }
  .backbtn {
    color: #fff;
    padding: 15px;
  }
  ion-button {
    float: right;
    --padding: 0;
    --background: #1d1c1e;
    font-size: 14px;
    color: #bbb;
  }
  ion-back-button {
  }


}


ion-content {
  --ion-background-color: #1d1c1e;
  .filter-header{
    color: #fff;
    h4 {
      text-align: center;
      font-size: 20px;
    }
    p{
      text-align: right;
    }
  }
  ion-card {
    width: 150px;
    box-shadow: none;
    background-color: #333333;
  }
  .top-brand-wrap {
    text-align: left;
    color: #c5c5c5;
    margin-bottom: 0;
    h3 {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
  }
  .slick-slider {
    margin: 0 0 30px 0;
  }
  .brand-slider {
    background-color: #333333;
    padding: 20px;
    border-radius: 20px;
    color: #999999;
    margin-right: 15px;
    p {
      padding: 0;
      margin: 10px 0 0 0;
      text-align: center;
      font-size: 12px;
    }
  }
  .brand-slider.active {
    background-color: #fff;
    color: #1d1c1e;
    img{
      filter: invert(60%) sepia(23%) saturate(5%) hue-rotate(71deg) brightness(0%) contrast(89%);
    }
  }
  ion-item {
    --border-color: #999999;
    --color: #999999;
    margin: 0;
    padding: 0;
  }
  ion-list {
    width: 100%;
  }
  .bullet {
		display: inline-block;
		width: 8px;
		height: 8px;
		position: absolute;
		background-color: #ffffff;
		border-radius: 50%;
	}
  .underItem {
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    i {
      font-size: 10px;
      margin: 0 5px 0 0;
    }
  }
  .viewResults {
    margin: 0 0 15px 0;
  }
  .slick-slide img {
    height: 50px;
    margin: 0 auto;
  }
  .duration-list-header {
    ion-label.sc-ion-label-md-h{
      padding-left: 20px;
    }
  }
  .main-category {
    ion-label{
      font-size: 15px !important;
      font-weight: 400;
      color: #d4cccc !important;
      text-transform: capitalize;
    }
    
  }
  .main-category.selected {
    > ion-label {
      color: #fff !important;
      font-weight: 500;
  }
 }
  .duration-list-subheader  {
    ion-label{
      padding-left: 40px;
    }
    span.bullet-circle {
      width: 8px;
      height: 8px;
      position: absolute;
      left: 20px;
      border: solid 1px #fff;
      border-radius: 50%;
    }
  }


  .selected {
    small {
      color: #fff;
    }
    span.bullet-circle {
      background: #fff;
    }
  }

  ion-footer{
    position: fixed;
    --background-color: #1d1c1e;
    bottom: 0;
    padding: 10px 15px;
    left: 0;
    right: 0;
    background: #1d1c1e;
      ion-button{
        width: 100%;
        min-height: 47px;
        margin: 0;
        font-weight: 600;
        color: #333;
        text-transform: unset;
      }
  }

  .col p {
      text-align: right;
  }
  .col h4 {
      font-weight: 600;
  }

  .swiper-container {
      margin-bottom: 20px;
  }

  
  
}
