::ng-deep .buypopup-tabs .modal-wrapper {
  height: 100%;
  width: 100%;
}
.product-view {
  background: #1d1c1e;
  height: 100%;
  color: #fff;
  padding: 0;
  position: relative;
  overflow-y: scroll;
}
.product-view h5 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
}
span.closebtn {
  position: absolute;
  right: 20px;
  top: 20px;
  display: inline-block;
}
span.backbtn {
  position: absolute;
  left: 20px;
  top: 20px;
  display: inline-block;
}
.content-wrap p {
  font-size: 12px;
  color: #fff;
  width: auto;
  padding: 0px;
  font-weight: 600;
}
.content-wrap p.active {
  border-bottom: solid 1px #fff;
  opacity: 1 !important;
}
span.content-wrap {
  display: inline-block;
  margin-right: 15px;
  text-transform: uppercase;
}
span.content-wrap:last-child {
  margin-right: 0 !important;
  float: right;
  text-transform: capitalize;
}
span.value {
  font-size: 10px;
  display: block;
  clear: both;
  width: 100%;
}
button.button-native {
  border-radius: 12px;
}
.links ul {
  margin: 0 0 15px 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
.links ul li {
  display: inline;
}
.links ul li a {
  font-size: 12px;
  color: #fff;
  margin-right: 15px;
}
.links ul li:last-child {
  float: right;
  margin-right: 0 !important;
  font-size: 10px;
}
.btn-sec {
  max-height: 385px;
  overflow-y: scroll;
  padding-bottom: 10px;
}
ion-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-flow: wrap;
}
ion-button.ion-focusable.hydrated {
  color: #fff;
  width: 72px;
  min-height: 72px;
}
.button-inner {
  flex-flow: column;
}
.full {
  color: #fff;
  font-size: 24px;
  padding-top: 10px;
  font-weight: 600;
}
.value {
  font-size: 12px;
  display: block;
  clear: both;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  color: #FFFFFF;
  opacity: 0.75;
  font-weight: 600;
}
.offer-wrapper {
  padding: 20px 20px 0px 20px;
  position: relative;
  background: #1d1c1e;
}
.product-img-wrap {
  padding: 20px;
  text-align: center;
  background: #fff;
  color: #000;
}
.product-img-wrap img {
  max-width: 154px;
  margin: 20px auto 10px;
}
.product-img-wrap h5 {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}
.product-sku {
  font-size: 12px;
  color: rgba(51,51,51,0.75);
  text-transform: uppercase;
  font-weight: 600;
}
.text-center {
  text-align: center;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #fff;
  border-collapse: collapse;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #dee2e6;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.75;
  
}
.table td,
.table th {
  padding: 0.5rem;
  vertical-align: top;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #dee2e6;
  color: #ffffff;
  letter-spacing: 1px;
}

.button {
  --border-radius: 15px;
  --border-width: 1px;
  --border-style: solid;
  --border-color: rgba(255,255,255,0.3);
  --background:rgba(255,255,255,0);
}
.button[disabled] {
   --background: #333333;
   --color:#464646;
   --border-width: 1px;
  --border-style: solid;
  --border-color: #333333;
  
}


/* New Css for font changes*/
.offer-wrapper ion-icon {
  font-size: 23px;
}

.content-wrap.tab p {
  opacity: 0.75;
  letter-spacing: 1px;
}

.content-wrap.sizecart p{
  text-decoration: underline;
}
p.gender-heading{
  opacity: 0.75;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.btn-sec ion-grid {
  padding: 0;
}

.ion-align-self-center {
  padding: 0;
}