  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>login</ion-title>
    </ion-toolbar>
  </ion-header> -->

  
<ion-toolbar>
  <ion-back-button defaultHref="/landing" slot="start" color="dark"></ion-back-button>
</ion-toolbar>


  <ion-content class="ion-padding">
       
  <form #f="ngForm" name="form"  (ngSubmit)=" f.form.valid && resetpassword(f.form)">
    <ion-grid>
      <ion-row color="primary" class="ion-justify-content-center">
        <ion-col class="ion-align-self-end" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-left">
            <h3 class="form-heading">Reset Password</h3>
            <p>Enter your email address to reset your password.</p>
          </div>
          <div class="t-b-padding fr-gp">
            <div class="form-group">
              <input type="text" class="form-control" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" name="email" placeholder="Email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                            <div *ngIf="email.errors.required">Email is required</div>                          
                            <div *ngIf="email.invalid">Email must be a valid email address</div>
                        </div>
            </div>
          </div>
          <div class="ion-padding submit-btn">
            <button type="submit"  class="btn  primary-btn">Reset Password</button>
          </div>
          <div class="err_response">{{ err_response }}</div>
          <div class="succ_response" *ngIf="model.success">Email sent. Did not get it? <b (click)="resendResetEmail()">Resend email</b></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>