*,
html {
  font-family: "HKGroteskRegular";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HKGroteskBlack";
  src: url("../fonts/hk-grotesk/Black/HKGroteskBlack.eot");
  src: url("../fonts/hk-grotesk/Black/HKGroteskBlack.eot")
      format("embedded-opentype"),
    url("../fonts/hk-grotesk/Black/HKGroteskBlack.woff2") format("woff2"),
    url("../fonts/hk-grotesk/Black/HKGroteskBlack.woff") format("woff"),
    url("../fonts/hk-grotesk/Black/HKGroteskBlack.ttf") format("truetype"),
    url("../fonts/hk-grotesk/Black/HKGroteskBlack.svg#HKGroteskBlack")
      format("svg");
}

@font-face {
  font-family: "HKGroteskRegular";
  src: url("../fonts/hk-grotesk/Regular/HKGroteskRegular.eot");
  src: url("../fonts/hk-grotesk/Regular/HKGroteskRegular.eot")
      format("embedded-opentype"),
    url("../fonts/hk-grotesk/Regular/HKGroteskRegular.woff2") format("woff2"),
    url("../fonts/hk-grotesk/Regular/HKGroteskRegular.woff") format("woff"),
    url("../fonts/hk-grotesk/Regular/HKGroteskRegular.ttf") format("truetype"),
    url("../fonts/hk-grotesk/Regular/HKGroteskRegular.svg#HKGroteskRegular")
      format("svg");
}

@font-face {
  font-family: "HKGroteskSemiBold";
  src: url("../fonts/hk-grotesk/SemiBold/HKGroteskSemiBold.eot");
  src: url("../fonts/hk-grotesk/SemiBold/HKGroteskSemiBold.eot")
      format("embedded-opentype"),
    url("../fonts/hk-grotesk/SemiBold/HKGroteskSemiBold.woff2") format("woff2"),
    url("../fonts/hk-grotesk/SemiBold/HKGroteskSemiBold.woff") format("woff"),
    url("../fonts/hk-grotesk/SemiBold/HKGroteskSemiBold.ttf") format("truetype"),
    url("../fonts/hk-grotesk/SemiBold/HKGroteskSemiBold.svg#HKGroteskSemiBold")
      format("svg");
}

@font-face {
  font-family: "HKGroteskMedium";
  src: url("../fonts/hk-grotesk/Medium/HKGroteskMedium.eot");
  src: url("../fonts/hk-grotesk/Medium/HKGroteskMedium.eot")
      format("embedded-opentype"),
    url("../fonts/hk-grotesk/Medium/HKGroteskMedium.woff2") format("woff2"),
    url("../fonts/hk-grotesk/Medium/HKGroteskMedium.woff") format("woff"),
    url("../fonts/hk-grotesk/Medium/HKGroteskMedium.ttf") format("truetype"),
    url("../fonts/hk-grotesk/Medium/HKGroteskMedium.svg#HKGroteskMedium")
      format("svg");
}

@font-face {
  font-family: "HKGroteskBold";
  src: url("../fonts/hk-grotesk/Bold/HKGroteskBold.eot");
  src: url("../fonts/hk-grotesk/Bold/HKGroteskBold.eot")
      format("embedded-opentype"),
    url("../fonts/hk-grotesk/Bold/HKGroteskBold.woff2") format("woff2"),
    url("../fonts/hk-grotesk/Bold/HKGroteskBold.woff") format("woff"),
    url("../fonts/hk-grotesk/Bold/HKGroteskBold.ttf") format("truetype"),
    url("../fonts/hk-grotesk/Bold/HKGroteskBold.svg#HKGroteskBold")
      format("svg");
}

@font-face {
  font-family: "HK Grotesk Regular";
  font-style: normal;
  font-weight: normal;
  src: local("HK Grotesk Regular"),
    url("../fonts/HKGrotesk-Regular.woff") format("woff");
}

@font-face {
  font-family: "HK Grotesk Regular Legacy";
  font-style: normal;
  font-weight: normal;
  src: local("HK Grotesk Regular Legacy"),
    url("../fonts/HKGrotesk-RegularLegacy.woff") format("woff");
}

@font-face {
  font-family: "HK Grotesk Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HK Grotesk Italic"),
    url("../fonts/HKGrotesk-Italic.woff") format("woff");
}

@font-face {
  font-family: "HK Grotesk Legacy Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HK Grotesk Legacy Italic"),
    url("../fonts/HKGrotesk-LegacyItalic.woff") format("woff");
}

@font-face {
  font-family: "HK Grotesk Light";
  font-style: normal;
  font-weight: normal;
  src: local("HK Grotesk Light"),
    url("../fonts/HKGrotesk-Light.woff") format("woff");
}

@font-face {
  font-family: "HK Grotesk Light Legacy";
  font-style: normal;
  font-weight: normal;
  src: local("HK Grotesk Light Legacy"),
    url("../fonts/HKGrotesk-LightLegacy.woff") format("woff");
}

@font-face {
  font-family: "HK Grotesk Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HK Grotesk Light Italic"),
    url("../fonts/HKGrotesk-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "HK Grotesk Light Legacy Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HK Grotesk Light Legacy Italic"),
    url("../fonts/HKGrotesk-LightLegacyItalic.woff") format("woff");
}

@font-face {
  font-family: "HK Grotesk Medium";
  font-style: normal;
  font-weight: normal;
  src: local("HK Grotesk Medium"),
    url("../fonts/HKGrotesk-Medium.woff") format("woff");
}

@font-face {
  font-family: "HK Grotesk Medium Legacy";
  font-style: normal;
  font-weight: normal;
  src: local("HK Grotesk Medium Legacy"),
    url("../fonts/HKGrotesk-MediumLegacy.woff") format("woff");
}

@font-face {
  font-family: "HK Grotesk Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HK Grotesk Medium Italic"),
    url("../fonts/HKGrotesk-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "HK Grotesk Medium Legacy Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HK Grotesk Medium Legacy Italic"),
    url("../fonts/HKGrotesk-MediumLegacyItalic.woff") format("woff");
}

@font-face {
  font-family: "HK Grotesk SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("HK Grotesk SemiBold"),
    url("../fonts/HKGrotesk-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "HK Grotesk SemiBold Legacy";
  font-style: normal;
  font-weight: normal;
  src: local("HK Grotesk SemiBold Legacy"),
    url("../fonts/HKGrotesk-SemiBoldLegacy.woff") format("woff");
}

@font-face {
  font-family: "HK Grotesk SemiBold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HK Grotesk SemiBold Italic"),
    url("../fonts/HKGrotesk-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "HK Grotesk SemiBold Legacy Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HK Grotesk SemiBold Legacy Italic"),
    url("../fonts/HKGrotesk-SemiBoldLegacyItalic.woff") format("woff");
}

@font-face {
  font-family: "HK Grotesk Bold";
  font-style: normal;
  font-weight: 700;
  src: local("HK Grotesk Bold"),
    url("../fonts/HKGrotesk-Bold.woff") format("woff");
}

@font-face {
  font-family: "HK Grotesk Bold Legacy";
  font-style: normal;
  font-weight: bold;
  src: local("HK Grotesk Bold Legacy"),
    url("../fonts/HKGrotesk-BoldLegacy.woff") format("woff");
}

@font-face {
  font-family: "HK Grotesk Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HK Grotesk Bold Italic"),
    url("../fonts/HKGrotesk-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "HK Grotesk Bold Legacy Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HK Grotesk Bold Legacy Italic"),
    url("../fonts/HKGrotesk-BoldLegacyItalic.woff") format("woff");
}
