<!-- <ion-header>
  <ion-toolbar>
    <ion-title>product-how-to-buy-popup</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="main-buying-wrap">
      <div class="back-btn-wrap" (click)="closeModal()"><i class="fas fa-arrow-left"></i></div>
      <h4>How selling on BRED works</h4>
      <div class="buying-wrap">
        <h5>Sell Now or List Item</h5>
        <p>Sell now at the current highest offer, or list your item for everyone to see.</p>
        </div>
      <div class="buying-wrap">
          <h5>Sneakers must be new and authentic</h5>
          <p>Sneakers must be authentic, new, with the original box and undamaged packaging.</p>
      </div>
      <div class="buying-wrap">
          <h5>Ship the shoes</h5>
          <p>If you're matched with a buyer, we'll notify you and send you a prepaid shipping label with further instructions to complete your sale.</p>
      </div>
      <div class="buying-wrap">
          <h5>Get paid!</h5>
          <p>Once we receive and verify the authenticity of your sneakers, we'll send your payout via Paypal within 1-2 business days.</p>
      </div>
      <div class="main-exclamation-wrap">
          <div class="exclamation-wrap"><i class="fas fa-exclamation-circle"></i></div>
          <p>Sellers must ship within 2 business days after successfully matching with a buyer. There is a minimum 15% penalty for items that are not shipped on time, counterfeit, damaged, used, or does not fit the description of the item being sold. </p>
      </div>
      <button type="button" class="btn btn-primary" (click)="loadsellpage()">Continue</button>
      <div class="form-check">
          <ion-checkbox color="dark" class="form-check-input" mode="md" (ionChange)="checkedmessagepopupagain($event)"></ion-checkbox>
          <label class="form-check-label" for="exampleCheck1">Don't show this message again.</label>
      </div>

  </div>
</ion-content>