.main-buying-wrap {
    padding: 15px;
}
.main-buying-wrap h4 {
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0px 20px 0px;
    color: #1D1C1E;
}
.back-btn-wrap i {
    font-size: 18px;
}
.buying-wrap h5 {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
}
.buying-wrap p {
    font-size: 14px;
    color: #333333;
    opacity: 0.75;
    font-weight: 500;
}
.buying-wrap {
    position:relative;
    padding-left: 80px;
    margin-bottom: 25px;
}
.buying-wrap::before {
    content: "";
    width: 60px;
    height: 60px;
    background-color: #d8d8d8;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.main-buying-wrap .btn {
    width: 100%;
    background: #1d1c1e;
    border-color: #1d1c1e;
    padding: 12px 0px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
}
.form-check {
    position: relative;
    display: block;
    padding-left: 1.5rem;
}
.form-check-input {
    position: absolute;
    margin-top: 1px;
    margin-left: 0px;
    left: 0px;
    --border-radius: 4px;
    --border-width: 1px;
    --border-color: #DCD8E6;
}
.main-buying-wrap .form-check label {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
}

.main-exclamation-wrap {
    position: relative;
}
.main-exclamation-wrap .exclamation-wrap {
    position: absolute;
    left: 0;
    top: 0;
    color: #333333;
}
.main-exclamation-wrap .exclamation-wrap i {
    color: #333333;
    font-size: 19px;
}
.main-exclamation-wrap p {
    font-size: 12px;
    padding-left: 30px;
    font-weight: 500;
    color: #333333;
    opacity: 0.75;
}
