<ion-content>
  <div class="main_head">
    <div class="col" (click) = "goback()">
      
      <i class="fas fa-arrow-left"></i>
      <h5 class="text-center product-title"> 
        
        <span class="first">{{product.title}}</span>
         <span   *ngFor="let data of productsizes">          
          <span class="second" *ngIf="data[0].id == productsizeid"> / Size
            <span *ngIf="data[0].value else blanklowestask">
             {{data[0].value}}
            </span>
          </span>
        </span>
        </h5>
      
    </div>
    

  </div>
<div class="content-wrap">
  <div class="price_list">
    <i class="fas fa-caret-down" aria-hidden="true"></i> Lowest Price: 
    <div  *ngFor="let data of productsizes">
      <span *ngIf="data[0].id == productsizeid">
        <span *ngIf="data.lowest_ask else blanklowestask">
          $ {{data.lowest_ask.lowest_ask_price}}
        </span>
      </span>
    </div >
    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
    <i class="fas fa-caret-up" aria-hidden="true"></i> Highest OFFER: 
    <div  *ngFor="let data of productsizes">
      <span *ngIf="data[0].id == productsizeid">
        <span *ngIf="data.highest_bid else blanklowestask">
          $ {{data.highest_bid.highest_bid_price}}
        </span>
      </span>
    </div >
  </div>

  <div class="payment-section">
    <h1>${{bidamount}}</h1>
    <p>Total Payment: CA ${{ordertotal.toFixed(2)}}</p>
  </div>
  <div class="bid_msg">{{bidmessage}}</div>

  
</div>

<div class="number_wrapper">
  <ion-button size="large" class="keboard-button" (click)="adjustbidamount('1')">1</ion-button>
  <ion-button size="large" class="keboard-button" (click)="adjustbidamount('2')">2</ion-button>
  <ion-button size="large" class="keboard-button" (click)="adjustbidamount('3')">3</ion-button>
  <ion-button size="large" class="keboard-button"(click)="adjustbidamount('4')">4</ion-button>
  <ion-button size="large" class="keboard-button" (click)="adjustbidamount('5')">5</ion-button>
  <ion-button size="large" class="keboard-button" (click)="adjustbidamount('6')">6</ion-button>
  <ion-button size="large" class="keboard-button" (click)="adjustbidamount('7')">7</ion-button>
  <ion-button size="large" class="keboard-button" (click)="adjustbidamount('8')">8</ion-button>
  <ion-button size="large" class="keboard-button" (click)="adjustbidamount('9')">9</ion-button>
</div>
  <div class="reverse_grid">
    <ion-button size="large" class="keboard-button" (click)="adjustbidamount('0')">0</ion-button>
    <!-- <ion-button (click)="clearbidamount()"></ion-button> -->
    <!-- <i class="fas fa-backspace" (click)="clearbidamount()" ></i> -->
    <ion-icon name="backspace-outline" (click)="clearbidamount()"></ion-icon>
  </div>

</ion-content>
<ion-footer>
  <ion-button expand="full" (click)="loadreviewmodal()" [disabled]="(bidamountnumber == previousamount ||  bidamountnumber < 25)?true:false">Continue</ion-button>
</ion-footer>
<ng-template #blanklowestask>
  --
</ng-template>