// .review-purchase {
//   background: var(--ion-color-dark,#000);;
//   color: #fff;
//   position: relative;
//   min-height: 30vh;
//   padding: 20px;
// }

// .review-purchase span.closebtn {
//   position: absolute;
//   right: 20px;
//   top: 17px;
//   display: inline-block;
// }
// .review-purchase span.backbtn {
//   position: absolute;
//   left: 20px;
//   top: 20px;
//   display: inline-block;
// }
// .product-img-wrap {
//   display: block;
//   position: relative;
//   padding-top: 20px;
//   min-height: 140px;
//   margin-bottom: 30px;
// }
// .product-img-wrap img {
//   max-width: 153px;
//   margin-right: 15px;
//   position: absolute;
//   bottom: 0;
//   display: inline-block;
// }
// .product-text {
//   display: block;
//   text-align: right;
//   padding-left: 130px;
// }
// .offer-wrapper {
//   padding: 16px 0 70px 0px !important;
//   position: relative;
//   height: auto;
//   border-radius: 20px 20px 0 0;
//   background: #fff;
//   margin-top: -20px;
// }

// .product-img-wrap h5 {
//   margin-bottom: 6px;
//   font-size: 24px;
//   font-weight: bold;
//   margin-top: 10px; 
// }
// .price-size {
//   margin-top: 22px;
// }
// .product-sku,
// .size {
//   font-size: 12px;
//   color: #FFFFFF;
//   text-transform: uppercase;
//   letter-spacing: 1px;
//   font-weight: 600;
// }
// .size{
//   opacity: 0.75;
// }
// .price {
//   font-size: 20px;
//   color: #fff;
//   font-weight: 600;
//   text-transform: uppercase;
// }
// .payment-info {
//   background: #F5F5F5;
//   padding: 8px 15px 5px 20px;
//   display: block;
//   border-radius: 0 8px 8px 0;
//   margin: 5px 20px 5px 0px;
//   font-size: 12px;
//   line-height: 36px;
//   // text-transform: uppercase;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }
// .payment-info span {
//   font-size: 12px;
//   color: #333333;
//   font-weight: 600;
//   opacity: 0.75;
//   letter-spacing: 1px;
// }
// img.card-type {
//   max-width: 30px;
// }
// .card-btn {
//   display: flex;
//   float: right;
//   font-size: 14px;
//   color: #333333;
//   font-weight: 500;
//   align-items: center;
// }
// .card-btn ion-icon {
//   font-size: 18px;
//   color: #333333;
//   opacity: 0.75;
// }
// ion-icon.arrow-rt.ios.hydrated {
//   font-size: 18px;
//   vertical-align: middle;
//   color: #666;
// }
// .promo-code-sec {
//   padding: 18px 20px 0px;
// }
// .promo-code {
//   background: #efefef;
//   padding: 0px 15px;
//   border-radius: 6px;
//   font-size: 14px;
//   text-align: left;
//   color: #000;
// }
// .subtoal-cta {
//   display: block;
//   float: left;
//   width: 100%;
//   padding: 16px 20px 0px;
//   font-size: 12px;
//   color: #666;
// }
// .subtotal-row {
//   display: block;
//   width: 100%;
//   clear: both;
//   float: left;
//   margin-bottom: 8px;
// }
// .subtotal-row.last {
//   padding-top: 10px;
//   border-top: solid 1px #DCD8E6;
// }
// // .subtotal-row.last span.dir-right {
// //    color: #000 !important;
// // }
// .subtotal-row span.dir-left {
//   text-transform: uppercase;
//   font-weight: 600;
//   color: #333333;
//   opacity: 0.75;
//   letter-spacing: 1px;
// }
// .subtotal-row span.dir-right {
//   font-size: 14px;
//   color: #333333;
//   font-weight: bold;
//   opacity: 0.75;
// }
// .dir-left {
//   float: left;
// }
// .dir-right {
//   float: right;
// }
// .btm-txt {
//   font-size: 12px;
//   padding: 20px;
//   color: #666;
//   width: 100%;
//   clear: both;
// }
// .swip-btn {
//   float: left;
//   display: block;
//   width: 100%;
//   padding: 0 20px;
// }
// .card-btn {
//   span {
//     display: inline-block;
//     width: auto;
//     overflow: hidden;
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     line-height: normal;
//     vertical-align: middle;
//     margin-left: 5px;
//     color: #333333;
//     font-size: 14px;
//     font-weight: 500 !important;
//     opacity: 1;
//     letter-spacing: 0px;
//     max-width: 153px;
//     text-align: right;
//   }
// }
// p.check-txt {
//   font-size: 14px;
//   line-height: 1.3;
//   display: inline-block;
//   width: 100%;
//   padding: 0 15px 0px 40px;
//   color: #333333;
//   position: relative;
//   font-weight: 500;
//   ion-checkbox.md.interactive.hydrated {
//     max-width: 18px;
//     margin-right: 5px;
//     width: 100%;
//     position: absolute;
//     top: 0px;
//     left: 15px;
//     --border-width: 1px;
//     --border-radius: 4px;
//     --background: #ffffff;
//     --border-color: #DCD8E6;
//   }
// }
// .offer-wrapper {
//   ion-text {
//     display: block;
//     clear: both;
//     padding: 0px 20px;
//   }
// }

// h5.text-center{
//   text-align: center!important;
//   font-size: 16px;
//   font-weight: 600;
//   color: #fff;
// }

// .review-purchase ion-icon {
//   font-size: 23px;
// }

// .error-text {
//   color: #c50909;
// }

// .card-btn.error-text span {
//   color: #c50909 !important;
// }

// p.seller-creditcard-info {
//   font-weight: 500;
//   opacity: 0.75;
//   color: #333333;
//   font-size: 12px;
//   margin: 12px 0 0;
//   padding: 0 20px;
// }

// .subtotal-row.last .txt-blk {
//   opacity: 1 !important;
// }

// span.card-number {
//   width: auto !important;
// }

// /* New Css for font changes*/
// // h1,h2,h3,h4,h5,div,p,span, ion-button{
// //   font-family: 'HK Grotesk Regular' !important;
// // }


// // p.seller-creditcard-info {
// //   font-weight: 500;
// //   opacity: 0.75;
// //   color: #333333;
// //   font-size: 12px;
// //   margin: 12px 0 0;
// //   padding: 0 20px;
// // }
// // .review-purchase ion-icon {
// //   font-size: 23px;
// // }
// // .review-purchase h5 {
// //   font-weight: 600;
// //   color: #ffffff;
// //   font-size: 16px;
// // }
// // .product-img-wrap h5 {
// //   font-weight: bold !important;
// // }
// // .product-sku, .size {
// //   color: #ffffff !important;
// //   font-size: 12px !important;
// //   font-weight: 600 !important;
// // }
// // .size{
// //   opacity: 0.75;
// // }
// // .price {
// //   font-weight: 600 !important;
// //   font-size: 20px !important;
// //   color: #fff !important;
// // }
// // .payment-info span {
// //   font-weight: bold !important;
// //   opacity: 0.75;
// //   color: #333333 !important;
// //   font-size: 12px;
// //   font-weight: 600 !important;
// // }
// // .card-btn, .card-btn span {
// //   font-size: 14px !important;
// //   opacity: 1 !important;
// //   font-weight: 600 !important;
// //   color: #333333 !important;
// // }

// // .card-btn.error-text {
// //   color: #c50909 !important;
// // }

// // .subtotal-row span.dir-left {
// //   font-weight: 600 !important;
// //   color: #333333 !important;
// //   opacity: 0.75;
// // }

// // .subtotal-row span.dir-right {
// //   font-weight: bold !important;
// //   color: #333333 !important;
// //   opacity: 0.75;
// // }

// // .subtotal-row.last span.dir-right{
// //   opacity: 1 !important;
// // }
// // p.check-txt {
// //   // font-family: 'HK Grotesk Regular' !important;
// //   font-weight: 600 !important;
// // }
// // ion-button {
// //   font-weight: bold !important;
// // }

