@font-face {
    font-family: 'HKGroteskMedium';
    src: url('fonts/HKGroteskMedium.eot');
    src: url('fonts/HKGroteskMedium.eot') format('embedded-opentype'),
         url('fonts/HKGroteskMedium.woff2') format('woff2'),
         url('fonts/HKGroteskMedium.woff') format('woff'),
         url('fonts/HKGroteskMedium.ttf') format('truetype'),
         url('fonts/HKGroteskMedium.svg#HKGroteskMedium') format('svg');
}
