<!-- <ion-header>
  <ion-toolbar>
    <ion-label>
      <ion-icon  class="fas fa-arrow-left" (click)="back()"></ion-icon>
       <ion-back-button icon="" text="" color="light"><ion-icon  class="fas fa-arrow-left"></ion-icon>  </ion-back-button>
    </ion-label>
    <ion-title></ion-title>
    <ion-button ></ion-button>
  </ion-toolbar>
</ion-header> -->

<ion-toolbar color="dark">
  <!-- <ion-back-button defaultHref="/payment-settings" (click)="back()" class="header" slot="start" color="light"></ion-back-button> -->
  <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
  <ion-button id="paymentsavebutton" fill="clear" slot="end" [disabled]="!editpayment.valid">Save</ion-button>
  <ion-title>Payment</ion-title>
</ion-toolbar>

<ion-content>
  


<form #f="ngForm" [formGroup]="editpayment">
  <ion-list>
    <!-- <ion-item lines="none">
      <div class="input_form">
        <ion-label>Payment Method</ion-label>
        <ion-select value="credit-card" okText="Okay" cancelText="Dismiss" formControlName="paymentmethod" [class.invalid]="!editprofile.controls.paymentmethod.valid && (editprofile.controls.paymentmethod.dirty || submitAttempt)">
          <ion-select-option value="credit-card">Credit Card</ion-select-option>
        </ion-select>
        <ion-text lines="none" *ngIf="!editprofile.controls.paymentmethod.valid && editprofile.controls.paymentmethod.errors && editprofile.controls.paymentmethod.errors.required &&  !editprofile.controls.paymentmethod.pending  && (editprofile.controls.paymentmethod.dirty || submitAttempt)">
          <ion-label class="invalid-feedback">Payment Method is requried</ion-label>
        </ion-text>
      </div>
    </ion-item> 
    <ion-text><h3>Card Information</h3></ion-text>
    -->


    <div class="showCard" *ngIf="paymentInformation && !paymentresponse">

      <ng-container [ngSwitch]="paymentInformation.payment_method">
        <ng-template [ngSwitchCase]="'paypal'">
          <ion-item lines="none" class="ion-no-padding active">
            <img class="card-type" src="../../../assets/icon/paypal-icon.png" style="width: 35px; height: 22px;"/>
  
           
            <ion-label>
              <h3>{{paymentInformation.email}}</h3>
              <p>Paypal</p>
            </ion-label>
            <ion-icon name="checkmark-circle" slot="end"></ion-icon>
          </ion-item>
        </ng-template>

        <ng-template [ngSwitchCase]="'credit-card'">
          <ion-item lines="none" class="ion-no-padding active">
            <ng-container [ngSwitch]="paymentInformation.type">
              <ng-template [ngSwitchCase]="'Visa'">
                <ion-thumbnail slot="start">
                  <img class="card-type" src="../../../assets/icon/visa.png" />
                </ion-thumbnail>
              </ng-template>
              <ng-template [ngSwitchCase]="'MasterCard'" >
                <ion-thumbnail slot="start">
                  <img class="card-type" src="../../../assets/icon/mastercard.png" />
                </ion-thumbnail>
              </ng-template>
              <ng-template [ngSwitchCase]="'Discover'" >
                <img class="card-type" src="../../../assets/images/discover.png" style="width: 35px; height: 22px;"/>
              </ng-template>
              <ng-template [ngSwitchCase]="'American Express'" >
                <img class="card-type" src="../../../assets/images/american-express.png" style="width: 35px; height: 22px;"/>
              </ng-template>
              <ng-template [ngSwitchCase]="'JCB'" >
                <img class="card-type" src="../../../assets/images/if_Mastercard-Curved_70593.png" style="width: 35px; height: 22px;"/>
              </ng-template>
            </ng-container>
  
           
            <ion-label>
              <h3>Ending in {{paymentInformation.number}}</h3>
              <ng-container [ngSwitch]="paymentInformation.type">
                <ng-template [ngSwitchCase]="'Visa'">
                  <p>Visa</p>
                </ng-template>
                <ng-template [ngSwitchCase]="'MasterCard'" >
                  <p>Master Card</p>
                </ng-template>
                <ng-template [ngSwitchCase]="'Discover'" >
                  <p>Discover</p>
                </ng-template>
                <ng-template [ngSwitchCase]="'American Express'" >
                  <p>American Express</p>
                </ng-template>
                <ng-template [ngSwitchCase]="'JCB'" >
                  <p>JCB</p>
                </ng-template>
              </ng-container>
              
            </ion-label>
            <ion-icon name="checkmark-circle" slot="end"></ion-icon>
          </ion-item>
        </ng-template>

      </ng-container>


      
    </div>

    <ion-item lines="none">
      <div  class="input_form">
        <div id="dropin-container"></div>
      </div>
    </ion-item>
    
    <ion-text>
      <h3 class="billingHead">Billing Address</h3>
    </ion-text>
    <ion-item lines="none">
      <div class="input_form">
        <ion-label>Full Name</ion-label>
        <ion-input type="text" formControlName="billingname" [class.invalid]="!editpayment.controls.billingname.valid && (editpayment.controls.billingname.dirty || submitAttempt)"></ion-input>
        <ion-item lines="none" *ngIf="!editpayment.controls.billingname.valid && editpayment.controls.billingname.errors && editpayment.controls.billingname.errors.required  && (editpayment.controls.billingname.dirty || submitAttempt)">
          <div>Name is requried</div>
        </ion-item>
      </div>
    </ion-item>
    <ion-item lines="none">
      <div class="input_form">
        <ion-label>ADDRESS</ion-label>
       <ion-textarea formControlName="billingaddres1" [class.invalid]="!editpayment.controls.billingaddres1.valid && (editpayment.controls.billingaddres1.dirty || submitAttempt)"></ion-textarea>
        <ion-item lines="none" *ngIf="!editpayment.controls.billingaddres1.valid && editpayment.controls.billingaddres1.errors && editpayment.controls.billingaddres1.errors.required  && (editpayment.controls.billingaddres1.dirty || submitAttempt)">
          <div>Address is requried</div>
        </ion-item>
      </div>
    </ion-item>
    <!-- <ion-item lines="none">
      <div class="input_form">
        <ion-label>ADDRESS LINE 2</ion-label>
        <ion-input type="text" formControlName="billingaddres2" [class.invalid]="!editpayment.controls.billingaddres2.valid && (editpayment.controls.billingaddres2.dirty || submitAttempt)"></ion-input>
        <ion-item lines="none" *ngIf="!editpayment.controls.billingaddres2.valid && editpayment.controls.billingaddres2.errors && editpayment.controls.billingaddres2.errors.required  && (editpayment.controls.billingaddres2.dirty || submitAttempt)">
          <div>Address is requried</div>
        </ion-item>
      </div>
    </ion-item> -->
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6" class="ion-no-padding">
          <ion-item lines="none">
            <div class="input_form">
              <ion-label>Country</ion-label>
              <ion-select formControlName="billingcountry" placeholder="Select Country" [class.invalid]="!editpayment.controls.billingcountry.valid && (editpayment.controls.billingcountry.dirty || submitAttempt)">
                <ion-select-option value="CA">Canada</ion-select-option>
              </ion-select>
              <ion-item lines="none" *ngIf="!editpayment.controls.billingcountry.valid && editpayment.controls.billingcountry.errors && editpayment.controls.billingcountry.errors.required  && (editpayment.controls.billingcountry.dirty || submitAttempt)">
                <div>Country is requried</div>
              </ion-item>
            </div>
          </ion-item>
        </ion-col>
        <ion-col size="6" class="ion-no-padding">
          <ion-item lines="none">
            <div class="input_form">
              <ion-label>REGION</ion-label>
              <ion-select placeholder="Select Region" formControlName="billingregion" [class.invalid]="!editpayment.controls.billingregion.valid && (editpayment.controls.billingregion.dirty || submitAttempt)">
                <ion-select-option value="AB">Alberta</ion-select-option>
                <ion-select-option value="BC">British Columbia</ion-select-option>
                <ion-select-option value="MB">Manitoba</ion-select-option>
                <ion-select-option value="NB">New Brunswick</ion-select-option>
                <ion-select-option value="NL">Newfoundland and Labrador</ion-select-option>
                <ion-select-option value="NT">Northwest Territories</ion-select-option>
                <ion-select-option value="NS">Nova Scotia</ion-select-option>
                <ion-select-option value="ON">Ontario</ion-select-option>
                <ion-select-option value="PE">Prince Edward Island</ion-select-option>
                <ion-select-option value="QC">Quebec</ion-select-option>
                <ion-select-option value="SK">Saskatchewan</ion-select-option>
                <ion-select-option value="NU">Nunavut</ion-select-option>
                <ion-select-option value="YT">Yukon</ion-select-option>
              </ion-select>
              <ion-item lines="none" *ngIf="!editpayment.controls.billingregion.valid && editpayment.controls.billingregion.errors && editpayment.controls.billingregion.errors.required  && (editpayment.controls.billingregion.dirty || submitAttempt)">
                <div>Region is requried</div>
              </ion-item>
            </div>
          </ion-item>
        </ion-col>
        <ion-col size="6" class="ion-no-padding">
          <ion-item lines="none">
            <div class="input_form">
              <ion-label>City</ion-label>
              <ion-input type="text" formControlName="billingcity" [class.invalid]="!editpayment.controls.billingcity.valid && (editpayment.controls.billingcity.dirty || submitAttempt)"></ion-input>
              <ion-item lines="none" *ngIf="!editpayment.controls.billingcity.valid && editpayment.controls.billingcity.errors && editpayment.controls.billingcity.errors.required  && (editpayment.controls.billingcity.dirty || submitAttempt)">
                <div>City is requried</div>
              </ion-item>
            </div>
          </ion-item>
        </ion-col>
        <ion-col size="6" class="ion-no-padding">
          <ion-item lines="none">
            <div class="input_form">
              <ion-label>Postal Code</ion-label>
              <ion-input type="text" formControlName="billingpostalcode" [class.invalid]="!editpayment.controls.billingpostalcode.valid && (editpayment.controls.billingpostalcode.dirty || submitAttempt)" pattern="^[A-Za-z]\d[A-Za-z][ ]\d[A-Za-z]\d$"  id="zipcode" maxlength=7></ion-input>
              <ion-item lines="none" *ngIf="!editpayment.controls.billingpostalcode.valid && editpayment.controls.billingpostalcode.errors && editpayment.controls.billingpostalcode.errors.required  && (editpayment.controls.billingpostalcode.dirty || submitAttempt)">
                <div>Postal code is requried</div>
              </ion-item>
              <ion-item lines="none" *ngIf="!editpayment.controls.billingpostalcode.valid && editpayment.controls.billingpostalcode.errors && editpayment.controls.billingpostalcode.errors.pattern  && (editpayment.controls.billingpostalcode.dirty || submitAttempt)">
                <div>Postal code is incorrect format</div>
              </ion-item>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    
    
    
    <ion-item lines="none">
      <div class="input_form">
        <ion-label>Phone Number</ion-label>
        <ion-input type="text" formControlName="billingphone" [class.invalid]="!editpayment.controls.billingphone.valid && (editpayment.controls.billingphone.dirty || submitAttempt)"></ion-input>
        <ion-item lines="none" *ngIf="!editpayment.controls.billingphone.valid && editpayment.controls.billingphone.errors && editpayment.controls.billingphone.errors.required  && (editpayment.controls.billingphone.dirty || submitAttempt)">
          <div>Phone number is requried</div>
        </ion-item>
      </div>
    </ion-item>
    <ion-item lines="none">
      <div class="input_form_bottom">
        <ion-checkbox color="dark" formControlName="shiptobilling" [class.invalid]="!editpayment.controls.shiptobilling.valid && (editpayment.controls.shiptobilling .dirty || submitAttempt)" checked="true"></ion-checkbox>
        <ion-label>Ship to my billing address</ion-label>
        <p>Billing and shipping addresses must match.</p>
      </div>
    </ion-item>
    
    
  </ion-list>
</form>
</ion-content>
