ion-toolbar {
  // --background: #000;
  ion-title {
    color: #fff;
    margin: 6px 0 0 0;
    text-align: center;
    display: inline-block;
    padding: 0;
    width: calc(100% - 50px);
  }
  ion-icon {
    color: #fff;
    font-size: 26px;
    padding: 5px 8px;
    display: inline-block;
    
  }
  ion-button {
    float: right;
    --padding: 0;
    // --background: #000;
    font-size: 14px;
    --color: #fff;
  }
  ion-back-button {
     color: #fff;
  }
}
.invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545 !important;
}
ion-item {
  line-height: 1;
}

ion-content {
  --padding-top: 30px;
  ion-item {
    display: block;
    ion-label {
      width: 100% !important;
      display: block;
    }
    ion-input {
      width: 100% !important;
      display: block;
    }
  }
  .input_form {
    min-width: 100%;
    margin-bottom: 15px;
    ion-label {
      font-size: 12px;
      color: #5f5f5f;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 5px;
      letter-spacing: 1px;
    }
    ion-input {
      background: #f5f5f5;
      border-radius: 10px;
      padding: 0 15px;
      font-size: 14px;
      --padding-start: 15px;
    }
    ion-input.ion-invalid {
      border: solid 1px #dc3545 !important;
    }
  }
  .select_form {
    min-width: 100%;
    ion-label {
      font-size: 12px;
      color: #5f5f5f;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 5px;
      letter-spacing: 1px;
    }
    ion-select {
      width: 100% !important;
      padding-right: 15px;
      background: #f5f5f5;
      border-radius: 10px;
      min-width: 100%;
      font-size: 14px;
    }
  }
  .billingHead {
    font-size: 18px;
    font-weight: bold;
    margin: 0 15px 15px 15px;
  }
  .showCard {
    border: 2px solid #e6e4e4;
    margin: 15px;
    ion-item {
      border: 2px solid #ccc;
      margin: 10px;
      border-radius: 4px;
      padding: 0 5px;
      ion-icon {
        font-size: 35px;
      }
      h3 {
        font-size: 14px;
        font-weight: bold;
        margin: 0;
      }
      p {
        color: #444;
        font-size: 12px;
        margin-top: 2px;
      }
    }
    ion-item.active {
      border: 2px solid green !important;
      ion-icon {
        color: green;
        font-size: 35px;
      }
    }
    ion-thumbnail {
      width: 25px;
      height: 20px;
      float: left;
      margin: 0 10px 0 0;
      border: 1px solid #ccc;
    }
  }
    ion-textarea {
      background: #f5f5f5;
      border-radius: 10px;
      font-size: 14px;
      --padding-start: 15px;
    }
    ion-select{
      background: #f5f5f5;
      border-radius: 10px;
      font-size: 14px;
      --padding-start: 15px;
      min-width: 100%;
    }
  
}

.hide-paypal .braintree-option.braintree-option__paypal{
  display: none !important;
}

.braintree-sheet__card-icon[data-braintree-id="american-express-card-icon"], .braintree-sheet__card-icon[data-braintree-id="jcb-card-icon"] {
  display: none;
}




.input_form_bottom ion-checkbox {
  position: absolute;
  left: 0;
  top: 3px;
}

.input_form_bottom {
  padding-left: 30px;
  position: relative;
  font-family: 'HK Grotesk Regular' !important;
  margin-bottom: 20px;
}

.input_form_bottom ion-label {
  font-size: 14px !important;
  color: #333 !important;
  margin: 20px 0 6px;
  opacity: 1 !important;
}

.input_form_bottom p {
  font-size: 12px;
  opacity: 0.75;
  color: #333;
  margin: 0;
}