// .order_success {
//   text-align: center;
//   --padding-top: 60px;
//   position: relative;
//   h1 {
//     font-size: 12px;
//     margin-top: 20px;
//     color: #696969;
//     text-transform: uppercase;
//     padding: 0 15px;
//     margin-bottom: 15px;
//   }
//   h2 {
//     font-size: 22px;
//     margin-top: 20px;
//     font-weight: bold;
//   }
//   h3 {
//     font-size: 18px;
//     font-weight: 400;
//     margin-top: 25px;
//   }
//   h4 {
//     font-size: 14px;
//     margin: 20px 0 30px;
//     padding: 0 45px;
//   }
//   p {
//     font-size: 12px;
//     margin-top: 10px;
//     color: #696969;
//     text-transform: uppercase;
//     padding: 0 15px;
//     margin-bottom: 24px !important;
//   }

//   ion-img {
//     max-width: 180px;
//     width: 180px;
//     display: block;
//     margin: 0 auto 30px;
//   } 
//   ion-button {
//     margin: 0 15px;
//   }
//   .closebtn {
//     position: absolute;
//     right: 15px;
//     top: 15px;
//   }
//   .itemDetails {
//     .totalPayout {
//       font-size: 24px;
//       color: #222428;
//       margin: 45px 25px 16px 25px;
//       font-weight: bold;
//       letter-spacing: 1.5px;
//     }
//     .almostDone {
//       font-size: 23px;
//       font-weight: bold;
//       margin: 22px 0;
//     }
//     p {
//       text-transform: unset;
//       font-size: 16px;
//       color: #444;
//       text-align: left;
//     }
//     .whatNext {
//       text-align: left;
//       font-size: 11px;
//       text-transform: uppercase;
//     }
//     .shipInfo {
//       text-align: center;
//     padding: 0 34px;
//     color: #737070;
//     font-weight: normal;
//     line-height: 22px;
//     margin-bottom: 22px;
//     letter-spacing: 1px;
//     font-size: 16px;
//     }
//     .nextList {
//       margin: 0;
//       text-align: left;
//       font-size: 15px;
//       counter-reset: my-awesome-counter;
//       li {
//         padding: 5px 28px 5px 28px;
//         margin: 0 0 0.5rem 0;
//         counter-increment: my-awesome-counter;
//         position: relative;
//         &::before {
//           content: counter(my-awesome-counter);
//           color: #ffffff;
//           font-size: 12px;
//           font-weight: bold;
//           position: absolute;
//           --size: 22px;
//           left: calc(-1 * var(--size) - 3px);
//           line-height: var(--size);
//           width: var(--size);
//           height: var(--size);
//           top: 8px;
//           background: black;
//           border-radius: 50%;
//           text-align: center;
//         }
//       }
//     }
//   }
// }


// /* New Css for font changes*/
// .order_success h1, .order_success p {
//   font-family: 'HK Grotesk Regular' !important;
//   color: rgba(51,51,51,0.75) !important;
//   font-weight: 600 !important;
// }

// .order_success ion-img {
//   max-width: 155px !important;
//   height: auto;
// }

// .order_success h3 {
//   font-family: 'HK Grotesk Regular' !important;
//   font-size: 20px !important;
//   font-weight: 600 !important;
//   color: #333333;
// }

// .order_success h2 {
//   font-family: 'HK Grotesk Regular' !important;
//   font-weight: bold !important;
//   color: #1D1C1E !important;
//   font-size: 24px !important;
//   letter-spacing: 0 !important;
// }

// .order_success p.shipInfo {
//   color: #59585A !important;
//   font-weight: 600 !important;
//   font-size: 16px !important;
// }

// ion-button {
//   font-family: 'HK Grotesk Regular' !important;
//   font-weight: bold !important;
//   font-size: 16px !important;
// }

// .order_success ion-icon {
//   font-size: 23px;
// }
