<ion-content class="order_success">
  <span class="closebtn"><ion-icon (click)="closeModal()" name="close-outline" color="dark"></ion-icon></span>    
<ion-text>
  <h1>{{product.title}}</h1>
</ion-text>
 <ion-text>
    <p>Brand New / size {{productsize}} {{(product.filter+'s')|uppercase}}</p>
  </ion-text>
  <ion-img src="{{product.image}}" ></ion-img>
  <ion-text class="itemDetails">
      <h3>CA ${{amount.toFixed(2)}}</h3>
      <!-- <p>Listing expires on July 13,2020</p> -->
      <h2 class="almostDone">You've listed your sneaker up for sale!</h2>
      <p class="shipInfo">If your price is accepted by a buyer, you'll have 2 business days to ship your shoes to avoid penalties.</p>
  </ion-text>
  <ion-button color="dark" expand="block" (click)="redirectSellOrderDetail()">View listing</ion-button>



</ion-content>
