
  
  <!-- <ion-content >
    <ion-grid>
      <ion-row>
        <ion-col>
          ID : {{modelId}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
          <ion-button (click)="closeModal()">Close Modal</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content> -->

  <ion-content padding >
    <div class="auth-popup">
    <div class="close-btn-wrap" (click)="closeModal()"><i class="fas fa-times"></i></div>
    <h5>Authenticity Guaranteed</h5>
    <div class="okay-wrap"><i class="far fa-check-circle"></i></div>
    <p>Shop with confidence! We examine every pair of kicks sold on BRED to verify the authenticity before dispatching to the buyer. Authenticity guaranteed or your money back.</p> 
    <div class="learn-more-wrap" (click)="openbrowser('https://bredofficial.zendesk.com/hc/en-us/articles/360024566471-Verification-Process-for-Sneakers')">LEARN MORE</div>
  </div>
  </ion-content>