::ng-deep .guaranteed-popup .modal-wrapper {
    height: 55%;
    width: 85%;
 }
 .auth-popup{
     padding: 20px;
 }
 .close-btn-wrap { text-align: right; }
 .close-btn-wrap i { font-size: 20px; }
 .auth-popup h5 { text-align: center;
    font-size: 19px;
    font-weight: 400;
    padding-top: 10px; }
.okay-wrap { text-align: center; }
.okay-wrap i {     font-size: 48px;padding: 10px; padding: 10px 0px 20px 0px; }
.auth-popup p { text-align: center;
    font-size: 14px;}
    .learn-more-wrap { text-align: center;
        border-bottom: 1px solid #000;
        max-width: 96px;
        margin: 0 auto;
        font-size: 14px; }