
// .order_success{
//     text-align: center;
//     margin-top: 0;
//     h1 {
//         font-size: 12px;
//         margin-top: 60px;
//         color: rgba(51,51,51,0.75);
//         text-transform: uppercase;
//         padding: 0 15px;
//         letter-spacing: 1px;
//         font-weight: 600;
//     }
//     h2 {
//         font-size: 22px;
//         margin-top: 20px;
//         font-weight: bold;
//     }
//     h3 {
//         font-size: 20px;
//         font-weight: 600;
//         margin-top: 20px;
//         color: #333333;
//         margin-bottom: 0px;
//     }
//     h4 {
//         font-size: 14px;
//         margin: 20px 0 30px;
//         padding: 0 45px;
//     }
//     p{
//         font-size: 12px;
//         margin-top: 16px;
//         color: rgba(51,51,51,0.75);
//         text-transform: uppercase;
//         padding: 0 15px;
//         font-weight: 600;
//         letter-spacing: 1px;
//         margin-bottom: 10px;
//     }
    
//     ion-img {
//         max-width: 155px;
//         width: 155px;
//         display: block;
//         margin: 0 auto;
//     }
//     ion-button {
//         margin: 0 15px;
//     }
//     span.closebtn {
//         position: absolute;
//         top: 10px;
//         right: 10px;
//       i {
//             font-weight: 900;
//             font-size: 20px;
//         }
//     }
//     h2.offer_exp{
//         font-size: 12px;
//         margin-top: 20px;
//         color: #696969;
//         text-transform: uppercase;
//         padding: 0 15px;
//     }
//     h2.offer_plc{        
//         margin: 30px 0 0;
//         font-size: 24px;
//         color: #333333;
//         font-weight: bold;
//     }
//     h4.offer_acpt{
//         line-height: 24px;  
//         font-weight: 500;
//         font-size: 16px;
//         margin: 16px 0 24px;
//         padding: 0 45px;
//         color: #333333;
//     }

//     ion-icon {
//         font-size: 23px;
//       }
// }

