<ion-content class="order_success">
  <span class="closebtn"><ion-icon (click)="closeModal()" name="close-outline" color="dark"></ion-icon></span>    
<ion-text>
  <h1>{{product.title}}</h1>
</ion-text>
 <ion-text>
    <p>Brand New / size {{productsizeselected[0].value}} {{ ((product.filter+'s')|uppercase)}}</p>
  </ion-text>
  <ion-img src="{{product.image}}" ></ion-img>
  <ion-text>
      <h3>CA ${{totalamount.toFixed(2)}}</h3>
      <!-- <h2 class="offer_exp">Offer Expires on {{order.expireon}}</h2> -->
      <h2 class="offer_plc">Your offer has been placed!</h2>
      <h4 class="offer_acpt">You'll be charged ${{totalamount.toFixed(2)}} if your offer is accepted.</h4>
    </ion-text>
  <ion-button color="dark" expand="block" (click)="redirecttoOrder()">View offer</ion-button>



</ion-content>
