/* size filter wrap css start here*/
ion-content, .size-wrap{
    background: #1d1c1e; 
    // height: 100vh; 
}
.size-filter-wrap {
  padding: 15px 15px 70px 15px;
  background: #1d1c1e;
}
.size-filter-header {
  color: #fff;
  margin-bottom: 5px;
}
.size-filter-header h4 {
  font-size: 20px;
  text-align: center;
}
.size-filter-header p {
  text-align: right;
  font-size: 14px;
}
.size-wrap li {
  color: #8e8d8e;
  width: 62px;
  display: inline-block;
  height: 62px;
  border: 1px solid #8e8d8e;
  border-radius: 15px;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  margin: 10px;
}
.size-wrap .active {
  background-color: #fff;
  color: #59585a;
  border-color: #fff;
}
.list-inline {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ion-footer {
  position: fixed;
  --background-color: #1d1c1e;
  bottom: 0;
  padding: 15px 15px 0px 15px;
  left: 0;
  right: 0;
  ion-toolbar {
    --background: #1d1c1e;
    --ion-color-base: #1d1c1e !important;
  }
}
