<ion-content>
  <section class="size-filter-wrap">
  <div class="size-filter-header">
    <div class="row">
      <div class="col-3" (click)="back()"><i class="fas fa-arrow-left"></i></div>
      <div class="col-6">
        <h4>
          <ng-container [ngSwitch]="gender">
            <ng-template [ngSwitchCase]="'men'">
              US Men Sizes
            </ng-template>
            <ng-template [ngSwitchCase]="'women'">
              US Women Sizes
            </ng-template>
            <ng-template [ngSwitchCase]="'youth'">
              US Youth Sizes
            </ng-template>
          </ng-container>
        </h4></div>
      <div class="col-3" (click)="reset()"><p>Reset</p></div>
    </div>
  </div>

  <div class="size-wrap">
    <ul class="list-inline ion-no-margin">
      <ng-template [ngIf]="selectedsize" [ngIfElse]="notselectedproductsizes">
        <li *ngFor="let productsize of sizes" [class.active]="(selectedsize.value == productsize.value)"  (click)="setSize(productsize)" >{{ productsize.value }}</li>
      </ng-template>
      <ng-template #notselectedproductsizes>
        <li *ngFor="let productsize of sizes" (click)="setSize(productsize)" >{{ productsize.value }}</li>
      </ng-template>
    </ul>
     
    </div>

  </section>
  <!-- <ion-footer class="ion-no-border" >
    <ion-toolbar transparent>
      <ion-button expand="block" color="light" (click)="updateSize()">View Result</ion-button>  
    </ion-toolbar>
  </ion-footer> -->
</ion-content>
