// .review-purchase {
//   background: var(--ion-color-dark,#000);
//   color: #fff;
//   position: relative;
//   min-height: 30vh;
//   padding: 20px;
// }
// .review-purchase span.closebtn {
//   position: absolute;
//   right: 20px;
//   top: 20px;
//   display: inline-block;
// }
// .review-purchase span.backbtn {
//   position: absolute;
//   left: 20px;
//   top: 20px;
//   display: inline-block;
// }
// .product-img-wrap {
//   display: block;
//   position: relative;
//   padding-top: 20px;
//   min-height: 140px;
//   margin-bottom: 30px;
// }
// .product-img-wrap img {
//   max-width: 130px;
//   margin-right: 15px;
//   position: absolute;
//   bottom: 0;
//   display: inline-block;
// }
// .product-text {
//   display: block;
//   text-align: right;
//   padding-left: 160px;
// }
// .offer-wrapper {
//   padding: 16px 0 70px 0;
//   position: relative;
//   height: 100%;
//   border-radius: 20px 20px 0 0;
//   background: #fff;
//   margin-top: -20px;
// }


// .product-img-wrap h5 {
//   margin-bottom: 6px;
//   font-size: 24px;
//   font-weight: bold;
//   margin-top: 10px;
// }
// .price-size {
//   margin-top: 22px;
// }
// .product-sku,
// .size {
//   font-size: 12px;
//   color: #FFFFFF;
//   text-transform: uppercase;
//   letter-spacing: 1px;
//   font-weight: 600;
// }
// .price {
//   font-size: 20px;
//   color: #fff;
//   font-weight: 600;
//   text-transform: uppercase;
// }
// .payment-info {
//   background: #F5F5F5;
//   padding: 8px 15px 5px 20px;
//   display: block;
//   border-radius: 0 8px 8px 0;
//   margin: 5px 20px 4px 0px;
//   font-size: 12px;
//   line-height: 36px;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   text-transform: uppercase;

 
// }
// .payment-info span {
//   font-size: 12px;
//   color: #333333;
//   font-weight: 600;
//   opacity: 0.75;
//   letter-spacing: 1px;
// }
// img.card-type {
//   max-width: 40px;
// }
// .card-btn {
//     display: inline-block;
//     float: right;
//     margin: 0;
//     padding: 0;
//     font-size: 11px;
// }
// .card-btn {
//   span {
//     display: inline-block;
//     width: auto;
//     overflow: hidden;
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     line-height: normal;
//     vertical-align: middle;
//     margin-left: 5px;
//     color: #333333;
//     font-size: 14px;
//     font-weight: 500 !important;
//     opacity: 1;
//     letter-spacing: 0px;
//     max-width: 153px;
//     text-align: right;
//   }
// }
// ion-icon.arrow-rt.ios.hydrated {
//   font-size: 18px;
//   vertical-align: middle;
//   color: #666;
// }
// .promo-code-sec {
//   padding: 20px;
// }
// .promo-code {
//   background: #F5F5F5;
//   padding: 0px 15px;
//   border-radius: 6px;
//   font-size: 14px;
//   text-align: left;
//   color: #000;
// }
// .subtoal-cta {
//   display: block;
//   float: left;
//   width: 100%;
//   padding: 16px 20px 0px;
//   font-size: 12px;
//   color: #666;
//   ion-checkbox{
//     float: left;
//     margin: 0 5px 10px 0;
// }
// }
// .subtotal-row {
//   display: block;
//   width: 100%;
//   clear: both;
//   float: left;
//   margin-bottom: 8px;
// }
// .subtotal-row.last {
//   padding-top: 10px;
//   border-top: solid 2px #efefef;
// }
// .subtotal-row.last span.dir-right {
//   color: #000 !important;
// }
// .subtotal-row span.dir-left {
//   text-transform: uppercase;
//   font-weight: 600;
//   color: #333333;
//   opacity: 0.75;
//   letter-spacing: 1px;
// }
// .subtotal-row.last .txt-blk {
//   opacity: 1 !important;
// }
// .subtotal-row span.dir-right {
//   font-size: 14px;
//   color: #333333;
//   font-weight: bold;
//   opacity: 0.75;
// }
// .dir-left {
//   float: left;
// }
// .dir-right {
//   float: right;
// }
// .btm-txt {
//   font-size: 14px;
//   padding: 14px 20px;
//   color: #333333;
//   width: 100%;
//   clear: both;
//   font-weight: 500;
//   opacity: 0.75;
// }
// .swip-btn {
//   float: left;
//   display: block;
//   width: 100%;
//   padding: 0 20px;
// }

// /* New Css for font changes*/
// .review-purchase ion-icon {
//   font-size: 23px;
// }

// .promo-code ion-input {
//   --placeholder-color: #333333;
//   --placeholder-font-style: none;
//   --placeholder-font-weight: 500;
//   --placeholder-font-size: 14px;
//   --placeholder-opacity: 0.75;
//   font-family: 'HK Grotesk Regular';
// }

// h5.text-center{
//   text-align: center!important;
//   font-size: 16px;
//   font-weight: 600;
//   color: #fff;
// }
// .size {
//   opacity: 0.75;
// }

// p.check-txt {
//   font-size: 14px;
//   line-height: 1.3;
//   display: inline-block;
//   width: 100%;
//   padding: 20px 20px 0px 43px;
//   color: #333333;
//   position: relative;
//   font-weight: 500;
//   margin-bottom: 24px;
// }

// p.check-txt ion-checkbox {
//   max-width: 16px;
//     margin-right: 5px;
//     width: 100%;
//     position: absolute;
 //   top: 20px;  
//     left: 20px;
//     --border-width: 1px;
//     --border-radius: 4px;
//     --background: #ffffff;
//     --border-color: #DCD8E6;
//     height: auto;
// }

