<!-- <ion-header>
  <ion-toolbar>
    <ion-title>product-how-to-buy-popup</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <div class="main-buying-wrap">
        <div class="back-btn-wrap" (click)="closeModal()"><i class="fas fa-arrow-left"></i></div>
        <h4>How selling on BRED work</h4>
        <div class="buying-wrap">
            <h5>Sneakers must be new and authentic</h5>
            <p>Sneakers must be authentic, new, with the original box and undamaged packaging.</p>
        </div>
        <div class="buying-wrap">
            <h5>Name your price</h5>
            <p>List your asking price, or sell your sneakers immediately to the highest offer.</p>
        </div>
        <div class="buying-wrap">
            <h5>Ship the shoes</h5>
            <p>If you're matched with a buyer, we'll notify you and send you a prepaid shipping label with further instructions to complete your sale.</p>
        </div>
        <div class="buying-wrap">
            <h5>Get paid!</h5>
            <p>Once we recieve and verify the authenticity of your sneakers, we'll send your payout via paypal within 102 business days.</p>
        </div>
        <div class="main-exclamation-wrap">
            <div class="exclamation-wrap"><i class="fas fa-exclamation-circle"></i></div>
            <p>Sellers must ship within 2 business days after successfully matching with buyer. There is a minimum 15% penalty for items that are not shipped on time, counterfeit, damaged, used, or does not fit the description of the item being sold. </p>
        </div>
        <button type="button" class="btn btn-primary">Continue</button>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Don't show this message again.</label>
        </div>

    </div>
</ion-content>