<ion-content class="order_review order-detail " *ngIf="order && product">

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="review-purchase">
    <h5 class="text-center">{{title}}</h5>
    <span class="backbtn">
      <ion-buttons slot="start">
        <ion-back-button  defaultHref="/buying"></ion-back-button>
      </ion-buttons>
    </span>
    <span class="closebtn">
      <ion-label   class="helpTag">Help</ion-label>
    </span>

    <div class="product-img-wrap">
        <ng-template [ngIf]="product">
          <img src="{{ product.image_large }}" />
        </ng-template>
        <div class="product-text" *ngIf="product">
            <h5 *ngIf="product && product.title">{{product.title}}</h5>
            <div class="product-sku" *ngIf="product && product.sku">sku: {{ product.sku }}</div>
            <div class="price-size">
                <div class="size">SIZE {{order.value}} {{  (product.filter+'s')|uppercase}}</div>
                <div class="price">${{order.total}}</div>
            </div>
        </div>
    </div>
    <div class="links">
      <span class="content-wrap tab" ><p  [ngClass]="{active:segment === 'salestatus'}" (click)="activeOrderStatusTab()">ORDER STATUS</p></span>
      <span class="content-wrap tab" ><p  [ngClass]="{active:segment === 'saledetail'}" (click)="activeOrderDetailTab()" >ORDER DETAILS</p></span>
  </div>
  </div>



  <div class="offer-wrapper" >
    

    <div [ngSwitch]="segment">
      <ion-card *ngSwitchCase="'salestatus'" class="ion-no-margin ion-no-shadow">
       <ion-card-content>
         <section *ngIf="order">
           <h2>Order Status</h2>    
           <ol class="itemStatuswithCheckbox" >
             <!-- <li class="statusOff">Waiting for you to ship</li>
             <li class="statusOff">In transit to warehouse</li>
             <li class="statusOff">Verification</li>
             <li class="statusOff">Payout proceed</li> -->
             <ng-template [ngIf]="order.status == 'Waiting for Seller to Ship'  || order.status == 'Late Shipment'" [ngIfElse]="late_no_shipping">
               <li class="statusOn">Waiting for seller to ship</li>
               <li class="statusOff">In transit to warehouse</li>
               <li class="statusOff">Awaiting Verification</li>
               <li class="statusOff">In transit to you</li>
               <li class="statusOff">Delivered</li>
             </ng-template>
             <ng-template #late_no_shipping>
               <ng-template [ngIf]="order.status == 'No Shipment'" [ngIfElse]="in_transit">
                 <li class="statusOn statusCancelled">Waiting for seller to ship</li>
               <li class="statusOff">In transit to warehouse</li>
               <li class="statusOff">Awaiting Verification</li>
               <li class="statusOff">In transit to you</li>
               <li class="statusOff">Delivered</li>
               </ng-template>
             </ng-template>
             <ng-template #in_transit>
               <ng-template [ngIf]="order.status == 'In Transit to Warehouse'" [ngIfElse]="await_verification">
                 <li class="statusOn">Waiting for seller to ship</li>
                 <li class="statusOn">In transit to warehouse</li>
                 <li class="statusOff">Awaiting Verification</li>
                 <li class="statusOff">In transit to you</li>
                 <li class="statusOff">Delivered</li>
               </ng-template>
             </ng-template>
             <ng-template #await_verification>
               <ng-template [ngIf]="order.status == 'Awaiting Verification'" [ngIfElse]="requestaction">
                 <li class="statusOn">Waiting for seller to ship</li>
                 <li class="statusOn">In transit to warehouse</li>
                 <li class="statusOff">Awaiting Verification</li>
                 <li class="statusOff">In transit to you</li>
                 <li class="statusOff">Delivered</li>
               </ng-template>
             </ng-template>
             <ng-template #requestaction>
               <ng-template [ngIf]="order.status == 'RequestAction'" [ngIfElse]="cancelled">
                 <li class="statusOn">Waiting for seller to ship</li>
                 <li class="statusOn">In transit to warehouse</li>
                 <li class="statusOff">Requires Attention</li>
                 <li class="statusOff">In transit to you</li>
                 <li class="statusOff">Delivered</li>
               </ng-template>
             </ng-template>
             <ng-template #cancelled>
               <ng-template [ngIf]="order.status == 'Cancelled'" [ngIfElse]="verify_ready_to_ship">
                 <li class="statusOn">Waiting for seller to ship</li>
                 <li class="statusOn">In transit to warehouse</li>
                 <li class="statusOff statusCancelled">Cancelled</li>
                 <li class="statusOff">In transit to you</li>
                 <li class="statusOff">Delivered</li>
               </ng-template>
             </ng-template>
             <ng-template #verify_ready_to_ship>
               <ng-template [ngIf]="order.status == 'In Transit to Customer' || order.status == 'Verified' || order.status == 'Ready to Ship'" [ngIfElse]="shipped_delivered">
                 <li class="statusOn">Waiting for seller to ship</li>
                 <li class="statusOn">In transit to warehouse</li>
                 <li class="statusOn">Awaiting verification</li>
                 <li class="statusOn">In transit to you</li>
                 <li class="statusOff">Delivered</li>
               </ng-template>
             </ng-template>
             <ng-template #shipped_delivered>
               <ng-template [ngIf]="order.status == 'shipped' || order.status == 'Delivered'">
                 <li class="statusOn">Waiting for seller to ship</li>
                 <li class="statusOn">In transit to warehouse</li>
                 <li class="statusOn">Awaiting verification</li>
                 <li class="statusOn">In transit to you</li>
                 <li class="statusOn">Delivered</li>
               </ng-template>
             </ng-template>
           </ol>
         </section>
         <!-- <ion-button expand="block" shape="" [routerLink]="['/shippinglabel',order.order_id]" color="dark">Print Shipping Label</ion-button> -->
       </ion-card-content>
       <h2 class="shipStatus">Shipping Status</h2>
         <ng-template [ngIf]="trackingInformation.occurrence.length > 0" [ngIfElse]="noTrackTemplate">
           <ng-template ngFor let-track [ngForOf]="trackingInformation.occurrence">
             <p class="dueDate"> {{track.date}}</p>
             <ion-item lines="none" style="padding: 0px 0;">
               <ion-label slot="start"  class="ion-text-wrap ion-no-padding ion-no-margin timeinfo">
                 {{track.description}}
               </ion-label>
               <ion-label slot="end" class="time">{{track.time}}</ion-label>
             </ion-item> 
           </ng-template>
         </ng-template>
         <ng-template #noTrackTemplate>
           <p class="dueDate" *ngIf="order">{{order.paymentdate}}</p>
           <ion-item lines="none" style="padding: 0px 0;">
             <ion-label slot="start"  class="ion-text-wrap ion-no-padding ion-no-margin timeinfo">
               Electronic information submitted by shipper
             </ion-label>
             <ion-label slot="end" class="time" *ngIf="order">{{order.paymenttime}}</ion-label>
           </ion-item>   
         </ng-template>   
     </ion-card>
    
 
 <ion-card *ngSwitchCase="'saledetail'" class="saleDetail ion-no-padding ion-no-margin ion-no-shadow">
   <ion-card-content>
     <h2 class="saleHeading">Order Details</h2> 
     <ion-item class="ion-no-padding ion-no-margin">
       <p>DATE</p>
       <ion-label slot="end" class="ion-text-right">{{order.paymentdate}}</ion-label>
     </ion-item>
     <ion-item class="ion-no-padding">
       <p>ORDER NUMBER</p>
       <ion-label slot="end" class="ion-text-right">{{order.order_id}}</ion-label>
     </ion-item>
     <ion-item class="ion-no-padding">  
       <p>PAYMENT METHOD</p>
      
         <ng-template [ngIf]="buyerPayment" [ngIfElse]="nopaymentselected">
           <ng-container [ngSwitch]="buyerPayment.payment_method">
               <ng-template [ngSwitchCase]="'paypal'">
                <ion-label slot="end" class="ion-text-right payment">
                <img class="card-type paypal" src="../../../../assets/icon/paypal.svg" />
                       {{buyerPayment.payment_email}}
                </ion-label>
               </ng-template>
               
               <ng-template [ngSwitchCase]="'credit_card'">
                <ion-label slot="end" class="ion-text-right payment">
                 <ng-container [ngSwitch]="buyerPayment.payment_data.cardType">
                     <ng-template [ngSwitchCase]="'Visa'">
                      <img class="card-type visa" src="../../../../assets/icon/visa.svg" />
                     </ng-template>
                     <ng-template [ngSwitchCase]="'MasterCard'" >
                        <img class="card-type mastercard" src="../../../../assets/icon/mastercard.svg" />
                     </ng-template>
                     <ng-template [ngSwitchCase]="'Discover'" >
                         <img class="card-type" src="../../../../assets/images/discover.png" />
                     </ng-template>
                     <ng-template [ngSwitchCase]="'American Express'" >
                         <img class="card-type" src="../../../../assets/images/american-express.png"/>
                     </ng-template>
                     <ng-template [ngSwitchCase]="'JCB'" >
                         <img class="card-type" src="../../../../assets/images/if_Mastercard-Curved_70593.png"/>
                     </ng-template>
                 </ng-container>
                 {{buyerPayment.payment_data.number}}
                </ion-label>
               </ng-template>
   
               <ng-container *ngSwitchDefault [ngTemplateOutlet]="nopaymentselected">
                 
               </ng-container>
                
   
           </ng-container>

       </ng-template>

       <ng-template #nopaymentselected>
        <ion-label slot="end" class="ion-text-right payment">
         MISSING PAYMENT INFORMATION
         </ion-label>
       </ng-template>





         <!-- <ng-template [ngIf]="buyerPayment.payment_data && buyerPayment.payment_data.cardType == 'Visa'">
           <ion-img src="../../../../assets/images/if_Visa-Curved_70599.png" style="width: 30px;display: inline-block;"></ion-img>
         </ng-template>
         <ng-template [ngIf]="buyerPayment.payment_data && buyerPayment.payment_data.cardType == 'MasterCard'">
           <ion-img src="../../../../assets/images/if_Visa-Curved_70599.png" style="width: 30px;display: inline-block;"></ion-img>
         </ng-template>
         <ng-template [ngIf]="sellingPayment.payment_data && sellingPayment.payment_data.number">
           {{sellingPayment.payment_data.number}}
         </ng-template> -->

       
     </ion-item>
     <ion-item  class="ion-no-padding">
       <p>SHIPPING ADDRESS</p>
       <ng-template [ngIf]="order.seller_information.address.length > 0">
         <ng-template ngFor let-address [ngForOf]="order.seller_information.address" let-i = "index">
           <ng-template [ngIf]="address.label=='shipping'"> 
             <ion-label slot="end" class="ion-text-right payment shipping">{{address.address}}, <br> {{address.city}}, {{address.state}}, <br>{{address.zipcode}},<br>{{address.country}} </ion-label>
           </ng-template>
         </ng-template>
       </ng-template>
       
     </ion-item>
     <div class="totalSection">
       <h2 class="saleHeading">Total</h2>
       <ion-list lines="none" class="ion-no-padding ion-no-margin">
         <span class="ion-no-padding ion-no-margin">
           <ion-label class="paymentDesc">SUBTOTAL</ion-label>
           <ion-label slot="end" class="totalAmount">${{order.total.toFixed(2)}}</ion-label>
         </span>
       
         <span class="ion-no-padding ion-no-margin">
           <ion-label class="paymentDesc">Shipping</ion-label>
           <ion-label slot="end" class="totalAmount">+ ${{order.buyer_shipping_fee.toFixed(2)}}</ion-label>
         </span>
       
         <span class="ion-no-padding ion-no-margin">
           <ion-label class="paymentDesc">PAYMENT PROC. (3.5%)</ion-label>
           <ion-label slot="end" class="totalAmount">+ ${{order.proc_amount}}</ion-label>
         </span>
         <span class="ion-no-padding ion-no-margin">
           <ion-label class="paymentDesc">Authentication Fee</ion-label>
           <ion-label slot="end" class="totalAmount">Free</ion-label>
         </span>
         <span class="ion-no-padding ion-no-margin border-top">
           <ion-label class="paymentDesc">TOTAL</ion-label>
           <ion-label slot="end" class="totalAmount"><b>CA ${{order.buyer_total.toFixed(2)}}</b></ion-label>
         </span>
       </ion-list>
     </div>
   </ion-card-content>
 </ion-card>
</div>
  
  
  
  
  </div>



  
</ion-content>

