//   .helpTag{
//     position: absolute;
//     font-size: 12px;
//     right: 15px;
//     top: 19px;
//     font-weight: 600;
//     color: #ffffff;
//     text-decoration: underline;
//   }
//   ion-title {
//     text-align: center;
//     font-size: 16px;
//     max-width: calc(100% - 47px);
//     font-weight: 600;
//   }
//   .smallItems {
//     // background: #000;
//     // background: var(--ion-color-dark,#000);
//     color: #fff;
//     // padding: 10px 0;
//     text-align: right;
//     display: flex;
//     .fitImage {
//       object-fit: contain;
//       height: auto;
      
//     }
//     ion-label {
//       text-overflow: unset !important;
//       white-space: normal !important;
//       h2 {
//         font-size: 24px;
//         font-weight: bold;
//       }
//       .itemCode {
//         font-size: 12px;
//         color: #ffffff;
//         margin: 0 0 18px 0;
//         font-weight: 600;
//         letter-spacing: 1px;
//       }
//       .itemSize {
//         font-size: 12px;
//         letter-spacing: 1px;
//         color: #ffffff;
//         opacity: 0.75;
//         font-weight: 600;
//       }
//       .itemPrice {
//         font-size: 20px;
//         margin: 5px 0 0 0;
//         font-weight: 600;
//         color: #ffffff;
//       }
//     }
//   }
//   ion-thumbnail {
//     width: 130px;
//     height: 100%;
//     display: flex;
//     align-items: flex-end;
//   }
//   ion-segment {
//     background-color: var(--ion-color-dark,#000);
//     color: #ffffff;
//     padding: 0 15px 6px 20px;
//   }
//   .fg-white {
//     color: white;
//   }
  
//   .segment__button {
//     background-color: var(--ion-color-dark, #000) !important;
//     color: #ffffff !important;
//     font-size: 12px;
//     letter-spacing: 1px;
//     font-weight: 600;
//     opacity: 0.75;
//   }
//   ion-segment-button {
//     min-height: 30px;
//     line-height: 1.5rem !important;
//     --border-radius: 0;
//     --padding-bottom: 0px;
//     --padding-top: 0px;
//     --margin-bottom: 0px;
//     --margin-top: 0px;
//     ion-label {
//       --border-radius: 0;
//       --padding-bottom: 0px;
//       --padding-top: 0px;
//       --margin-bottom: 0px;
//       --margin-top: 0px;
//     }
//   }
//   ion-segment-button.segment-button-checked{
//     opacity: 1 !important;
//   }
//   .segment-button-indicator {
//     width: 80% !important;
//     margin: 0 auto !important;
//   }
//   .dueDate {
//     margin: 0;
//     padding: 10px 15px;
//     background: #f5f5f5;
//     border-radius: 0;
//     font-size: 12px;
//     color: #333333;
//     opacity: 0.75;
//     letter-spacing: 1px;
//     font-weight: 600;

//   }
//   .shipStatus {
//     font-size: 24px;
//     font-weight: bold;
//     margin: 5px 15px 22px 15px;
//     color: var(--ion-color-dark,#000);;
//   }
//   .time {
//     text-align: right;
//     font-size: 12px !important;
//     font-weight: 600 !important;
//     letter-spacing: 1px;
//     max-width: 75px;
//     margin: 0;
//     min-width: 75px;
//     opacity: 0.75;
//   }
  
//   .saleHeading {
//     font-size: 24px;
//     font-weight: bold;
//     color: var(--ion-color-dark,#000);
//   }
//   .timeinfo {
//     font-size: 11px;
//     font-weight: 500;
//     min-width: calc( 100% - 80px );
//   }
//   ion-card {
//     -webkit-box-shadow: none;
//     box-shadow: none;
//     padding-bottom: 35px;
//     section {
//       h2 {
//         font-size: 24px;
//         font-weight: bold;
//         color: var(--ion-color-dark, #000);
//       }
  
//       .itemStatuswithCheckbox {
//         $bullet-line-width: 1px;
//         $bullet-color:  var(--ion-color-dark,#000);
//         $bullet-border-width: $bullet-line-width;
//         $bullet-background-color: white;
//         $bullet-size: 20px;
//         border-left: $bullet-line-width solid $bullet-color;
//         counter-reset: numbered-list;
//         margin-left: 8px;
//         position: relative;
//         margin-top: 14px;
//         list-style: none;
//         padding: 0;
//         li {
//           font-size: 16px;
//           margin-bottom: 20px;
//           padding-left: 30px;
//           color: #333;
//           font-weight: 600;
//           font-family: 'HK Grotesk Regular';
//           &:last-child {
//             border-left: $bullet-line-width solid $bullet-background-color;
//             margin-left: -$bullet-line-width;
//           }
//         }
//         .statusOn {
//           &:before {
//             $half-of-font-size: -0.5em;
//             background-color: $bullet-color;
//             border: $bullet-border-width solid $bullet-background-color;
//             border-radius: 50%;
//             color: $bullet-background-color;
//             content:"\f00c";
//             font-family: Font Awesome\ 5 Free;
//             counter-increment: numbered-list;
//             display: block;
//             font-weight: bold;
//             font-size: 11px;
//             width: $bullet-size;
//             height: $bullet-size;
//             margin-top: 0;
//             line-height: $bullet-size;
//             position: absolute;
//             left: -10px;
//             text-align: center;
//           }
//         }
//       }
//       .statusOff {
//         $bullet-size: 20px;
//         &:before {
//           $half-of-font-size: -0.5em;
//           background-color: #ffffff;
//           border: 1px solid #ccc;
//           border-radius: 50%;
//           color: #ccc;
//           content: "";
//           counter-increment: numbered-list;
//           display: block;
//           font-weight: bold;
//           width: $bullet-size;
//           height: $bullet-size;
//           margin-top: 0;
//           line-height: $bullet-size;
//           position: absolute;
//           left: -10px;
//           text-align: center;
//         }
//       }
//     }
//   }
//   .saleDetail {
//     ion-item {
//       --ion-safe-area-right: 0;
//       font-size: 12px;
//       color: #a2a0a0;
//       ion-label {
//         font-size: 16px;
//         color: #000000;
//         font-weight: 600;
//       }
//       p {
//         font-size: 12px;
//         color: #333333;
//         opacity: 0.75;
//         font-weight: bold;
//         letter-spacing: 1px;
//         font-family: 'Hk Grotesk Regular';
//       }
//     }
//   }

//   ion-card ion-label{
//     font-family: HK Grotesk Regular;
//     font-size: 14px;
//     color: #333333;
//     font-weight: bold;
//     opacity: 0.75;
// }

// ion-card ion-label.paymentDesc{
//   letter-spacing: 1px;
//   font-size: 12px;
//   text-transform: uppercase;
// }
  
//   .totalSection {
//     .saleHeading {
//       margin: 20px 0 20px 0;
//     }
//     .item-inner {
//       padding: 0;
//     }
//     span {
//       display: inline-block;
//       width: 100%;
//       padding: 5px 0;
//       font-size: 12px;
//       .totalAmount {
//         float: right;
//         b {
//           color: #333333;
//           font-size: 14px;
//           font-weight: 600;
//         }
//       }
//       .border-top   {
//         border-top: 1px solid #DCD8E6 !important;
//       }
//     }
//     ion-item {
//       font-size: 12px;
//       color: #a2a0a0;
//       ion-label {
//         font-size: 13px;
//         color: #000000;
//         font-weight: 600;
//       }
//     }
//   }
  