@font-face {
    font-family: 'HKGroteskRegular';
    src: url('fonts/HKGroteskRegular.eot');
    src: url('fonts/HKGroteskRegular.eot') format('embedded-opentype'),
         url('fonts/HKGroteskRegular.woff2') format('woff2'),
         url('fonts/HKGroteskRegular.woff') format('woff'),
         url('fonts/HKGroteskRegular.ttf') format('truetype'),
         url('fonts/HKGroteskRegular.svg#HKGroteskRegular') format('svg');
}
