<ion-content>
  <section class="filter-item-wrap">
    <div class="filter-header">
      <div class="row" >
        <div class="col" (click)="back()"><i class="fas fa-arrow-left"></i></div>
        <div class="col"><h4>Filters</h4></div>
        <div class="col" (click)="reset()"><p>Reset</p></div>
      </div>
    </div>

    <div class="filter-btn">
      <label>SORT BY</label>
      <ion-select [(ngModel)]="sortby" colo="light" class="ion-no-padding">
        <ion-select-option value="featured">Featured</ion-select-option>
        <ion-select-option value="newlowestask">New Lowest Listings</ion-select-option>
        <ion-select-option value="newhighestbid">New Highest Offers</ion-select-option>
        <ion-select-option value="lowestasks">Lowest Listings</ion-select-option>
        <ion-select-option value="highestbids">Highest Offers</ion-select-option>
        <ion-select-option value="releasedate">Release Date</ion-select-option>
      </ion-select>
    </div>

    <div class="filter-btn option-btn">
      <label>GENDER</label>
      <ul class="list-inline">
        <li class="list-inline-item">
          <button type="button" class="btn btn-primary active" [ngClass]="{'active': gender=='men'}" (click)="setgender('men','All US Mens Sizes')" >Men</button>
        </li>
        <li class="list-inline-item">
          <button type="button" class="btn btn-primary" [ngClass]="{'active': gender=='women'}" (click)="setgender('women','All US Womens Sizes')">Women</button>
        </li>
        <li class="list-inline-item">
          <button type="button" class="btn btn-primary" [ngClass]="{'active': gender=='youth'}" (click)="setgender('youth','All US Youths Sizes')">Youth</button>
        </li>
      </ul>
    </div>

    <div class="filter-btn">
      <label>SIZE</label>
      <button type="button" class="btn btn-primary" (click)="loadSize()">
        <ng-template [ngIf]="selectsize && selectsize.value" [ngIfElse]="allsizetext">
          {{selectsize.value}}
        </ng-template>
        <ng-template #allsizetext>
          {{gendertext}}
        </ng-template>
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>

    <div class="filter-btn">
      <label>BRANDS</label>
      <button type="button" class="btn btn-primary" (click)="loadBrand()">
        <ng-template [ngIf]="selectcategory && selectcategory.title" [ngIfElse]="allcategorytext">
          {{selectcategory.title}}
        </ng-template>
        <ng-template #allcategorytext>
          All Brands
        </ng-template>
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </section>

  <!-- size filter wrap start here-->
  <section class="size-filter-wrap" style="display: none;">
    <div class="size-filter-header">
      <div class="row">
        <div class="col"><i class="fas fa-arrow-left"></i></div>
        <div class="col"><h4>US Men Sizes</h4></div>
        <div class="col"><p>Reset</p></div>
      </div>
    </div>

    <div class="size-wrap">
      <ul class="list-inline">
        <li class="list-inline-item active">4</li>
        <li class="list-inline-item">4.5</li>
        <li class="list-inline-item">5</li>
        <li class="list-inline-item">5.5</li>
        <li class="list-inline-item">4</li>
        <li class="list-inline-item">4.5</li>
        <li class="list-inline-item">5</li>
        <li class="list-inline-item">5.5</li>
        <li class="list-inline-item">4</li>
        <li class="list-inline-item">4.5</li>
        <li class="list-inline-item">5</li>
        <li class="list-inline-item">5.5</li>
        <li class="list-inline-item">4</li>
        <li class="list-inline-item">4.5</li>
        <li class="list-inline-item">5</li>
        <li class="list-inline-item">5.5</li>
      </ul>
    </div>
  </section>

  <!-- brand filter wrap start here-->
  <section class="brand-filter-wrap" style="display: none;">
    <div class="brand-filter-header">
      <div class="row">
        <div class="col"><i class="fas fa-arrow-left"></i></div>
        <div class="col"><h4>Brands</h4></div>
        <div class="col"><p>Reset</p></div>
      </div>
    </div>

    <div class="brand-select-wrap"></div>
  </section>
  <div class="submit-btn">
    <button type="button" class="btn btn-primary" (click)="updateFilters()">View results 
      <ng-template [ngIf]="isproductcountloading" [ngIfElse]="showproductcount">
        <ion-spinner name="dots"></ion-spinner>
      </ng-template>
      <ng-template #showproductcount>
        ({{productCount}})
      </ng-template>
      
    </button>
  </div>
</ion-content>
