.filter-item-wrap {
  padding: 15px;
}
.filter-header {
  color: #fff;
  margin-bottom: 30px;
}
.filter-header h4 {
  font-size: 20px;
}
.filter-header p {
  text-align: right;
  font-size: 14px;
}
ion-content {
  --ion-background-color: #1d1c1e;
}
.filter-btn label {
  color: #b7b4b4;
  display: block;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 12px;
}
.filter-btn ion-select {
  width: 100%;
  text-align: left;
  background-color: #59585a;
  color: #fff;
  border-color: #59585a;
  padding: 10px;
  font-size: 15px;
  height: 45px;
  margin-bottom: 30px;
}
.dropdown-toggle::after {
  display: none;
}
.filter-btn i {
  float: right;
  padding-top: 4px;
}
.filter-btn .btn {
  width: 100%;
  text-align: left;
  background-color: #59585a;
  color: #fff;
  border-color: #59585a;
  padding: 10px;
  font-size: 14px;
  height: 45px;
  margin-bottom: 40px;
  text-transform: capitalize;
}
.option-btn .btn {
  background-color: transparent;
  height: auto;
  padding: 7px 18px;
  border-radius: 10px;
  font-size: 11px;
  color: #8e8e8e;
  font-weight: 600;
  margin-bottom: 0px;
}
.option-btn {
  margin-bottom: 35px;
}
.option-btn .btn:hover {
  background-color: #fff;
  color: #59585a;
  border-color: #fff;
}
.option-btn .active {
  background-color: #fff;
  color: #59585a;
  border-color: #fff;
}
.submit-btn .btn {
  max-width: 92%;
  background-color: #fff;
  color: #1d1c1e;
  font-weight: 600;
  border-color: #fff;
  border-radius: 8px;
  font-size: 14px;
  padding: 12px;
  position: absolute;
  bottom: 42px;
  width: 100%;
  transform: translateX(-50%);
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.submit-btn ion-spinner{
  margin-left: 5px;
  max-height: 18px;
}
/* .filter-item-wrap {  } */


