
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
$font-faimly:'Poppins', sans-serif;
$primary-color: #333333;
$primary-font-size: 18px;
$primary-form-heading: 24px;
$primary-padding: 32px!important;
$bold-font : 600;


*{text-decoration: none;}
body {
    font: $font-faimly;
    color: $primary-color;
  }
.main-content{padding: $primary-padding;}
.form-heading{
    font-size: $primary-form-heading; 
    margin-bottom:30px; 
    font-weight: $bold-font;
    margin-top: -10px;
}
.t-b-padding {
        ion-item {
            // --background: #f5f5f5 !important; 
            margin-bottom:12px;
            .item-native {
                --border:0 !important; 
            }
        }
    }
 .for-g-pass{ text-align: right; margin-bottom:20px;  font-size:11px; }
 .for-g-pass a{color: $primary-color;}
 .back-btn ion-icon {font-size: 24px; color: $primary-color; }
 .submit-btn{
    ion-button{
        border-radius: 10px !important;
        font-size: 16px !important;
        text-transform: inherit;
        margin-bottom: 12px;
        min-height: 48px;
        overflow: hidden;
            button.button-native {
                --background: $primary-color !important;
            }

    }
 }   
 .submit-btn, .social-btns {
    display: flex;
    flex-direction: column;
    padding: 0;
}
.submit-btn button, .social-btns button{padding: 10px;}
.submit-btn, .social-btns .btn {margin-bottom:23px; }
.submit-btn .primary-btn {background: $primary-color;}
.submit-btn {
    border-bottom: 1px solid #fbfbfc;
    padding-bottom: 23px !important;
}
.fb-btn {
    background: #405897;
}
.twitter-btn {
    background: #40a9e0;
}
.fb-btn, .twitter-btn, .primary-btn{color:#fff;}
.social-btns .fa {
    margin: 0 10px;
}
a.sign-up {color: $primary-color}
.fr-gp .form-control{background: #f5f5f5; color:#979797;border: 0;}
.btn, .form-control {
    border-radius: 10px;
}
// .secondary{
//     display: none;
// }
ion-toolbar {
    ion-back-button {
        margin-left: 10px;
    }
}
.form-group {
    ion-input {
        background: #f5f5f5;
        border-radius: 10px;
        font-size: 15px;
        min-height: 46px;
    }
}
ion-grid {
    padding: 0;
}
ion-button{
    min-height: 46px;
    button{
        --padding-top:8px;
        --padding-bottom:8px;
        min-height: 46px;
    }
}
.signup-step2 {
    h3.form-heading {
        margin: -20px 0 10px;
    }
    h6 {
        margin: 0 0 35px;
    }
    .form-group{
        label {
            position: relative;
            padding-left: 25px;
        }
        a {
            color: #000;
        }
        ion-checkbox {
            position: absolute;
            left: 0;
            top: 2px;
        }
        ion-text {
            font-size: 14px;
        }
        .hyperlink-text{
            text-decoration: underline;
        }
    }

    

}

