
  <ng-template [ngIf]="data.primary">
    <ion-toolbar>
      <ion-back-button defaultHref="/landing" slot="start" color="dark"></ion-back-button>
    </ion-toolbar>

  </ng-template>
  

    <ion-content class="ion-padding">
      <!-- <div class="back-btn" *ngIf="data.primary"><a href="/landing" > <ion-icon name="md-arrow-round-back"></ion-icon></a></div> -->
      <div class="back-btn" *ngIf="data.secondary" (click)="showPrimary()"><ion-icon name="arrow-back-outline"></ion-icon></div>
      
      
      
    
      <ion-grid>
        
        <ion-row color="primary" class="ion-justify-content-center">
          <ion-col class="ion-align-self-end" size-md="6" size-lg="5" size-xs="12">
          

            <div class="" *ngIf="data.primary">
            <form #f="ngForm" [formGroup]="signupstep1">
            <div class="ion-text-left" >
              <h3 class="form-heading">Sign Up</h3>
            </div>
            <div class="t-b-padding fr-gp primary">
              <div class="form-group">
                
                <ion-input type="email" formControlName="emailID" [class.invalid]="!signupstep1.controls.emailID.valid && (signupstep1.controls.emailID.dirty || submitAttempt1)" placeholder="Email"></ion-input>
                
                <ion-item lines="none" *ngIf="!signupstep1.controls.emailID.valid && signupstep1.controls.emailID.errors && signupstep1.controls.emailID.errors.required &&  !signupstep1.controls.emailID.pending  && (signupstep1.controls.emailID.dirty || submitAttempt1)">
                  <div>Email is requried</div>
                </ion-item>

                <ion-item lines="none" *ngIf="!signupstep1.controls.emailID.valid && signupstep1.controls.emailID.errors && signupstep1.controls.emailID.errors.email &&  !signupstep1.controls.emailID.pending  && (signupstep1.controls.emailID.dirty || submitAttempt1)">
                  <div>Email Address is not valid</div>
                </ion-item>


                <ion-item lines="none" *ngIf="!signupstep1.controls.emailID.valid && signupstep1.controls.emailID.errors && signupstep1.controls.emailID.errors.emailexists &&  !signupstep1.controls.emailID.pending  && (signupstep1.controls.emailID.dirty || submitAttempt1)">
                  <div>Email already exists</div>
                </ion-item>
                <ion-item lines="none" *ngIf="signupstep1.controls.emailID.pending">
                  <div>checking email...</div>
                </ion-item>
              </div>
              <div class="form-group">
                <ion-input type="password" formControlName="password" [class.invalid]="!signupstep1.controls.password.valid && (signupstep1.controls.password.dirty || submitAttempt1)" placeholder="Password "></ion-input>
                <ion-item lines="none" *ngIf="!signupstep1.controls.password.valid &&  !signupstep1.controls.password.pending  && (signupstep1.controls.password.dirty || submitAttempt1)">
                  <div>Password is requried</div>
                </ion-item>
              </div>
            </div>

              <div class="ion-padding submit-btn">
                <button class="btn  primary-btn" (click)="continue()" name="continue">Continue</button>
              </div>
            </form>

            </div>

            <div class="signup-step2" *ngIf="data.secondary">
            <div class="ion-text-center" >
                <h3 class="form-heading">Welcome to BRED</h3>
              </div>
    
              <div class="ion-text-center">
                <h6 >We just need to know a bit more about you to get started.</h6>
              </div>

            <div class="t-b-padding fr-gp ">
              <form #f="ngForm" [formGroup]="signupstep2">
                <div class="form-group">
                  <ion-input type="text" formControlName="username" [class.invalid]="!signupstep2.controls.username.valid && (signupstep2.controls.username.dirty || submitAttempt2)" placeholder="Username"></ion-input>

                  <ion-item lines="none" *ngIf="!signupstep2.controls.username.valid && signupstep2.controls.username.errors && signupstep2.controls.username.errors.required &&  !signupstep2.controls.username.pending  && (signupstep2.controls.username.dirty || submitAttempt2)">
                    <div>Username is requried</div>
                  </ion-item>
  
                  <ion-item lines="none" *ngIf="!signupstep2.controls.username.valid && signupstep2.controls.username.errors && signupstep2.controls.username.errors.email &&  !signupstep2.controls.username.pending  && (signupstep2.controls.username.dirty || submitAttempt2)">
                    <div>Username is not valid</div>
                  </ion-item>
  
  
                  <ion-item lines="none" *ngIf="!signupstep2.controls.username.valid && signupstep2.controls.username.errors && signupstep2.controls.username.errors.usernameexists &&  !signupstep2.controls.username.pending  && (signupstep2.controls.username.dirty || submitAttempt2)">
                    <div>Username already exists</div>
                  </ion-item>
                  <ion-item lines="none" *ngIf="signupstep2.controls.username.pending">
                    <div>checking username...</div>
                  </ion-item>


                </div>
                <div class="form-group">
                  <ion-input type="text" formControlName="firstname" [class.invalid]="!signupstep2.controls.firstname.valid && (signupstep2.controls.firstname.dirty || submitAttempt2)" placeholder="First Name"></ion-input>

                  <ion-item lines="none" *ngIf="!signupstep2.controls.firstname.valid &&  !signupstep2.controls.firstname.pending  && (signupstep2.controls.firstname.dirty || submitAttempt2)">
                    <div>First name is requried</div>
                  </ion-item>
                
                </div>
                <div class="form-group">
                  <ion-input type="text" formControlName="lastname" [class.invalid]="!signupstep2.controls.lastname.valid && (signupstep2.controls.lastname.dirty || submitAttempt2)" placeholder="Last Name"></ion-input>

                  <ion-item lines="none" *ngIf="!signupstep2.controls.lastname.valid &&  !signupstep2.controls.lastname.pending  && (signupstep2.controls.lastname.dirty || submitAttempt2)">
                    <div>Last name is requried</div>
                  </ion-item>


                </div>
                <div class="form-group">
                  <ion-input type="tel" formControlName="phone" [class.invalid]="!signupstep2.controls.phone.valid && (signupstep2.controls.phone.dirty || submitAttempt2)" placeholder="Phone Number"></ion-input>

                  
                  <ion-item lines="none" *ngIf="!signupstep2.controls.phone.valid && signupstep2.controls.phone.errors && signupstep2.controls.phone.errors.required  && (signupstep2.controls.phone.dirty || submitAttempt2)">
                    <div>Phone number is requried</div>
                  </ion-item>
                  <ion-item lines="none" *ngIf="!signupstep2.controls.phone.valid && signupstep2.controls.phone.errors && signupstep2.controls.phone.errors.pattern  && (signupstep2.controls.phone.dirty || submitAttempt2)">
                    <div>Phone is not correct format</div>
                  </ion-item>


                </div>
                <div class="form-group">
                  <ion-input type="number" formControlName="shoesize" [class.invalid]="!signupstep2.controls.phone.valid && (signupstep2.controls.phone.dirty || submitAttempt2)" min="1" max="20" step="0.5" placeholder="Shoe Size (US)" ></ion-input>


                </div>
                <div class="form-group">
                  <label for="newsletter-checkbox" class="newslettertext">
                    <ion-checkbox color="dark" mode="md" formControlName="newsletterchecked" ></ion-checkbox>
                    <ion-text><div>Notify me about exclusive deals, promotional events, and other news.</div></ion-text>
                  </label>      
                </div>
                <div class="form-group">
                  <label for="newsletter-terms" class="newslettertext">
                    <ion-checkbox color="dark" mode="md" formControlName="termsofservicechecked"></ion-checkbox>
                    <ion-text>
                      <div>
                        I accept the 
                          <ion-text (click)="openbrowser('https://www.bredofficial.ca/terms')" class="hyperlink-text">Terms of services</ion-text>
                           and
                          <ion-text (click)="openbrowser('https://www.bredofficial.ca/privacy')"  class="hyperlink-text">Privacy Policy</ion-text>. 
                          </div>
                    </ion-text>


                  </label>
                </div>
              </form>
            </div>
           
            <ion-button (click)="signup()" expand="block" class="button-block md" color="dark" disabled="{{(!termsofserviceselected || !signupstep2.valid )}}">Sign Up</ion-button>

            </div>



            
          </ion-col>
        </ion-row>
      <div *ngIf="data.primary">
      <ion-row color="primary" class="ion-justify-content-center">
      <ion-col class="ion-align-self-end" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-padding social-btns">
              <button class="btn fb-btn"  (click)="fbLogin()"><i class="fa fa-facebook"></i> Sign up with Facebook</button>
              <!-- <button class="btn twitter-btn"><i class="fa fa-twitter"></i> Sign up with Twitter</button> -->
            </div>
            <p class="text-center">Already have an account? <a class="sign-up" href="/login">Log In</a></p>
          </ion-col>
        </ion-row>
      </div>
      </ion-grid>
    
  </ion-content>
