.product-view-page {
  padding: 20px;
}
.heart-wrap i {
  float: right;
}
.product-view {
  margin-bottom: 25px;
}
.main-product-view {
  background-color: #f5f5f5;
  padding: 20px;
}
.product-img-wrap p {
  font-size: 11px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #333333;
  font-weight: 600;
  margin-bottom: 15px;
  width: 100%;
  opacity: 0.75;
  text-transform: uppercase;
}
.product-img-wrap h4 {
  font-size: 24px;
  font-weight: bold;
  color: #1d1c1e;
  margin-bottom: 26px;
}
.product-img-wrap img {
  max-width: 238px;
  margin: 0 auto;
  display: block;
  margin-bottom: 16px;
}
.product-feature {
  text-align: right;
}
.product-detail-wrap tr {
  color: #676767;
  font-size: 15px;
  border-bottom: 1px solid #ece9f2;
  font-weight: 600;
}
.product-featured-name {
  width: 100px;
}
.product-feature {
  width: 260px;
}
.product-detail-wrap tr td {
  padding: 10px 0px;
  vertical-align: top;
  color: rgba(51, 51, 51, 0.75);
  font-weight: 500;
  font-size: 16px;
}
.product-detail-wrap tr td.product-feature {
  color: #333333 !important;
}
span.product-feature {
  color: #333333;
}
.heading-wrap {
  padding-top: 4px;
}

.heading-wrap h5 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}
.heading-wrap .product-section-description {
  margin-top: 28px;
}

.authentic-wrap p {
  font-size: 12px;
  font-weight: 600;
  color: #757575;
  letter-spacing: 1px;
  margin-bottom: 14px;
}
.authentic-wrap i {
  font-size: 16px;
}
.product-description-wrap p {
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  padding-top: 4px;
}
.content-wrap p {
  font-size: 12px;
  color: #333333;
  border-bottom: 1px solid rgba(29, 28, 30, 0.5);
  max-width: 78px;
  padding: 0px;
  font-weight: 600;
  letter-spacing: 1px;
}
/* .full-content { display:none; } */
::ng-deep .slick-list {
  padding-left: 0px !important;
}
.product-slider-wrap {
  margin-top: 28px;
  margin-bottom: 95px;
}
.product-slider h5 {
  font-size: 12px;
  color: #333333;
  margin-top: 8px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.75;
}
.product-slider h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
  text-align: left;
  word-break: break-all;
  color: #333333;
}
.product-wrap {
  width: 50%;
}
.product-slider {
  margin-right: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 20px;
  /* padding-top: 50px; */
  position: relative;
}
.plus-rate {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 12px;
}
.buy-sell-wrap li.list-group-item {
  padding: 0;
  display: inline-block;
}
.rate-wrap .fa-caret-down {
  color: #e44646;
  padding-right: 5px;
  vertical-align: middle;
  font-size: 16px;
}
.rate-wrap .fa-sort-up {
  color: #4eb935;
  padding-right: 5px;
  vertical-align: bottom;
  font-size: 16px;
}
.rate-wrap {
  font-size: 16px;
  font-weight: 600;
  display: block;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}
.buy-sell-wrap {
  /* padding: 8px 0px; */
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
  height: 70px;
  left: 0;
}
.buy-sell-wrap p {
  font-size: 8px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-bottom: 0;
  letter-spacing: 0.83px;
  font-weight: 600;
  text-transform: uppercase;
}
.buy-sell-wrap ul li {
  border: 0px;
  color: #fff;
  background-color: #1d1c1e;
  font-size: 20px;
  font-weight: 600;
}
.buy-sell-wrap ul {
  background-color: #1d1c1e;
  height: 63px;
  width: auto !important;
  max-width: 220px;
}
.buy-sell-wrap ul li:first-child {
  padding: 14px 15px;
  border-right: 1px solid #525252;
  border-radius: 0px;
}
.buy-sell-wrap ul li:nth-child(2) {
  text-align: center;
  width: auto;
  height: 55px;
  vertical-align: middle;
  margin: 0px auto;
  min-width: 100px;
  padding: 9px 0;
}
.buy-wrap ul {
  border-radius: 0px 5px 5px 0px;
  display: flex;
  align-items: center;
}
.sell-wrap ul {
  border-radius: 5px 0px 0px 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.related-product-slider ion-thumbnail {
  --size: 100%;
}

.product-slider h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
  text-align: left;
  word-break: break-all;
}

.product-slider p {
  font-size: 9px;
  color: #848484;
  text-align: center;
}
.product-slider .lowest-wrap {
  border-right: 2px solid #e4e4e4;
}

h5.related-product-title {
  margin-bottom: 24px !important;
}

.col.sell-section {
  padding-left: 5px;
  display: flex;
  justify-content: flex-end;
}
.col.buy-section {
  padding-right: 5px;
}
