<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="main-product-view">
    <div class="product-view">
      <div class="row">
        <div class="col" (click)="goback()">
          <i class="fas fa-arrow-left"></i>
          <!-- <ion-icon name="arrow-back-outline"></ion-icon> -->
        </div>
        <div class="col heart-wrap" style="display: none;">
          <i class="far fa-heart"></i>
        </div>
      </div>
    </div>

    <div class="product-img-wrap">
      <p>{{productpagedata.brand_name}}</p>
      <h4 *ngIf="productdata">{{productdata.title}}</h4>
      <ng-template [ngIf]="productdata">
        <img [src]=" productdata.image" />
      </ng-template>
    </div>
  </div>
  <section class="product-view-page">
    <div class="product-detail-wrap">
      <div class="heading-wrap"><h5>Details</h5></div>
      <span class="authentic-wrap" (click)="openGuaranteePopup()"
        ><p>AUTHENTIC 100% GUARANTEED <i class="fas fa-question-circle"></i></p
      ></span>

      <table style="width: 100%;">
        <tr>
          <td class="product-featured-name">SKU</td>
          <td class="product-feature">{{(productdata)?productdata.sku:''}}</td>
        </tr>
        <tr>
          <td class="product-featured-name">Release Date</td>
          <td class="product-feature">
            {{(productdata)?productdata.release_date:''}}
          </td>
        </tr>
        <tr>
          <td class="product-featured-name">Color</td>
          <td class="product-feature">
            {{(productdata)?productdata.color:''}}
          </td>
        </tr>
        <tr>
          <td class="product-featured-name">Retail (USD)</td>
          <td class="product-feature">
            ${{(productdata)?productdata.price:''}}
          </td>
        </tr>
      </table>
    </div>

    <div
      class="product-description-wrap"
      *ngIf="productdata && productdata.description != ''"
    >
      <div class="heading-wrap">
        <h5 class="product-section-description">Description</h5>
      </div>
      <ng-template
        [ngIf]="productdata.description != '' && productdata.description.length > 150"
        [ngIfElse]="descriptionfull"
      >
        <div class="less-content" *ngIf="data.showless">
          <p>{{productdata.description.substring(0,150)}}</p>
          <span class="content-wrap" (click)="showlessmore()"
            ><p>READ MORE</p></span
          >
        </div>
        <div class="full-content" *ngIf="data.showmore">
          <p>{{productdata.description}}</p>
          <span class="content-wrap" (click)="showlessmore()"
            ><p>SHOW LESS</p></span
          >
        </div>
      </ng-template>
      <ng-template #descriptionfull>
        <div class="full-content">
          <p>{{productdata.description}}</p>
        </div>
      </ng-template>
    </div>

    <div class="related-product-wrap product-slider-wrap">
      <div class="row discribe-wrap">
        <div class="col-sm-6 divide-wrap category-wrap">
          <div class="heading-wrap">
            <h5 class="related-product-title">Related Products</h5>
          </div>
        </div>
      </div>
      <ng-template [ngIf]="relatedproducts.length > 0">
        <ion-slides pager="false" [options]="slideOpts">
          <ion-slide
            *ngFor="let relatedproduct of relatedproducts"
            class="slide"
          >
            <div
              class="product-slider related-product-slider"
              (click)="gotoproductdetails(relatedproduct['id'])"
            >
              <ion-thumbnail>
                <img [src]="relatedproduct['image']" />
              </ion-thumbnail>
              <!-- <ion-img [src]="featured_product['image']"></ion-img> -->
              <h5>{{ relatedproduct['brand_name'] }}</h5>
              <ng-template
                [ngIf]="relatedproduct['title'].length  > 33 "
                [ngIfElse]="fulltitletext"
              >
                <h3>{{ relatedproduct['title'].substring(0,30) }}...</h3>
              </ng-template>
              <ng-template #fulltitletext>
                <h3>{{ relatedproduct['title'] }}</h3>
              </ng-template>

              <div class="row">
                <div class="col-md-6 col-xs-6 product-wrap lowest-wrap">
                  <span class="rate-wrap"
                    ><i class="fas fa-caret-down"></i
                    >${{relatedproduct['lowest_ask_price'] == 0 ||
                    relatedproduct['lowest_ask_price'] == null ? "--" :
                    relatedproduct['lowest_ask_price']}}</span
                  >
                  <p>Lowest Price</p>
                </div>
                <div class="col-md-6 col-xs-6 product-wrap">
                  <span class="rate-wrap"
                    ><i class="fas fa-sort-up"></i
                    >${{relatedproduct['highest_bid_price'] == 0 ||
                    relatedproduct['highest_bid_price'] == null ? "--" :
                    relatedproduct['highest_bid_price']}}</span
                  >
                  <p>Highest offer</p>
                </div>
              </div>
            </div>
          </ion-slide>
        </ion-slides>
      </ng-template>
    </div>
  </section>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <div class="buy-sell-wrap">
      <div class="row">
        <div class="col buy-section">
          <div class="buy-wrap" (click)="showBuyPopup(productdata.id)">
            <ul class="list-inline">
              <li class="list-group-item">BUY</li>
              <li class="list-group-item">
                <span class="rate-wrap"
                  ><i class="fas fa-caret-down"></i>CA ${{
                  productpagedata['lowest_ask'] }}</span
                >

                <p>Lowest Price</p>
              </li>
            </ul>
          </div>
        </div>

        <div class="col sell-section">
          <div class="sell-wrap" (click)="sellpopup()">
            <ul class="list-inline">
              <li class="list-group-item">SELL</li>
              <li class="list-group-item">
                <span class="rate-wrap"
                  ><i class="fas fa-sort-up"></i> CA ${{
                  productpagedata['hightest_bid'] }}</span
                >
                <p>Highest Offer</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </ion-fab>
</ion-content>
