ion-toolbar {
  // --background: #000;
  ion-title {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding-left: 0px;
    padding-right: 40px;
}
  ion-buttons {
    color: #fff;
  }
}
ion-header {
  text-align: center;
}
.setting_wrapper {
  background: #f5f5f5;
  padding-top: 10px;
  h1 {
    font-size: 12px;
    padding-left: 15px;
    text-transform: uppercase;
    color: #333333;
    margin: 33px 0 12px 0;
    opacity: 0.75;
    letter-spacing: 1px;
  }
  ion-label {
    font-size: 16px;
    font-weight: 500;
    font-family: 'HK Grotesk Regular';
  }
  ion-avatar {
    background: #333333;
    line-height: 33px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    height: 30px;
    width: 30px;
    margin-right: 12px;
  }
  ion-button {
    margin: 24px 20px;
  }
  .pt-5 {
    padding-top: 25px !important;
  }
  .social_links {
    display: inline-block;
    margin-right: 11px; 
    margin-bottom: 24px;
    margin-top: 12px;
    i {
      background: #333333;
      line-height: 36px;
      color: #fff;
      text-align: center;
      font-size: 16px;
      height: 36px;
      width: 36px;
      border-radius: 50%;
    }
  }
  .social_section{
    margin-left:15px;
  }
  ion-list {
    padding-bottom: 0px !important;
    padding-top: 0px;
    ion-nav-link {
      min-width: 100%;
      display: flex;
      align-items: center;
    }
  }
}
.bg_wrapper {
  background: #f5f5f5;
}
