 

<ion-toolbar color="dark">
  <ion-back-button defaultHref="/tabs/home" slot="start" color="light"></ion-back-button>
  <ion-title>Settings</ion-title>
</ion-toolbar>



<ion-content>
<div class="setting_wrapper">
  <ion-text>
    <h1>Profile</h1>
  </ion-text>
  <ion-list>
    <!-- <ion-item lines="full">
      <ion-avatar slot="start">
        <i class="fas fa-heart"></i>
      </ion-avatar>
      <ion-label>Saved</ion-label>
    </ion-item> -->
    <ion-item lines="full">
      <ion-nav-link  routerLink="/buying" routerDirection="forward">
        <ion-avatar slot="start">
          <i class="fas fa-shopping-cart"></i>
        </ion-avatar>
        <ion-label>Buying</ion-label>
      </ion-nav-link>
    </ion-item>
    <ion-item lines="full">
      <ion-nav-link  routerLink="/selling" routerDirection="forward">
        <ion-avatar slot="start">
          <i class="fas fa-dollar-sign"></i>
        </ion-avatar>
        <ion-label>Selling</ion-label>
      </ion-nav-link>
    </ion-item>
    <!-- <ion-item lines="full">
      <ion-avatar slot="start">
        <i class="far fa-envelope"></i>
      </ion-avatar>
      <ion-label>Invite Friends</ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-avatar slot="start">
        <i class="fab fa-facebook-f"></i>
      </ion-avatar>
      <ion-label>Connect Facebook</ion-label>
    </ion-item> -->
  </ion-list>

  <ion-text>
    <h1>Settings</h1>
  </ion-text>
  <ion-list>
    <ion-item lines="full">
      <ion-nav-link  routerLink="/edit-profile" routerDirection="forward">
        <ion-avatar slot="start">
          <i class="far fa-user"></i>
        </ion-avatar>
        <ion-label>Edit Profile</ion-label>
      </ion-nav-link>
    </ion-item>
    <ion-item lines="full">
      <ion-nav-link  routerLink="/changepassword" routerDirection="forward">
        <ion-avatar slot="start">
          <i class="fas fa-unlock-alt"></i>
        </ion-avatar>
        <ion-label>Change Password</ion-label>
      </ion-nav-link>
    </ion-item>
    <ion-item lines="full">
      <ion-nav-link  routerLink="/payment-settings" routerDirection="forward">
        <ion-avatar slot="start">
          <i class="fas fa-dollar-sign"></i>
        </ion-avatar>
        <ion-label>Payment Settings</ion-label>
      </ion-nav-link>
    </ion-item>
    <ion-item lines="full" (click)="loadShippingAddressModal()">
      <ion-avatar slot="start">
        <i class="fas fa-map-marker-alt"></i>
      </ion-avatar>
      <ion-label>Shipping Address</ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-avatar slot="start">
        <i class="far fa-bell"></i>
      </ion-avatar>
      <ion-label>Notifications</ion-label>
    </ion-item>
  </ion-list>
  <ion-button  expand="block" color="dark" (click)="logout()" >Log out</ion-button>
  
  <ion-text>
    <h1 class="pt-5">Follow Us</h1>
    <div class="bg_wrapper social_section">
      <div class="social_links" (click)="openbrowser('https://www.facebook.com/BredOfficialApp','Facebook')"> 
        <i class="fab fa-facebook-f"></i>
      </div>
      <div class="social_links" (click)="openbrowser('https://twitter.com/BredOfficial_','Twitter')"> 
        <i class="fab fa-twitter"></i>
      </div>
      <div class="social_links" (click)="openbrowser('https://www.instagram.com/bred.official','Instagram')"> 
        <i class="fab fa-instagram"></i>
      </div>
      
    </div>
  </ion-text>
 
 


 
  
  <ion-list>
    <ion-item lines="full" (click)="openbrowser('https://bredofficial.zendesk.com/hc/en-us','FAQ')">
      <ion-label>FAQ</ion-label>
    </ion-item>
    <ion-item lines="full" (click)="openbrowser('https://www.bredofficial.ca/contact','Contact Us')">
      <ion-label>Contact Us</ion-label>
    </ion-item>
    <ion-item lines="full" (click)="openbrowser('https://www.bredofficial.ca/request-a-product','Request a Shoe')">
      <ion-label>Request a Shoe</ion-label>
    </ion-item>
    <ion-item lines="full" (click)="openbrowser('https://www.bredofficial.ca/terms','Terms')">
      <ion-label>Terms</ion-label>
    </ion-item>
    <ion-item lines="full" (click)="openbrowser('https://www.bredofficial.ca/privacy','Privacy')">
      <ion-label>Privacy</ion-label>
    </ion-item>
  </ion-list>

  
</div>
</ion-content>
