ion-toolbar{
  // --background: #000;
  ion-title {
      color: #fff;
      text-align: center;
  }
  ion-icon{
      color: #fff;
  }
  ion-button{
      float:right;
      --padding:0;
      // --background: #000;
      font-size: 14px;
      color: #bbb;
  }
}
.invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545 !important;
}
ion-item {
  line-height: 1;
}

ion-content {
  --padding-top: 30px;
  ion-item {
    display: block;
    ion-label {
      width: 100% !important;
      display: block;
    }
    ion-input {
      width: 100% !important;
      display: block;
    }
  }
  .input_form {
    min-width: 100%;
    margin-bottom: 15px;
    position: relative;
    ion-label {
      font-size: 12px;
      color: #5f5f5f;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 5px;
      letter-spacing: 1px;
    }
    ion-input {
      background: #f5f5f5;
      border-radius: 10px;
      padding: 0 15px;
      font-size: 14px;
      --padding-start: 15px;
      --padding-end: 58px;
    }
    ion-input.ion-invalid {
      border: solid 1px #dc3545 !important;
    }
    
    ion-thumbnail {
      position: absolute;
      top: 18px;
      right: 5px;
      z-index: 2;
      width: 50px;
      background: #f5f5f5;
      height: 40px;
      img {
        width: 50px;
        background: #f5f5f5;
        height: 40px;
      }
    }
  }
  .select_form {
    min-width: 100%;
    ion-label {
      font-size: 12px;
      color: #5f5f5f;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 5px;
      letter-spacing: 1px;
    }
    ion-select {
      width: 100% !important;
      padding-right: 15px;
      background: #f5f5f5;
      border-radius: 10px;
      min-width: 100%;
      font-size: 14px;
    }
  }
  .billingHead {
    font-size: 18px;
    font-weight: bold;
    margin: 0 15px 15px 15px;
  }
  .showCard {
    border: 2px solid #e6e4e4;
    margin: 15px;
    ion-item {
      border: 2px solid #ccc;
      margin: 10px;
      border-radius: 4px;
      padding: 0 5px;
      ion-icon {
        font-size: 35px;
      }
      h3 {
        font-size: 14px;
        font-weight: bold;
        margin: 0;
      }
      p {
        color: #444;
        font-size: 12px;
        margin-top: 2px;
      }
    }
    ion-item.active {
      border: 2px solid green !important;
      ion-icon {
        color: green;
        font-size: 35px;
      }
    }
    ion-thumbnail {
      width: 25px;
      height: 20px;
      float: left;
      margin: 0 10px 0 0;
      border: 1px solid #ccc;
    }
  }
}

.hide-paypal .braintree-option.braintree-option__paypal {
  display: none !important;
}

ion-icon {
  position: absolute;
  font-size: 20px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

ion-title {
  margin-left: 35px;
}