<!-- <ion-header>
  <ion-toolbar>
    <ion-label>
      <ion-icon  class="fas fa-arrow-left" (click)="back()"></ion-icon>
      <ion-back-button icon="" text="" color="light"><ion-icon  class="fas fa-arrow-left"></ion-icon>  </ion-back-button>
    </ion-label>
    <ion-title>Payout</ion-title>
    <ion-button id="paymentsavebutton" (click)="save()">Save</ion-button>
  </ion-toolbar>
</ion-header> -->

<ion-toolbar color="dark">
  <!-- <ion-back-button defaultHref="/payment-settings" class="header" slot="start" color="light" (click)="back()"></ion-back-button> -->
  <ion-icon name="arrow-back-outline" (click)="back()" color="light"></ion-icon>
  <ion-button id="paymentsavebutton" color="dark" (click)="save()" slot="end">Save</ion-button>
  <ion-title>Payout</ion-title>
</ion-toolbar>



<ion-content>
<form #f="ngForm" [formGroup]="editpayout">
  <ion-list>
    <ion-item lines="none">
      <div class="input_form">
        <ion-label>Paypal Email</ion-label>
        <ion-input type="text" formControlName="email" [class.invalid]="!editpayout.controls.email.valid && (editpayout.controls.email.dirty || submitAttempt)"></ion-input>
        <ion-item lines="none" *ngIf="!editpayout.controls.email.valid && editpayout.controls.email.errors && editpayout.controls.email.errors.required  && (editpayout.controls.email.dirty || submitAttempt)">
          <div>Email is required</div>
        </ion-item>

        <ion-item lines="none" *ngIf="!editpayout.controls.email.valid && editpayout.controls.email.errors && editpayout.controls.email.errors.email  && (editpayout.controls.email.dirty || submitAttempt)">
          <div>Email is incorrect</div>
        </ion-item>


        <ion-thumbnail slot="end">
          <img src="../../../assets/icon/paypal-icon.png" width="50">
        </ion-thumbnail>
      </div>
    </ion-item>

    <ion-item lines="none">
      <div class="input_form">
        <ion-label>Confirm Email</ion-label>
        <ion-input type="text" formControlName="confirmemail" [class.invalid]="!editpayout.controls.confirmemail.valid && (editpayout.controls.confirmemail.dirty || submitAttempt)"></ion-input>
        <ion-item lines="none" *ngIf="!editpayout.controls.confirmemail.valid && editpayout.controls.confirmemail.errors && editpayout.controls.confirmemail.errors.required  && (editpayout.controls.confirmemail.dirty || submitAttempt)">
          <div>Confirm Email is required</div>
        </ion-item>
        <ion-item lines="none" *ngIf="!editpayout.controls.confirmemail.valid && editpayout.controls.confirmemail.errors && editpayout.controls.confirmemail.errors.email  && (editpayout.controls.confirmemail.dirty || submitAttempt)">
          <div>Email is incorrect</div>
        </ion-item>
        <ion-item lines="none" *ngIf="!editpayout.controls.confirmemail.valid && editpayout.controls.confirmemail.errors && editpayout.controls.confirmemail.errors.mustMatch  && (editpayout.controls.confirmemail.dirty || submitAttempt)">
          <div>Email must match</div>
        </ion-item>
        <!-- <ion-thumbnail slot="end">
          <img src="../../../assets/icon/paypal-icon.png" width="50">
        </ion-thumbnail> -->
      </div>
    </ion-item>
  </ion-list>
</form>
</ion-content>
