@font-face {
    font-family: 'HKGroteskBold';
    src: url('fonts/HKGroteskBold.eot');
    src: url('fonts/HKGroteskBold.eot') format('embedded-opentype'),
         url('fonts/HKGroteskBold.woff2') format('woff2'),
         url('fonts/HKGroteskBold.woff') format('woff'),
         url('fonts/HKGroteskBold.ttf') format('truetype'),
         url('fonts/HKGroteskBold.svg#HKGroteskBold') format('svg');
}
