::ng-deep .buypopup-tabs .modal-wrapper {
  height: 100%;
  width: 100%;  
}
.product-view {
  background: var(--ion-color-dark,#000);;
  height: 100%;
  color: #fff;
  padding: 0;
  position: relative;
  overflow-y: scroll;
  
}
// div, h5,p, table thead th,table thead td{
//   font-family: 'HK Grotesk Regular' !important;
//   font-weight: bold;  
// }
h5{
  font-size: 24px;
  color: #333333 !important;
}
div .product-sku{
  color:  rgba(51,51,51,0.75) !important;
  font-size: 12px;
  font-weight: 600;
}

p{
  font-weight: 600 !important;
}
.offer-wrapper h5, .offer-wrapper p{
  color: #fff !important;
}
// .offer-wrapper, .offer-wrapper h5, .offer-wrapper p, .offer-wrapper ion-button{
//   color: #fff !important;
// }

p.disc {
  font-weight: 500 !important;
}

.content-wrap.tab p {
  opacity: 0.75;
  letter-spacing: 1px;
}
.content-wrap.sizecart p{
  text-decoration: underline;

}
p.size-heading{
  font-size: 12px;
  opacity: 0.75;
  margin: 0;
  letter-spacing: 1px;
}

.product-view h5 {
  margin-bottom: 20px;
  font-weight: bold;
}

span.closebtn {
  position: absolute;
  right: 20px;
  top: 20px;
  display: inline-block;
}
span.backbtn {
  position: absolute;
  left: 20px;
  top: 20px;
  display: inline-block;
}
.content-wrap p {
  font-size: 12px;
  width: auto;
  padding: 0px;
  // letter-spacing: 1px;

}
.content-wrap p.active {
  border-bottom: solid 1.5px #fff;;
  opacity: 1;
}
span.content-wrap {
  display: inline-block;
  margin-right: 15px;
  text-transform: uppercase;
}
span.content-wrap:last-child {
  margin-right: 0 !important;
  float: right;
  text-transform: capitalize;
}
span.value {
  font-size: 10px;
  display: block;
  clear: both;
  width: 100%;
}
button.button-native {
  border-radius: 12px;
}
.links ul {
  margin: 0 0 15px 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
.links ul li {
  display: inline;
}
.links ul li a {
  font-size: 12px;
  color: #fff;
  margin-right: 15px;
}
.links ul li:last-child {
  float: right;
  margin-right: 0 !important;
  font-size: 10px;
}
.btn-sec {
  max-height: 385px;
  overflow-y: scroll;
  padding-bottom: 10px;
  margin: 5px -15px;
}
ion-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-flow: wrap;
}
ion-button {
  color: #fff !important;
  width: 72px;
  min-height: 72px;
  margin: 0;
}
.button-inner {
  flex-flow: column;
}
.full {
  color: #fff;
  font-size: 24px;
  padding-top: 10px;
  font-weight: 600;
}
.value {
  font-size: 12px;
  display: block;
  clear: both;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  color: #fff;
  opacity: 0.75;
  font-weight: 600;
}
.offer-wrapper {
  padding: 20px 20px 0px 20px;
  position: relative;
  background: var(--ion-color-dark,#000);
}

.product-img-wrap {
  padding: 20px;
  text-align: center;
  background: #fff;
  color: #333333;
}
.product-img-wrap img {
  max-width: 154px;
  margin: 20px auto 10px;
  display: block;
  height: auto;
}
.product-img-wrap h5 {
  margin-bottom: 8px;
  font-weight: bold;
}
.product-sku {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #fff;
  border-collapse: collapse;
}
.table thead th {
  vertical-align: bottom;
  border-top: 0px solid #fff !important;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1px solid #fff !important;
  opacity: 0.75;
  // font-family: 'HK Grotesk Regular' !important;
}
.table td,
.table th {
  padding: 10px;
  vertical-align: top;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid rgba(224, 224, 224, 0.25) !important;
  font-weight: 600 !important;
}

.button {
  --border-radius: 16px;
  --border-width: 1px;
  --border-style: solid;
  --border-color: rgba(255,255,255,0.3);
  --background: rgba(255,255,255,0);
}
.button[disabled] {
  --background: #333333;
    /* --color: #9a7272; */
    --border-radius: 16px;
    --border-width: 1px;
    --border-style: solid;
    --border-color: #333333;
   
    opacity: 0.5;
}

.offer-wrapper ion-icon{
  font-size: 23px;
}

.btn-sec .slide {
  margin-bottom: 13px;
}