<ion-content>
  <div class="product-view">
      <div class="product-img-wrap">
          <img src="{{ product.image }}" />
          <h5>{{ product.title }}</h5>
          <div class="product-sku">sku: {{ product.sku }}</div>
      </div>
      <div class="offer-wrapper" *ngIf="sellnowvisible || listpricevisible">
          <h5>Sell</h5>
          <span class="closebtn"><ion-icon (click)="closeModal()" name="close-outline" color="light"></ion-icon></span>    
          <div class="links">
              <span class="content-wrap tab" (click) = "showsellnowsection()"><p [ngClass]="{active:sellnowvisible}">Sell Now</p></span>
              <span class="content-wrap tab" (click) = "showlistpricesection()"><p [ngClass]="{active:listpricevisible}">List Item</p></span>
              <span class="content-wrap sizecart" (click) = "showsizechart()"><p [ngClass]="{active:sizechartvisible}">Size Chart</p></span>
          </div> 
          <p class="disc">
            <ng-template [ngIf]="sellnowvisible" [ngIfElse]="highestbidheading">
                <ng-template [ngIf]="isHaveHighestOffer" [ngIfElse]="nohighestpricetext">
                    Prices shown are the highest offers
                </ng-template>
                <ng-template #nohighestpricetext>
                    This item currently has no offers
                </ng-template>
                
            </ng-template>
            <ng-template #highestbidheading>
                Prices shown are the lowest listed prices
            </ng-template>  
            </p>
          <p class="size-heading">US {{ (product.filter+'s') | uppercase}}</p>
          <div class="btn-sec" *ngIf="sellnowvisible">
              <ion-grid>
                  <ion-row>
                      <div *ngFor="let productsize of productsizes" class="slide">
                          <ion-col class="ion-align-self-center">
                                  <ion-button fill="outline" class="custom" (click)="reviewsellmodal(productsize.highest_bid.highest_bid_price,productsize[0].id,productsize.highest_bid.id,productsize[0].value)" *ngIf="productsize.highest_bid; else dashed">
                                      <ion-text color="secondary">
                                          <div class="full">{{ productsize[0].value }} </div>                                
                                          <div class="value">${{productsize.highest_bid.highest_bid_price}}</div>
                                      </ion-text>
                                  </ion-button>
                              <ng-template #dashed>
                                  <ion-button fill="outline" class="custom" disabled>
                                      <ion-text color="secondary">
                                          <div class="full">{{ productsize[0].value }} </div>                                
                                          <div class="value">--</div>
                                      </ion-text>
                                  </ion-button>
                              </ng-template>
                          </ion-col>
                      </div>        
                  </ion-row>
              </ion-grid>
          </div>
      
          <div class="btn-sec" *ngIf="listpricevisible">
              <ion-grid>
                  <ion-row>
                      <div *ngFor="let productsize of productsizes" class="slide">
                          <ion-col class="ion-align-self-center">
                              <ion-button shape="" fill="outline" class="custom" (click)="sellListPricemodal(productsize[0].id,productsize.highest_bid,productsize.lowest_ask)" *ngIf="productsize.lowest_ask; else dashed">
                                  <ion-text color="secondary">
                                      <div class="full">{{ productsize[0].value }} </div>                                
                                      <div class="value">${{productsize.lowest_ask.lowest_ask_price}}</div>
                                  </ion-text>
                              </ion-button>
                          <ng-template #dashed>
                              <ion-button shape="" fill="outline" class="custom" (click)="sellListPricemodal(productsize[0].id,{},productsize.lowest_ask)">
                                  <ion-text color="secondary">
                                      <div class="full">{{ productsize[0].value }} </div>                                
                                      <div class="value">--</div>
                                  </ion-text>
                              </ion-button>
                          </ng-template>
                          </ion-col>
                      </div>        
                  </ion-row>
              </ion-grid>
          </div>
      </div> 


      <div class="offer-wrapper" *ngIf="sizechartvisible">
          <h5 class="text-center">Size Chart (US)</h5>
          <span class="backbtn"><i (click)="showsellnowsection()" class="fas fa-arrow-left"></i></span>
          <span class="closebtn"><ion-icon (click)="closeModal()" name="close-outline" color="light"></ion-icon></span>
          
          <div class="btn-sec">
              <table class="table">
                  <thead>
                    <tr>
                        <th>Mens</th>
                        <th>Womens</th>
                        <th>UK</th>
                        <th>EU</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>3.5</td>
                        <td>5</td>
                        <td>2.5</td>
                        <td>35.5</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>5.5</td>
                        <td>3</td>
                        <td>36</td>
                    </tr>
                    <tr>
                        <td>4.5</td>
                        <td>6</td>
                        <td>3.5</td>
                        <td>36.5</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>6.5</td>
                        <td>4</td>
                        <td>37.5</td>
                    </tr>
                    <tr>
                        <td>5.5</td>
                        <td>7</td>
                        <td>4.5</td>
                        <td>38</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>7.5</td>
                        <td>5.5</td>
                        <td>38.5</td>
                    </tr>
                    <tr>
                        <td>6.5</td>
                        <td>8</td>
                        <td>6</td>
                        <td>39</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>8.5</td>
                        <td>6</td>
                        <td>40</td>
                    </tr>
                    <tr>
                        <td>7.5</td>
                        <td>9</td>
                        <td>6.5</td>
                        <td>40.5</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>9.5</td>
                        <td>7</td>
                        <td>41</td>
                    </tr>
                    <tr>
                        <td>8.5</td>
                        <td>10</td>
                        <td>7.5</td>
                        <td>42</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>10.5</td>
                        <td>8</td>
                        <td>42.5</td>
                    </tr>
                    <tr>
                        <td>9.5</td>
                        <td>11</td>
                        <td>8.5</td>
                        <td>43</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>11.5</td>
                        <td>9</td>
                        <td>44</td>
                    </tr>
                    <tr>
                        <td>10.5</td>
                        <td>12</td>
                        <td>9.5</td>
                        <td>44.5</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>12.5</td>
                        <td>10</td>
                        <td>45</td>
                    </tr>
                    <tr>
                        <td>11.5</td>
                        <td>13</td>
                        <td>10.5</td>
                        <td>45.5</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>13.5</td>
                        <td>11</td>
                        <td>46</td>
                    </tr>
                    <tr>
                        <td>12.5</td>
                        <td>14</td>
                        <td>11.5</td>
                        <td>47</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>14.5</td>
                        <td>12</td>
                        <td>47.5</td>
                    </tr>
                    
                    <tr>
                        <td>13.5</td>
                        <td>15</td>
                        <td>12.5</td>
                        <td>48</td>
                    </tr>
                    
                    <tr>
                        <td>14</td>
                        <td>15.5</td>
                        <td>13</td>
                        <td>48.5</td>
                    </tr>
                    
                    <!-- <tr>
                        <td>14.5</td>
                        <td>16</td>
                        <td>13.5</td>
                        <td>49.5</td>
                    </tr> -->
                    
                    <tr>
                        <td>15</td>
                        <td>16</td>
                        <td>14</td>
                        <td>49.5</td>
                    </tr>
                    
                    <!-- <tr>
                        <td>15.5</td>
                        <td>17</td>
                        <td>14.5</td>
                        <td>22</td>
                    </tr> -->
                    
                    <!-- <tr>
                        <td>16</td>
                        <td>17.5</td>
                        <td>15</td>
                        <td>22</td>
                    </tr> -->
                    
                    

                </tbody>
              </table>
          </div>
      </div>
  </div>
</ion-content>