@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
$font-faimly:'Poppins', sans-serif;
$primary-color: #333333;
$primary-font-size: 18px;
$primary-form-heading: 24px;
$primary-padding: 32px!important;

body {
    font: $font-faimly;
    color: $primary-color;
  }
  .verify-wrap {
      margin-top:50%; 
      .form-heading {
          font-size: $primary-form-heading; 
          font-weight: 600; 
          color: $primary-color;
          text-align: center;
      } 
  }
 .verify-wrap {
     p { font-size: 14px; 
          margin: 10px 0px;
          text-align: center;
          color: $primary-color;
          font-weight: 600;
       }
 } 
.verify-btn { 
    .btn { background-color: $primary-color;
        color: #fff;
        width: 100%;
        border-radius: 10px;
        padding: 10px;
        margin-top: 20px; 
        margin-bottom: 10px; 
    }
}

.resend-file{
    .hyperlink-text{
        text-decoration: underline;
    }
}
@media only screen and (max-width: 767px) {
    .verify-wrap {
        margin-top:50%; }
  }