
<ion-content padding>
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col class="verify-wrap" align-self-end size-md="12" size-lg="12" size-xs="12">
          <div text-center>
            <h3 class="form-heading">Verify your account</h3>
            <p>Please check your inbox and spam folders to verify your email.</p>
          </div>
           <div class="verify-btn" >
            <button type="verify" class="btn primary-btn "  (click)="redirectHome()" type="submit" >OK</button>
          </div>
          <div class="resend-file">
          <p>Email send successfully </p>
          <p>Didn't get it? <b (click)="resendVerificationEmail()" class="hyperlink-text">Resend email</b> </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>

