<!-- <ion-header>
  <ion-toolbar>
    <ion-title>shippinglabel</ion-title>
    
    <ion-back-button slot="start" defaultHref="/selling/order-detail-sell-view/{{orderId}}" icon="" text="" color="light">
      <ion-icon  class="fas fa-arrow-left"></ion-icon>
    </ion-back-button>
      
      <ion-buttons slot="end">
        <ion-icon name="share"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<ion-header color="danger" class="ion-no-shadow shippinglabel">
    <ion-back-button defaultHref="/selling/order-detail-sell-view/{{orderId}}" slot="start" style="float: left;" color="dark">
        <button ion-button icon-only>
          <ion-icon name="arrow-back"></ion-icon>
        </button>
    </ion-back-button>
    <ion-title class="sharedTitle">Shipping Label</ion-title>
    <ion-buttons slot="end" style="float: right;" color="dark" (click)="share()" *ngIf="file">
        <button ion-button icon-only color="dark">
          <ion-icon name="share"></ion-icon>
        </button>
    </ion-buttons>
</ion-header>

<ion-content>

  <ng-template [ngIf]="file">
    <ion-img src="{{file}}"></ion-img>

  </ng-template>
</ion-content>
