.shippinglabel {
    padding: 10px 0 0px 0;
    background: rgb(29, 28, 30);
    color: #fff;
  .sharedTitle {
    width: calc(100% - 56px);
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    font-size: 14px;
  }
  button{
    background: transparent;
    color: #fff;
  }
}
.sharedTitle.title-ios {
    width: calc(100% - 20px)!important;
    margin: 8px auto!important;
}