<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="search-bar-wrap">
    <ion-searchbar
      placeholder="Search brand, model, SKU"
      color="dark"
      animated
      (ionClear)="clearSearchData()"
      (keyup)="getItems($event)"
    ></ion-searchbar>
    <div class="search-list">
      <ion-list lines="none">
        <ion-item 
          *ngFor="let item of items"
          (click)="gotoproductdetails(item.id)"
          [class.selected] = "item.id == selectProductId"
          >
          <div>
            <img src="{{ item.image }}" />
          <ion-text>
            <h4 class="title">"{{ item.title }}"</h4>
            <h5>cloud white</h5>

          </ion-text>

          </div>
          
         
        </ion-item>
      </ion-list>
    </div>
  </div>

  
  
  <!-- browser-grid wrap start here-->
  <div class="browse-grid-wrap" *ngIf="data.gridview">
    <ng-template [ngIf]="issearch">
      <div class="search-count">{{totalproduct}} results found</div>
    </ng-template>
    <div class="row first-row">
      <ng-template [ngIf]="product_list && product_list.length" [ngIfElse]="noproducttemplate">
        <div
        class="col-sm-6 col-xs-6 product-grid"
        *ngFor="let product of product_list"
      >
        <div
          class="browser-product"
          (click)="gotoproductdetails(product['id'])"
        >
          <img [src]="product['image']" class="img-fluid" alt="" />
          <h5>{{ product['brand'] }}</h5>
          <ng-template [ngIf]="product['title'].length  > 28 " [ngIfElse]="fulltitletext">
            <h3 [title]="product['title']">{{ product['title'].substring(0,28)  }}...</h3>
          </ng-template>
          <ng-template #fulltitletext>
            <h3 [title]="product['title']">{{ product['title']  }}</h3>
          </ng-template>
          <div class="row">
            <div class="col-md-6 col-xs-6 product-wrap lowest-wrap">
              <span class="rate-wrap"
                ><i class="fas fa-caret-down"></i>${{product['lowest_ask'] == 0
                || product['lowest_ask'] == null ? "--" :
                product['lowest_ask']}}</span
              >
              <p>Lowest Price</p>
            </div>
            <div class="col-md-6 col-xs-6 product-wrap">
              <span class="rate-wrap"
                ><i class="fas fa-sort-up"></i>${{product['highest_bid'] == 0 ||
                product['highest_bid'] == null ? "--" :
                product['highest_bid']}}</span
              >
              <p>Highest offer</p>
            </div>
          </div>
        </div>
      </div>
      </ng-template>
      <ng-template #noproducttemplate>
        <ng-template [ngIf]="!searchServiceObj">
          <div>No Product Found.</div>
        </ng-template>
      </ng-template>
      
    </div>
  </div>
  <!-- browser list wrap start here-->
  <div class="browse-list-wrap " *ngIf="data.listview">
    <ng-template [ngIf]="issearch">
      <div class="search-count listview-result-count">{{totalproduct}} results found</div>
    </ng-template>
    <ng-template [ngIf]="product_list && product_list.length" >
      <div class="row first-row" *ngFor="let product of product_list">
        <div class="col-sm-12 col-xs-12 browser-list-line">
          <div class="browser-product-list" (click)="gotoproductdetails(product['id'])">
            <div class="browser-img-wrap">
              <img [src]="product['image']" class="img-fluid" alt="" />
            </div>
            <div class="browser-content-wrap">
              <h5>{{ product['brand'] }}</h5>
              
                <ng-template [ngIf]="product['title'].length  > 50 " [ngIfElse]="fulltitletext">
                  <h3 [title]="product['title']">{{ product['title'].substring(0,50)  }}...</h3>
                </ng-template>
                <ng-template #fulltitletext>
                  <h3 [title]="product['title']">{{ product['title']  }}</h3>
                </ng-template>
            </div>
            <div class=" price-updown row">
              <div class="col-md-6 col-xs-6 product-wrap lowest-wrap">
                <span class="rate-wrap"
                  ><i class="fas fa-caret-down"></i>Lowest
                  Price:${{product['lowest_ask'] == 0 || product['lowest_ask'] ==
                  null ? "---" : product['lowest_ask']}}</span
                >
              </div>
              <div class="col-md-6 col-xs-6 product-wrap">
                <span class="rate-wrap"
                  ><i class="fas fa-sort-up"></i>Highest
                  offer:${{product['highest_bid'] == 0 || product['highest_bid']
                  == null ? "---" : product['highest_bid']}}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    
  </div>
  <!-- browser filter wrap start here-->

  <ion-infinite-scroll
    threshold="100px"
    (ionInfinite)="loadMoreProducts($event)"
    *ngIf="product_list"
    >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <div class="browser-filter">
      <ul class="list-inline">
        <li class="list-inline-item" (click)="showfilterpage()">FILTERS 
          <ng-template [ngIf]="filtercount">({{filtercount}})</ng-template>
        </li>
        <li
          class="list-inline-item"
          *ngIf="data.gridview"
          (click)="changeView('showlist')"
        >
          <i class="fas fa-bars"></i>
        </li>
        <li
          class="list-inline-item"
          *ngIf="data.listview"
          (click)="changeView('showgrid')"
        >
          <i class="fas fa-th-large"></i>
        </li>
      </ul>
    </div>
   
  </ion-fab>

  <div class="search-loader" *ngIf="!issearch && isloading"> 
    <ion-spinner></ion-spinner> 
  </div>
 
</ion-content>
