.search-bar-wrap  ion-searchbar { position: static; z-index: 999999; padding: 0px; padding: 20px; background-color: #1d1c1e; } 
 ::ng-deep .searchbar-input  {color: #fff !important; border-radius: 10px !important; background-color: #59585a !important;  } 
::ng-deep .carousel-indicators li {  width: 10px; height: 10px; border-radius: 50%;  }
.search-list { position: absolute; top:80px; z-index: 999;}
.search-list p { font-size: 14px; font-weight: lighter; padding-left: 15px; padding-top: 20px;}

/* browse-grid-wrap grid wrap css start here */
ion-content { font-family:  'Poppins', sans-serif; }
.product-grid { width:50%; display: inline; }
.product-grid h5 { 
    font-size: 12px;
    color: #333333;
    margin-top: 5px;
    font-weight: 600;
    opacity: 0.75;
    text-transform: uppercase; 
    letter-spacing: 1px;
 }
.product-grid h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #333333;
}
.product-wrap { width: 50%; padding: 0; }
.browse-grid-wrap .first-row { margin: 0px; padding: 15px 10px; }
.product-grid {     padding: 10px; }
.browser-product { padding: 10px; background-color: #f5f5f5; border-radius: 15px; height: auto; }
.product-grid p {
    font-size: 10px;
    color: #333333;
    text-align: center;
    opacity: 0.75;  
}
.rate-wrap {
    font-size: 14px;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
    color: #333333;
}
.rate-wrap .fa-caret-down { color:#e44646; padding-right: 5px; vertical-align: baseline; font-size: 16px; } 
.rate-wrap .fa-sort-up { color:#4eb935; padding-right: 5px; vertical-align: bottom; font-size: 16px; } 
.lowest-wrap { border-right: 2px solid #e4e4e4;}
/* ::ng-deep .slick-dots { display: none !important; } */
::ng-deep .slick-list { padding-left: 20px !important; }
.divide-wrap { width: 50%; margin-bottom: 15px; }
.category-wrap h3 { text-align: left; padding-left: 20px;  font-size: 20px;  }
.viewall-wrap h4 { text-align: right; padding-right: 20px; font-size: 16px; color: #000;  }
.browse-grid-wrap { margin-top: 0px; }


/* browser-filter css start here */
.browser-filter ul { background-color: #1d1c1e;  color: #fff; width: 151px;  border-radius: 8px; padding: 6px 10px; text-align: center;  box-shadow: 0 2px 0 0 #43404A; }
.browser-filter { position: fixed; bottom: 0; transform: translateX(-50%); left: 50%; }
.browser-filter li:nth-child(2) { float: right;
    border-left: 1px solid #fff;
    padding-left: 10px;}
    .browser-filter li:nth-child(1) {     font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #ffffff;
    }


/* browser-list-line css start here */
.browser-list-line { width: 100%;     margin: 5px 0px; }   
    .browser-img-wrap {     width: 30%;  display: inline-block; padding-left: 10px; text-align: center; }
    .browser-img-wrap img { max-width: 80px; }
    .browser-content-wrap {     width: 65%;  float: right; }
    .price-updown { width: 100%;  }
    .browse-list-wrap h5 { 
        font-size: 12px;
        color: #333333;
        opacity: 0.75;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
    }
.browse-list-wrap h3 {  
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #333333;
    height: 38px;
    display: flex;
    align-items: center;
 }
.price-updown { background-color: #f5f5f5; margin: 0;  padding: 6px 0px; border-bottom: 1px solid #9c9c9c; }
.browse-list-wrap .rate-wrap {
    font-size: 12px;
    display: block;
    width: 100%;
    text-align: center;
    color: #333333;
    font-weight: 600;
}
.browse-list-wrap  { margin-top: 10px; }

.search-list ion-item {padding: 5px 0;}
.search-list ion-item img {
    width: 90px;
    height: auto;
}

.search-list ion-item h4 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    margin: 0;
}

.search-list ion-item ion-text {
    padding-left: 15px;
}

.search-list ion-item h5 {
    color: #9e9e9e;
    font-size: 11px;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
}

ion-refresher.refresher-native{
    z-index: 99999999;
}

.browser-product-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.search-list ion-item > div{
    display: flex;
    border: solid 1px transparent;
    padding: 5px;
    border-bottom: solid 1px #ccc;
}

.search-list ion-item.selected > div {
    border: solid 1px #333;
    border-bottom: solid 1px #333;
}

.search-count{
    padding: 0px 15px;
    font-size: 12px;
    color: #333333;
    margin: 25px 0 0 0;
    opacity: 0.75;
    font-weight: 500;
}
.search-count.listview-result-count {
    margin: 15px 0px;
}
.search-loader {
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0px auto;
    width: 40px;
    text-align: center;
    height: 40px;
    transform: translateY(-50%);
}
    
