<!-- <ion-header collapse="condense">
  <ion-toolbar>
    <ion-label>
      <ion-back-button defaultHref="/tabs/home" icon="" text="" color="light"><ion-icon  class="fas fa-arrow-left"></ion-icon></ion-back-button>
    </ion-label>
    <ion-title>Buying</ion-title>
  </ion-toolbar>
  <ion-item lines="none">
    <ion-searchbar placeholder="Search purchases" [placeholder]="isPurchaseTabOpen?'Search Purchases':'Search Offers'" [(ngModel)]="searchvalue" (ngModelChange)="search()" class="profile-buying-search"></ion-searchbar>
  </ion-item>

  <ion-item lines="none">
    <p>
      <ion-nav-link (click)="showPurchasedSection()" [ngClass]="{active:isPurchaseTabOpen}"> <ion-label>Purchased</ion-label></ion-nav-link>
      <ion-nav-link (click)="showOfferSection()" [ngClass]="{active:isOfferTabOpen}"> <ion-label>Offers</ion-label></ion-nav-link>
    </p>

  </ion-item>

</ion-header> -->



<ion-content forceOverscroll=false>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" disabled="false">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div  class="header_io">
  <ion-toolbar>
    <ion-back-button defaultHref="/tabs/home" slot="start" color="light">
      <ion-icon class="checking" name="arrow-back"></ion-icon>
    </ion-back-button>
    <ion-title>Selling</ion-title>
  </ion-toolbar>
  <ion-item lines="none">
    <ion-searchbar [placeholder]="isSoldTabOpen?'Search sold items':'Search listing'" [(ngModel)]="searchvalue" (ngModelChange)="search()" class="profile-buying-search"></ion-searchbar>
  </ion-item>

  <ion-item lines="none">
    <p>
      <ion-nav-link (click)="showSoldSection()" [ngClass]="{active:isSoldTabOpen}"> <ion-label>Sold</ion-label></ion-nav-link>
      <ion-nav-link (click)="showListingSection()" [ngClass]="{active:isListingTabOpen}"> <ion-label>Listings</ion-label></ion-nav-link>
      
      <!-- <ng-template [ngIf]="isListingTabOpen">
        <ng-template [ngIf]="!isdisabletoggleshow" [ngIfElse]="closetemplate">
          <ion-nav-link (click)="showListingWithDisableSection()" class="disableListingBtn"> <ion-label>Disable Listing</ion-label></ion-nav-link>
        </ng-template>
        <ng-template #closetemplate>
          <ion-nav-link (click)="hideListingWithDisableSection()" class="disableListingBtn"> <ion-label>close</ion-label></ion-nav-link>
        </ng-template>
      </ng-template> -->
      
      
    </p>

  </ion-item>
</div>
  <ion-list *ngIf="isSoldTabOpen">
    <ion-item lines="full" *ngFor="let order of solditems">
      <ion-thumbnail slot="start" [routerLink]="['/selling/order-detail-sell-view',order.orderId]">
        <ion-img src="{{order.image_large}}"></ion-img>
      </ion-thumbnail>
      <ion-text>
        <a [routerLink]="['/selling/order-detail-sell-view',order.orderId]" >
          <p class="prod_heading">US {{order.value}} {{(order.filter +'s')|uppercase}} / {{order.title}}</p>
          <div class="flex_items">
            <p class="prod_date">{{order.created_date1}}</p>
            <p class="prod_id">#{{order.orderId}}</p>
          </div>
          <p class="prod_msg">{{order.status}}</p>
        </a>
      </ion-text>      
    </ion-item>
  </ion-list>

  <ion-list *ngIf="isListingTabOpen">
    <!-- <div *ngIf="isdisabletoggleshow" class="disabledBtn">
      <ion-item class="ion-no-padding" lines="none">
        <ion-label><strong>Disable Listings</strong></ion-label>
        <ion-toggle color="dark" [(ngModel)]="disablelisting"></ion-toggle>
      </ion-item>
      <p class="disableInfo">Temporarily remove all your for sale listings from the marketplace. When you're ready to sell again, you can toggle this option to resume where you left off.</p>
    </div> -->
   
    <ion-item-sliding *ngFor="let item of listings">
        <ion-item (click)="openoption(item)">
          <ion-thumbnail  lines="full" slot="start">
            <ion-img src="{{item.image_large}}"></ion-img>
          </ion-thumbnail>
          <ion-text >
            <p class="prod_heading">US {{item.value}} {{(item.filter +'s')|uppercase}} / {{item.title}}</p>
            <div class="flex_items">
              <p class="prod_date"> ${{item.lowest_ask_price}}, active </p>

              <!-- <p class="prod_date" *ngIf="!item.expired; else expired">${{item.highest_bid_price}}, expires in {{item.expiresin}} days on {{item.expireon1}} </p>
              <ng-template #expired><p class="prod_date">${{item.highest_bid_price}}, expired on {{item.expireon1}} </p></ng-template> -->
            </div>
          </ion-text>


        </ion-item>
        <ion-item-options side="end">
            <button ion-button (click)="delete(item)" class="deleteItem">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>



</ion-content>
