ion-header {
  ion-toolbar {
    // --background: #000;
    ion-title {
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      padding-left: 0px;
      padding-right: 40px;
  }
    ion-buttons {
      color: #fff;
    }
  }
  ion-back-button {
    ion-icon {
      color: #fff;
    }
  }
  ion-searchbar {
    padding: 0;
    height: 45px !important;
    div {
      height: 45px !important;
      min-height: 45px;
    }
    .searchbar-input-container.sc-ion-searchbar-ios {
      height: 45px !important;
    }
  }
  ion-item {
    // position: relative;
    // left: -3px;
    p {
      display: flex;
      margin: 0;
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #fff;
      ion-nav-link {
        margin-right: 20px;
      }
      .active {
        border-bottom: solid 1px #fff;
      }
    }
  }
}

ion-content {
  .header_io {
    background: #1d1c1e;
    ion-toolbar,
    > ion-item {
      --background: #1d1c1e;
      color: #fff;
    }

    ion-toolbar {
      --background: #1d1c1e;
      color: #fff;
      ion-title {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        padding-left: 0px;
        padding-right: 40px;
    }
      ion-buttons {
        color: #fff;
      }
    }
    ion-back-button {
      ion-icon {
         
        color: #fff;
        line-height: 1;
        display: none;
      }
    }
    ion-searchbar {
      padding: 0;
      height: 45px !important;
      --background:#59585a;
      --border-radius: 8px;
      --placeholder-color:#ffffff;
      --placeholder-font-weight:600;
      --icon-color:#ffffff;
      --color:#ffffff;
      // --background:#ffffff;
      // div {
      //   height: 45px !important;
      //   min-height: 45px;
      // }
      // .searchbar-input-container.sc-ion-searchbar-ios {
      //   height: 45px !important;
      // }
    }
    ion-item {
      // position: relative;
      // left: -3px;
      p {
        display: flex;
        margin: 0;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fff;
        ion-nav-link {
          margin-right: 20px;
        }
        .active {
          // border-bottom: solid 2px #ffffff;
          opacity: 1;
        }
        ion-nav-link{
          
          opacity: 0.75;
          ion-label{
            font-weight: 600;
            padding-bottom: 8px;
          }
        }
      }
    }
  }
  ion-item {
    padding: 10px 0 0;
    p {
      margin: 0 0 5px;
      line-height: 1.3;
      font-size: 12px;
      color: rgba(51,51,51,0.75);
      font-weight: 600;
    }
    p.prod_heading {
      font-size: 12px;
      color: #333333;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 600;
    }
    p.prod_msg {
      margin-bottom: 10px;
    }
    
  }
  .flex_items {
    display: flex;
    justify-content: space-between;
  }
  ion-img {
    object-fit: contain;
  }
}
.deleteItem {
    font-size: 21px;
    width: 75px;
    color: #fff;
    background: #E44646;
  }