

<ion-content forceOverscroll=false>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div  class="header_io">
  <ion-toolbar>
      <ion-back-button defaultHref="/tabs/home" slot="start" color="light">
        <ion-icon class="checking" name="arrow-back"></ion-icon>
      </ion-back-button>
    <ion-title>Buying</ion-title>
  </ion-toolbar>
  <ion-item lines="none">
    <ion-searchbar placeholder="Search purchases" [placeholder]="isPurchaseTabOpen?'Search Purchases':'Search Offers'" [(ngModel)]="searchvalue" (ngModelChange)="search()" class="profile-buying-search"></ion-searchbar>
  </ion-item>

  <ion-item lines="none">
    <p>
      <ion-nav-link (click)="showPurchasedSection()" [ngClass]="{active:isPurchaseTabOpen}"> <ion-label>Purchased</ion-label></ion-nav-link>
      <ion-nav-link (click)="showOfferSection()" [ngClass]="{active:isOfferTabOpen}"> <ion-label>Offers</ion-label></ion-nav-link>
    </p>

  </ion-item>
</div>




  <ion-list *ngIf="isPurchaseTabOpen">
    <ion-item lines="full" *ngFor="let order of purchases">
      <ion-thumbnail slot="start" [routerLink]="['/buying/order-detail/',order.orderId]">
        <ion-img src="{{order.image_large}}"></ion-img>
      </ion-thumbnail>
      <ion-text>
        <a [routerLink]="['/buying/order-detail/',order.orderId]">
          <p class="prod_heading">US {{order.value}} {{(order.filter +'s')|uppercase}} / {{order.title}}</p>
          <div class="flex_items">
            <p class="prod_date">{{order.created_date1}}</p>
            <p class="prod_id">#{{order.orderId}}</p>
          </div>
          <p class="prod_msg">{{order.status}}</p>
        </a>
      </ion-text>
   
    </ion-item>
  </ion-list>

  <ion-list *ngIf="isOfferTabOpen">
   
    <ion-item-sliding  *ngFor="let item of offers">
        <ion-item lines="full"  (click)="openoption(item)">
          <ion-thumbnail slot="start">
            <ion-img src="{{item.image_large}}"></ion-img>
          </ion-thumbnail>
          <ion-text>
            <p class="prod_heading">US {{item.value}} {{(item.filter +'s')|uppercase}} / {{item.title}}</p>
            <div class="flex_items">
              <p class="prod_date"> ${{item.highest_bid_price}}, active </p>

              <!-- <p class="prod_date" *ngIf="!item.expired; else expired">${{item.highest_bid_price}}, expires in {{item.expiresin}} days on {{item.expireon1}} </p>
              <ng-template #expired><p class="prod_date">${{item.highest_bid_price}}, expired on {{item.expireon1}} </p></ng-template> -->
            </div>
          </ion-text>


        </ion-item>
        <ion-item-options side="end">
            <button ion-button (click)="delete(item)"  class="deleteItem">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>



</ion-content>
