::ng-deep {
  .shipping-address-modal {
    .modal-wrapper {
      height: calc(100% - 70%);
      bottom: auto;
      margin: 18px;
      border-radius: 5px;
      .ion-page {
        ion-content {
          font-size: 14px;
          text-align: center;
          h2 {
            font-size: 18px;
            font-weight: bold;
            margin: 16px 0 14px 0;
            text-align: center;
          }
          .lowest-wrap {
            border-right: 2px solid #e4e4e4;
          }
          .product-wrap {
            width: 50%;
            p {
              text-align: center;
              text-transform: uppercase;
              font-size: 11px;
              margin: 8px 0;
              color: #787878;
              letter-spacing: 1.5px;
            }
          }
          .offerMade {
            text-align: center;
            font-size: 12px;
            text-transform: uppercase;
            margin: 14px 0;
            color: #787878;
            letter-spacing: 1.3px;
          }
          .rate-wrap {
            font-size: 22px;
            font-weight: 600;
            display: block;
            width: 100%;
            text-align: center;
          }
          .rate-wrap .fa-caret-down {
            color: #e44646;
            padding-right: 12px;
            font-size: 16px;
          }
          .rate-wrap .fa-sort-up {
            color: #4eb935;
            padding-right: 12px;
            font-size: 16px;
          }
          .deleteItem {
            display: block;
            padding: 10px;
            text-align: center;
            color: #e44646;
          }
        }
        ion-item {
          margin: 0 0 20px 0;
        }
        h1 {
          font-size: 14px;
          text-align: left;
          font-weight: bold;
        }
        p {
          font-size: 13px;
          text-align: center;
          padding: 0 20px;
          margin: 0 0 16px 0;
        }
      }
      .deleteModal {
        --offset-top: 21px;
        --offset-bottom: 0;
      }
    }
    ion-content {
      overflow: hidden;
      --overflow: hidden;
      ion-icon {
        font-size: 35px;
        position: fixed;
        right: 10px;
        top: 6px;
      }
    }
  }

  .delButton {
    --border-radius: 8px !important;
  }
}
