<ion-content>
  <h2>
    Shipping Address
    <ion-icon name="close-outline"></ion-icon>
  </h2>
  <p>Your shipping address must be the same as your billing address. To change your billing address, go to payment settings.</p>
  <ion-button (click)="redirectToPaymentSettingPage()" color="dark">Go to payment settings</ion-button>

</ion-content>
