/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
//  --ion-safe-area-top: 20px;
//  --ion-safe-area-bottom: 20px;
}

body {
  padding-top: constant(safe-area-inset-top); //for iOS 11.2
  padding-top: env(safe-area-inset-top); //for iOS 11.1

  margin-bottom: constant(safe-area-inset-bottom); //for iOS 11.2
  margin-bottom: env(safe-area-inset-bottom); //for iOS 11.1
}
// ion-tab-bar,
// .buy-sell-wrap,
// .browser-filter {
//   // padding-bottom: 50px; 
//    margin-bottom: constant(safe-area-inset-bottom);
//    margin-bottom: env(safe-area-inset-bottom);
// }

.browser-filter{
  padding-bottom: calc(50px + constant(safe-area-inset-bottom)); //for iOS 11.2
  padding-bottom: calc(50px + env(safe-area-inset-bottom)); //for iOS 11.1
}
.buy-sell-wrap{
  padding-bottom: calc(50px + constant(safe-area-inset-bottom)); //for iOS 11.2
  padding-bottom: calc(50px + env(safe-area-inset-bottom)); //for iOS 11.1
}

.profile-buying-search {
  // color: #fff;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
  --background: #59585a;
  --border-radius: 8px;
  --placeholder-color: #ffffff;
  --placeholder-font-weight: 600;
  --icon-color: #ffffff;
  --color: #ffffff;
  // .searchbar-input-container.sc-ion-searchbar-ios {
  //     height: 50px !important;
  //     contain: strict;
  //     border-radius: 12px;
  //     background: #59585a;

  // }
  // .searchbar-input.sc-ion-searchbar-ios{
  //     font-size: 14px;
  //     font-weight: 300 !important;
  //     color: #fff;
  // }
  // ion-icon{
  //     color: #fff;
  // }
}

ion-button {
  font-size: 16px;
  text-transform: none;
  min-height: 47px;
  font-weight: bold;
  border-radius: 8px !important;
}
ion-button.ion-color-dark {
  overflow: hidden;
}

ion-toolbar.ion-color-dark {
  --background: var(--ion-color-dark, #000);
}

ion-card ion-label {
  font-family: "HK Grotesk Regular";
  font-size: 13px;
  color: #333;
}

// .card-btn.error-text {
//     color: #c50909;
//   }

.order_success {
  text-align: center;
  margin-top: 0;
  h1 {
    font-size: 12px;
    margin-top: 60px;
    color: rgba(51, 51, 51, 0.75);
    text-transform: uppercase;
    padding: 0 15px;
    letter-spacing: 1px;
    font-weight: 600;
  }
  h2 {
    font-size: 22px;
    margin-top: 20px;
    font-weight: bold;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    color: #333333;
    margin-bottom: 0px;
  }
  h4 {
    font-size: 14px;
    margin: 20px 0 30px;
    padding: 0 45px;
  }
  p {
    font-size: 12px;
    margin-top: 16px;
    color: rgba(51, 51, 51, 0.75);
    text-transform: uppercase;
    padding: 0 15px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  ion-img {
    max-width: 155px;
    width: 155px;
    display: block;
    margin: 0 auto;
  }
  ion-button {
    margin: 0 15px 20px;
  }
  span.closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    i {
      font-weight: 900;
      font-size: 20px;
    }
  }
  h2.offer_exp {
    font-size: 12px;
    margin-top: 20px;
    color: #696969;
    text-transform: uppercase;
    padding: 0 15px;
  }
  h2.offer_plc {
    margin: 30px 0 0;
    font-size: 24px;
    color: #333333;
    font-weight: bold;
  }
  h4.offer_acpt {
    line-height: 24px;
    font-weight: 500;
    font-size: 16px;
    margin: 16px 0 24px;
    padding: 0 45px;
    color: #333333;
  }

  .itemDetails {
    .totalPayout {
      font-size: 12px;
      text-transform: capitalize !important;
      color: rgba(51, 51, 51, 0.75);
      margin: 12px 0 0;
      font-weight: 600;
    }
    .almostDone {
      font-size: 24px;
      font-weight: bold;
      margin: 30px 0 16px;
      color: #333333;
      padding: 0px 20px;
    }
    p {
      text-transform: unset;
      font-size: 16px;
      color: #444;
      text-align: left;
    }
    .whatNext {
      text-align: left;
      font-size: 12px;
      text-transform: uppercase;
      margin-bottom: 16px;
      font-weight: 600;
      letter-spacing: 1px;
      color: rgba(51, 51, 51, 0.75);
    }
    .shipInfo {
      text-align: center;
      padding: 0 20px;
      margin-bottom: 21px;
      color: #333333;
      font-weight: 500;
    }
    .nextList {
      margin: 0;
      text-align: left;
      font-size: 15px;
      counter-reset: my-awesome-counter;
      li {
        padding: 5px 20px 5px 16px;
        margin: 0 0 0.5rem 0;
        counter-increment: my-awesome-counter;
        position: relative;
        font-size: 16px;
        font-weight: 500;
        color: #333333;
        &::before {
          content: counter(my-awesome-counter);
          color: #ffffff;
          font-size: 12px;
          font-weight: 600;
          position: absolute;
          letter-spacing: 1px;
          --size: 20px;
          left: calc(-1 * var(--size) - 3px);
          line-height: var(--size);
          width: var(--size);
          height: var(--size);
          top: 8px;
          background: var(--ion-color-dark, #000);
          border-radius: 50%;
          text-align: center;
        }
      }
    }
  }

  ion-icon {
    font-size: 23px;
  }
}

.order_review {
  .review-purchase {
    background: var(--ion-color-dark, #000);
    color: #fff;
    position: relative;
    min-height: 30vh;
    padding: 20px;
    ion-icon {
      font-size: 23px;
    }
    span.closebtn {
      position: absolute;
      right: 20px;
      top: 20px;
      display: inline-block;
    }
    span.backbtn {
      position: absolute;
      left: 20px;
      top: 20px;
      display: inline-block;
    }
    .text-center {
      text-align: center !important;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
    }
    .product-img-wrap {
      display: block;
      position: relative;
      padding-top: 20px;
      min-height: 140px;
      margin-bottom: 30px;

      img {
        max-width: 153px;
        margin-right: 15px;
        position: absolute;
        bottom: 0;
        display: inline-block;
      }

      h5 {
        margin-bottom: 6px;
        font-size: 22px;
        font-weight: bold;
        margin-top: 10px;
      }
    }

    .product-text {
      display: block;
      text-align: right;
      padding-left: 120px;
    }

    .product-sku,
    .size {
      font-size: 12px;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
    }
    .price {
      font-size: 20px;
      color: #fff;
      font-weight: 600;
      text-transform: uppercase;
    }

    .size {
      opacity: 0.75;
    }

    .price-size {
      margin-top: 22px;
    }
  }

  .offer-wrapper {
    padding: 20px 0 0 0;
    position: relative;
    height: auto;
    border-radius: 20px 20px 0 0;
    background: #fff;
    margin-top: -20px;

    .payment-info {
      background: #f5f5f5;
      padding: 8px 15px 5px 20px;
      display: block;
      border-radius: 0 8px 8px 0;
      margin: 5px 20px 4px 0px;
      font-size: 12px;
      line-height: 36px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;

      span {
        font-size: 12px;
        color: #333333;
        font-weight: 600;
        opacity: 0.75;
        letter-spacing: 1px;
      }
    }

    .payment-text-info {
      padding: 5px 24px;
      display: block;
      border-radius: 6px;
      margin: 0 0 0 0;
      font-size: 12px;
      font-weight: 500;
      color: #333333;
      opacity: 0.75;
    }

    img.card-type {
      width: 18px;
    }

    img.mastercard {
      width: 35px;
    }
    img.visa {
      width: 35px;
    }
    .card-btn {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: normal;
      vertical-align: middle;
      margin-left: 5px;
      color: #333333;
      font-size: 14px;
      font-weight: 500 !important;
      opacity: 1;
      letter-spacing: 0px;
      // max-width: 153px;
      text-align: right;
      width: 244px;

      span {
        display: inline-block;
        width: auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: normal;
        vertical-align: middle;
        margin-left: 5px;
        color: #333333;
        font-size: 14px;
        font-weight: 500 !important;
        opacity: 1;
        letter-spacing: 0px;
        max-width: 153px;
        text-align: right;
      }
    }
    .error-text {
      color: #c50909 !important;
    }

    ion-icon {
      font-size: 18px;
      vertical-align: middle;
      color: #333333;
    }

    .promo-code-sec {
      padding: 20px;
    }
    .promo-code {
      background: #f5f5f5;
      padding: 0px 15px;
      border-radius: 6px;
      font-size: 14px;
      text-align: left;
      color: #000;
    }
    .subtoal-cta {
      display: block;
      float: left;
      width: 100%;
      padding: 16px 20px 16px;
      font-size: 12px;
      color: #666;
      ion-checkbox {
        float: left;
        margin: 0 5px 10px 0;
      }
    }
    .subtotal-row {
      display: block;
      width: 100%;
      clear: both;
      float: left;
      margin-bottom: 8px;
    }
    .subtotal-row.last {
      padding-top: 10px;
      border-top: solid 2px #efefef;
    }
    .subtotal-row.last span.dir-right {
      color: #333333 !important;
    }
    .subtotal-row span.dir-left {
      text-transform: uppercase;
      font-weight: 600;
      color: #333333;
      opacity: 0.75;
      letter-spacing: 1px;
      font-size: 12px;
    }
    .subtotal-row.last .txt-blk {
      opacity: 1 !important;
    }
    .subtotal-row span.dir-right {
      font-size: 14px;
      color: #333333;
      font-weight: bold;
      opacity: 0.75;
    }
    .dir-left {
      float: left;
    }
    .dir-right {
      float: right;
    }
    .btm-txt {
      font-size: 14px;
      padding: 14px 20px;
      color: #333333;
      width: 100%;
      clear: both;
      font-weight: 500;
      opacity: 0.75;
    }
    .swip-btn {
      float: left;
      display: block;
      width: 100%;
      padding: 0 20px;
    }
    p.check-txt {
      font-size: 14px;
      line-height: 1.3;
      display: inline-block;
      width: 100%;
      padding: 8px 20px 0px 43px;
      color: #333333;
      position: relative;
      font-weight: 500;
      // margin-bottom: 24px;
    }

    p.check-txt ion-checkbox {
      max-width: 16px;
      margin-right: 5px;
      width: 100%;
      position: absolute;
      top: 10px;
      left: 20px;
      --border-width: 1px;
      --border-radius: 4px;
      --background: #ffffff;
      --border-color: #dcd8e6;
      height: auto;
    }
  }
}

ion-header.order-detail {
  z-index: -1 !important;
}
.order-detail {
  .review-purchase {
    padding: 20px 20px 0px !important;
    .product-img-wrap {
      margin-bottom: 0px !important;
    }

    span.backbtn {
      left: 5px !important;
      top: 5px !important;
    }
    .links {
      padding: 15px 0 0 0;
      margin-bottom: 0px;
    }
    span.content-wrap.tab {
      display: inline-block;
      margin-right: 24px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
    }

    .content-wrap.tab p {
      opacity: 0.75;
    }

    .content-wrap p.active {
      border-bottom: solid 2px #fff;
      opacity: 1 !important;
      margin-bottom: 10px;
      padding-bottom: 5px;
    }
  }

  .offer-wrapper {
    border-radius: 0px !important;
    margin-top: 0px !important;

    ion-card-content {
      padding-top: 0px;
    }
    .card-type {
      margin-right: 5px !important;
    }
  }

  .helpTag {
    position: absolute;
    font-size: 12px;
    right: 0px;
    top: 0px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: underline;
  }
  ion-title {
    text-align: center;
    font-size: 16px;
    max-width: calc(100% - 47px);
    font-weight: 600;
  }
  .smallItems {
    // background: #000;
    // background: var(--ion-color-dark,#000);
    color: #fff;
    // padding: 10px 0;
    text-align: right;
    display: flex;
    .fitImage {
      object-fit: contain;
      height: auto;
    }
    ion-label {
      text-overflow: unset !important;
      white-space: normal !important;
      h2 {
        font-size: 24px;
        font-weight: bold;
      }
      .itemCode {
        font-size: 12px;
        color: #ffffff;
        margin: 0 0 18px 0;
        font-weight: 600;
        letter-spacing: 1px;
      }
      .itemSize {
        font-size: 12px;
        letter-spacing: 1px;
        color: #ffffff;
        opacity: 0.75;
        font-weight: 600;
      }
      .itemPrice {
        font-size: 20px;
        margin: 5px 0 0 0;
        font-weight: 600;
        color: #ffffff;
      }
    }
  }
  ion-thumbnail {
    width: 130px;
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  ion-segment {
    background-color: var(--ion-color-dark, #000);
    color: #ffffff;
    padding: 0 15px 6px 20px;
  }
  .fg-white {
    color: white;
  }

  .segment__button {
    background-color: var(--ion-color-dark, #000) !important;
    color: #ffffff !important;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    opacity: 0.75;
  }
  ion-segment-button {
    min-height: 30px;
    line-height: 1.5rem !important;
    --border-radius: 0;
    --padding-bottom: 0px;
    --padding-top: 0px;
    --margin-bottom: 0px;
    --margin-top: 0px;
    ion-label {
      --border-radius: 0;
      --padding-bottom: 0px;
      --padding-top: 0px;
      --margin-bottom: 0px;
      --margin-top: 0px;
    }
  }
  ion-segment-button.segment-button-checked {
    opacity: 1 !important;
  }
  .segment-button-indicator {
    width: 80% !important;
    margin: 0 auto !important;
  }
  .dueDate {
    margin: 0;
    padding: 10px 15px;
    background: #f5f5f5;
    border-radius: 0;
    font-size: 12px;
    color: #333333;
    opacity: 0.75;
    letter-spacing: 1px;
    font-weight: 600;
  }
  .shipStatus {
    font-size: 24px;
    font-weight: bold;
    margin: 5px 15px 22px 15px;
    color: var(--ion-color-dark, #000);
  }
  .time {
    text-align: right;
    font-size: 12px !important;
    font-weight: 600 !important;
    letter-spacing: 1px;
    max-width: 75px;
    margin: 0;
    min-width: 75px;
    opacity: 0.75;
  }

  .saleHeading {
    font-size: 24px;
    font-weight: bold;
    color: var(--ion-color-dark, #000);
  }
  .timeinfo {
    font-size: 11px;
    font-weight: 500;
    min-width: calc(100% - 80px);
  }
  ion-card {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-bottom: 35px;
    section {
      h2 {
        font-size: 24px;
        font-weight: bold;
        color: var(--ion-color-dark, #000);
      }

      .itemStatuswithCheckbox {
        $bullet-line-width: 1px;
        $bullet-color: var(--ion-color-dark, #000);
        $bullet-border-width: $bullet-line-width;
        $bullet-background-color: white;
        $bullet-size: 20px;
        border-left: $bullet-line-width solid $bullet-color;
        counter-reset: numbered-list;
        margin-left: 8px;
        position: relative;
        margin-top: 14px;
        list-style: none;
        padding: 0;
        li {
          font-size: 16px;
          margin-bottom: 20px;
          padding-left: 30px;
          color: #333;
          font-weight: 600;
          font-family: "HK Grotesk Regular";
          &:last-child {
            border-left: $bullet-line-width solid $bullet-background-color;
            margin-left: -$bullet-line-width;
          }
        }
        .statusOn {
          &:before {
            $half-of-font-size: -0.5em;
            background-color: $bullet-color;
            border: $bullet-border-width solid $bullet-background-color;
            border-radius: 50%;
            color: $bullet-background-color;
            content: "\f00c";
            font-family: Font awesome\5 Free;
            counter-increment: numbered-list;
            display: block;
            font-weight: bold;
            font-size: 11px;
            width: $bullet-size;
            height: $bullet-size;
            margin-top: 0;
            line-height: $bullet-size;
            position: absolute;
            left: -10px;
            text-align: center;
          }
        }
        .statusOff {
          $bullet-size: 20px;
          &:before {
            $half-of-font-size: -0.5em;
            background-color: #ffffff;
            border: 1px solid #ccc;
            border-radius: 50%;
            color: #ccc;
            content: "";
            counter-increment: numbered-list;
            display: block;
            font-weight: bold;
            width: $bullet-size;
            height: $bullet-size;
            margin-top: 0;
            line-height: $bullet-size;
            position: absolute;
            left: -10px;
            text-align: center;
          }
        }
        .statusCancelled {
          &:before {
            content: "\f00d";
            font-family: Font awesome\5 Free;
            color: $bullet-background-color;
            background-color: red;
            border: $bullet-border-width solid $bullet-background-color;
            font-size: 11px;
          }
        }
      }
    }
  }
  .saleDetail {
    ion-item {
      --ion-safe-area-right: 0;
      font-size: 12px;
      color: #a2a0a0;
      --border-color: #ece9f2;
      ion-label {
        font-size: 16px;
        color: #000000;
        font-weight: 500;
        opacity: 1;
      }
      .payment {
        white-space: break-spaces !important;
        margin-left: 0px;
      }
      p {
        font-size: 12px;
        color: #333333;
        opacity: 0.75;
        font-weight: bold;
        letter-spacing: 1px;
        font-family: "Hk Grotesk Regular";
      }
    }
  }

  ion-card ion-label {
    font-family: HK Grotesk Regular;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    opacity: 0.75;
  }

  ion-card ion-label.paymentDesc {
    letter-spacing: 1px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .totalSection {
    .saleHeading {
      margin: 20px 0 20px 0;
    }
    .item-inner {
      padding: 0;
    }
    span {
      display: inline-block;
      width: 100%;
      padding: 5px 0;
      font-size: 12px;
      .totalAmount {
        float: right;
        b {
          color: #333333;
          font-size: 14px;
          font-weight: 600;
        }
      }
      .border-top {
        border-top: 1px solid #dcd8e6 !important;
      }
    }
    span:last-child .totalAmount {
      opacity: 1;
      font-weight: 600;
    }
    ion-item {
      font-size: 12px;
      color: #a2a0a0;
      ion-label {
        font-size: 13px;
        color: #000000;
        font-weight: 600;
      }
    }
  }
}
