<!-- <ion-header>
  <ion-toolbar>
    <ion-label>
       <ion-icon  class="fas fa-arrow-left" (click)="back()"></ion-icon>
      <ion-back-button defaultHref="/settings" icon="" text="" color="light"><ion-icon  class="fas fa-arrow-left"></ion-icon>  </ion-back-button>
    </ion-label>
    <ion-title>Payment</ion-title>
    <ion-button (click)="save()">Save</ion-button>
  </ion-toolbar>
</ion-header> -->



<ion-toolbar color="dark">
  <ion-back-button defaultHref="/settings" (click)="back()" class="header" slot="start" color="light"></ion-back-button>
  <ion-button id="paymentsavebutton" slot="end" color="dark">Save</ion-button>
  <ion-title>Profile</ion-title>
</ion-toolbar>


<ion-content>
  
<form #f="ngForm" [formGroup]="editprofile">
  <ion-list>
    <ion-item lines="none">
      <div class="input_form">
        <ion-label>Username</ion-label>
        <ion-input type="text" formControlName="username" [class.invalid]="!editprofile.controls.username.valid && (editprofile.controls.username.dirty || submitAttempt)"></ion-input>
        <ion-text lines="none" *ngIf="!editprofile.controls.username.valid && editprofile.controls.username.errors && editprofile.controls.username.errors.required &&  !editprofile.controls.username.pending  && (editprofile.controls.username.dirty || submitAttempt)">
          <ion-label class="invalid-feedback">Username is requried</ion-label>
        </ion-text>
        <ion-text lines="none" *ngIf="!editprofile.controls.username.valid && editprofile.controls.username.errors && editprofile.controls.username.errors.usernameexists &&  !editprofile.controls.username.pending  && (editprofile.controls.username.dirty || submitAttempt)">
          <ion-label class="invalid-feedback">Username is already exists</ion-label>
        </ion-text>
        <ion-text lines="none" *ngIf="editprofile.controls.username.pending">
          <ion-label class="invalid-feedback">Checking username...</ion-label>
      </ion-text>
        
      </div>
     
    </ion-item>
    <ion-item lines="none">
      <div class="input_form">
        <ion-label>First Name</ion-label>
        <ion-input type="text" formControlName="firstname" [class.invalid]="!editprofile.controls.firstname.valid && (editprofile.controls.firstname.dirty || submitAttempt)"></ion-input>
        <ion-item lines="none" *ngIf="!editprofile.controls.firstname.valid &&  !editprofile.controls.firstname.pending  && (editprofile.controls.firstname.dirty || submitAttempt)">
          <div>First name is requried</div>
        </ion-item>
      </div>
    </ion-item>
    <ion-item lines="none">
      <div class="input_form">
        <ion-label>Last Name</ion-label>
        <ion-input type="text" formControlName="lastname"  [class.invalid]="!editprofile.controls.lastname.valid && (editprofile.controls.lastname.dirty || submitAttempt)"></ion-input>
        <ion-item lines="none" *ngIf="!editprofile.controls.lastname.valid &&  !editprofile.controls.lastname.pending  && (editprofile.controls.lastname.dirty || submitAttempt)">
          <div>Last name is requried</div>
        </ion-item>
      </div>
    </ion-item>
    <ion-item lines="none">
      <div class="input_form">
        <ion-label>Email</ion-label>
        <ion-input type="email" formControlName="emailId" [class.invalid]="!editprofile.controls.emailId.valid && (editprofile.controls.emailId.dirty || submitAttempt)"></ion-input>
        <ion-item lines="none" *ngIf="!editprofile.controls.emailId.valid && editprofile.controls.emailId.errors && editprofile.controls.emailId.errors.required  && (editprofile.controls.emailId.dirty || submitAttempt)">
          <div>Email is requried</div>
        </ion-item>
        <ion-item lines="none" *ngIf="!editprofile.controls.emailId.valid && editprofile.controls.emailId.errors && editprofile.controls.emailId.errors.email  && (editprofile.controls.emailId.dirty || submitAttempt)">
          <div>Email is not valid</div>
        </ion-item>
        <ion-item lines="none" *ngIf="!editprofile.controls.emailId.valid && editprofile.controls.emailId.errors && editprofile.controls.emailId.errors.emailexists &&  !editprofile.controls.emailId.pending  && (editprofile.controls.emailId.dirty || submitAttempt)">
          <div>Email is already exists</div>
        </ion-item>
        <ion-item lines="none" *ngIf="editprofile.controls.username.pending">
          <p>Checking username...</p>
      </ion-item>
       
      </div>
    </ion-item>
    <ion-item lines="none">
      <div class="input_form">
        <ion-label>Phone Number</ion-label>
        <ion-input type="tel" formControlName="phone" [class.invalid]="!editprofile.controls.phone.valid && (editprofile.controls.phone.dirty || submitAttempt)"></ion-input>
        <ion-item lines="none" *ngIf="!editprofile.controls.phone.valid && editprofile.controls.phone.errors && editprofile.controls.phone.errors.required  && (editprofile.controls.phone.dirty || submitAttempt)">
          <div>Phone number is requried</div>
        </ion-item>
        <ion-item lines="none" *ngIf="!editprofile.controls.phone.valid && editprofile.controls.phone.errors && editprofile.controls.phone.errors.pattern  && (editprofile.controls.phone.dirty || submitAttempt)">
          <div>Phone is not correct format</div>
        </ion-item>
      </div>
    </ion-item>
    <!-- <ion-item lines="none">
      <div class="select_form">
      <ion-label>Shoe Size</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="3.5">3.5</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="4.5">4.5</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
        <ion-select-option value="5.5">5.5</ion-select-option>
        <ion-select-option value="6">6</ion-select-option>
        <ion-select-option value="6.5">6.5</ion-select-option>
        <ion-select-option value="7">7</ion-select-option>
        <ion-select-option value="7.5">7.5</ion-select-option>
        <ion-select-option value="8">8</ion-select-option>
        <ion-select-option value="8.5">8.5</ion-select-option>
        <ion-select-option value="9">9</ion-select-option>
        <ion-select-option value="9.5">9.5</ion-select-option>
        <ion-select-option value="10">10</ion-select-option>
        <ion-select-option value="10.5">10.5</ion-select-option>
        <ion-select-option value="11">11</ion-select-option>
        <ion-select-option value="11.5">11.5</ion-select-option>
        <ion-select-option value="12">12</ion-select-option>
        <ion-select-option value="12.5">12.5</ion-select-option>
        <ion-select-option value="13">13</ion-select-option>
        <ion-select-option value="14">14</ion-select-option>
        <ion-select-option value="14.5">14.5</ion-select-option>
        <ion-select-option value="15">15</ion-select-option>
        <ion-select-option value="16">16</ion-select-option>
        <ion-select-option value="17">17</ion-select-option>
        <ion-select-option value="18">18</ion-select-option>
      </ion-select>
    </div>
    </ion-item> -->

    
  </ion-list>
</form>
</ion-content>
