<ion-header>
  <ion-toolbar>
    <ion-title>
      Listing Details
      <ion-icon name="close-outline" (click)="close()"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item class="ion-no-padding listing-detail" lines="none">
    <ion-thumbnail slot="start">
      <!-- <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw=="> -->
      <!-- <ion-img src="{{offer.image_large}}"></ion-img> -->
      <img [src]="offer.image_large" />
    </ion-thumbnail>
    <ion-label>
      <h2 class="title"  (click)="redirecttoproductdetial()">US {{offer.value}} {{(offer.filter+'s')|uppercase}} / {{offer.title}}</h2>
      <p class="value">${{offer.lowest_ask_price}}, active</p>
    </ion-label>
   </ion-item>

  <!-- <ion-thumbnail slot="start">
    <ion-img src="{{offer.image_large}}"></ion-img>
  </ion-thumbnail>
  <ion-text>
    <p class="prod_heading">US {{offer.value}} Mens / {{offer.title}}</p>
    <div class="flex_items">
      <p class="prod_date"> ${{offer.highest_bid_price}}, active </p>

       <p class="prod_date" *ngIf="!item.expired; else expired">${{item.highest_bid_price}}, expires in {{item.expiresin}} days on {{item.expireon1}} </p>
      <ng-template #expired><p class="prod_date">${{item.highest_bid_price}}, expired on {{item.expireon1}} </p></ng-template> 
    </div>
  </ion-text> -->
  <ion-text>

  <div class="row">
    <div class="col-md-6 col-xs-6 product-wrap lowest-wrap">
      <span class="rate-wrap">
        <i class="fas fa-caret-down"></i>
        <ng-template [ngIf]="offer.lowest_listing && offer.lowest_listing.lowest_ask_price != ''" [ngIfElse]="blanklowestprice">
          ${{offer.lowest_listing.lowest_ask_price}}
        </ng-template>
        <ng-template #blanklowestprice>
        --
        </ng-template>
      </span>
        <p>Lowest Price</p>
    </div>
    <div class="col-md-6 col-xs-6 product-wrap">
      <span class="rate-wrap">
        <i class="fas fa-sort-up"></i>
        <ng-template [ngIf]="offer.highest_offer && offer.highest_offer.highest_bid_price != ''" [ngIfElse]="blankhighestoffer">
          ${{offer.highest_offer.highest_bid_price}}
        </ng-template>
        <ng-template #blankhighestoffer>
        --
        </ng-template>
      </span>
      <p>Highest offer</p>
    </div>
  </div>
  <p class="offerMade">
    Listing made on {{offer.createdon_text}}
  </p>
    <ion-button expand="block" color="dark" (click)="editListing(offer)">Edit Listing</ion-button>
    <a (click)="parentdelete(offer)" class="deleteItem">Delete Listing</a>
    
  </ion-text>

</ion-content>
