::ng-deep {
  .selling-listing-detail-modal {
    .listing-detail {
      h2.title {
        font-size: 12px;
        /* font-weight: 600; */
        letter-spacing: 1px;
        color: #333;
        text-transform: uppercase;
        font-family: HK Grotesk SemiBold;
    }

    } 
    .modal-wrapper {
      position: absolute;
      width: 100% !important;
      height: calc(100% - 48%);
      bottom: 0;
      .ion-page {
        ion-header {
          ion-title {
            font-size: 16px;
            color: #333333;
            font-weight: 600;
            text-align: center;
            ion-icon {
              font-size: 25px;
              position: absolute;
              right: 8px;
              top: -1px;
              color: #333333;
            }
          }
        }
        ion-content {
          font-size: 14px;
          ion-thumbnail {
              --size: 100%;
              img{
                object-fit: contain;
              }
          }
          .lowest-wrap {
            border-right: 2px solid #e4e4e4;
          }
          .product-wrap {
            width: 50%;
            p {
              text-align: center;
              text-transform: uppercase;
              font-size: 12px;
              margin: 8px 0;
              color: #333333;
              letter-spacing: 1px;
              font-weight: 600;
              opacity: 0.75;
            }
          }
          .offerMade {
            text-align: center;
            font-size: 12px;
            text-transform: uppercase;
            margin: 14px 0;
            color: #333333;
            letter-spacing: 1px;
            font-weight: 600;
            opacity: 0.75;
          }
          .rate-wrap {
            font-size: 24px;
            font-weight: 600;
            display: block;
            width: 100%;
            text-align: center;
            color: #1D1C1E;
          }
          .rate-wrap .fa-caret-down {
            color: #e44646;
            padding-right: 12px;
            font-size: 20px;
          }
          .rate-wrap .fa-sort-up {
            color: #4eb935;
            padding-right: 12px;
            font-size: 20px;
          }
          .deleteItem {
            display: block;
            padding: 10px;
            text-align: center;
            color: #EC3838;
            font-weight: 500;
            font-size: 16px;
          }
        }
        ion-item {
          margin: 0 0 20px 0;
        }
        h1 {
          font-size: 14px;
          text-align: left;
          font-weight: bold;
        }
        p {
          font-size: 12px;
          text-align: left;
          font-weight: 500;
          color: #333333;
          opacity: 0.75;
        }
      }
      .deleteModal {
        --offset-top: 21px;
        --offset-bottom: 0;
      }
    }
    ion-content {
      overflow: hidden;
      --overflow: hidden;
      ion-icon {
        font-size: 35px;
        position: fixed;
        right: 10px;
        top: 6px;
      }
    }
  }

  .delButton {
    --border-radius: 8px !important;
  }
}
