<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="home-slider">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide *ngFor="let homeslide of homeslides">
        <img [src]="homeslide['slider_img']" alt="Random first slide" />
      </ng-template>
    </ngb-carousel>
  </div>

  <!-- You can now use your library component in app.component.html -->

  <div class="product-slider-wrap">
    <div class="row discribe-wrap">
      <div class="col-sm-6 divide-wrap category-wrap">
        <h3>Featured</h3>
      </div>
      <div class="col-sm-6 divide-wrap viewall-wrap">
        <a href="/tabs/browse"
          ><h4>View All <ion-icon name="chevron-forward-outline"></ion-icon></h4
        ></a>
      </div>
    </div>

    <ion-slides pager="false" [options]="slideOpts">
      <ion-slide
        *ngFor="let featured_product of featured_products"
        class="slide"
      >
        <div
          class="product-slider"
          (click)="gotoproductdetails(featured_product['id'])"
        >
          <ion-thumbnail>
            <img [src]="featured_product['image']" />
          </ion-thumbnail>
          <!-- <ion-img [src]="featured_product['image']"></ion-img> -->
          <h5>{{ featured_product['brand'] }}</h5>
          <ion-text>
            <ng-template
              [ngIf]="featured_product['title'].length  > 24 "
              [ngIfElse]="fulltitletext"
            >
              <h3>{{ featured_product['title'].substring(0,24) }}...</h3>
            </ng-template>
            <ng-template #fulltitletext>
              <h3>{{ featured_product['title'] }}</h3>
            </ng-template>
          </ion-text>

          <div class="row">
            <div class="col-md-6 col-xs-6 product-wrap lowest-wrap">
              <span class="rate-wrap"
                ><i class="fas fa-caret-down"></i
                >${{featured_product['lowest_ask_price'] == 0 ||
                featured_product['lowest_ask_price'] == null ? "--" :
                featured_product['lowest_ask_price']}}</span
              >
              <p>Lowest Price</p>
            </div>
            <div class="col-md-6 col-xs-6 product-wrap">
              <span class="rate-wrap"
                ><i class="fas fa-sort-up"></i
                >${{featured_product['highest_bid_price'] == 0 ||
                featured_product['highest_bid_price'] == null ? "--" :
                featured_product['highest_bid_price']}}</span
              >
              <p>Highest Offer</p>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="product-slider-wrap">
    <div class="row discribe-wrap">
      <div class="col-sm-8 divide-wrap category-wrap">
        <h3>New Lowest Listings</h3>
      </div>
      <div class="col-sm-4 divide-wrap viewall-wrap">
        <a [routerLink]="['/tabs/browse']" [queryParams]="{sort:'newlowestask'}"
          ><h4>View All <ion-icon name="chevron-forward-outline"></ion-icon></h4
        ></a>
      </div>
    </div>
    <ion-slides pager="false" [options]="slideOpts">
      <ion-slide *ngFor="let new_listing of newListings" class="slide">
        <div
          class="product-slider"
          (click)="gotoproductdetails(new_listing['id'])"
        >
          <ion-thumbnail>
            <img [src]="new_listing['image']" />
          </ion-thumbnail>
          <!-- <ion-img [src]="featured_product['image']"></ion-img> -->
          <h5>{{ new_listing['brand'] }}</h5>
          <ng-template
            [ngIf]="new_listing['title'].length  > 24 "
            [ngIfElse]="fulltitletext"
          >
            <h3>{{ new_listing['title'].substring(0,24) }}...</h3>
          </ng-template>
          <ng-template #fulltitletext>
            <h3>{{ new_listing['title'] }}</h3>
          </ng-template>

          <div class="row">
            <div class="col-md-6 col-xs-6 product-wrap lowest-wrap">
              <span class="rate-wrap"
                ><i class="fas fa-caret-down"></i
                >${{new_listing['lowest_ask_price'] == 0 ||
                new_listing['lowest_ask_price'] == null ? "--" :
                new_listing['lowest_ask_price']}}</span
              >
              <p>Lowest Price</p>
            </div>
            <div class="col-md-6 col-xs-6 product-wrap">
              <span class="rate-wrap"
                ><i class="fas fa-sort-up"></i
                >${{new_listing['highest_bid_price'] == 0 ||
                new_listing['highest_bid_price'] == null ? "--" :
                new_listing['highest_bid_price']}}</span
              >
              <p>Highest Offer</p>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="product-slider-wrap">
    <div class="row discribe-wrap">
      <div class="col-sm-6 divide-wrap category-wrap">
        <h3>New Highest Offers</h3>
      </div>
      <div class="col-sm-6 divide-wrap viewall-wrap">
        <a
          [routerLink]="['/tabs/browse']"
          [queryParams]="{sort:'newhighestbid'}"
          ><h4>View All <ion-icon name="chevron-forward-outline"></ion-icon></h4
        ></a>
      </div>
    </div>
    <ion-slides pager="false" [options]="slideOpts">
      <ion-slide
        *ngFor="let highest_listing of newHighestListing"
        class="slide"
      >
        <div
          class="product-slider"
          (click)="gotoproductdetails(highest_listing['id'])"
        >
          <ion-thumbnail>
            <img [src]="highest_listing['image']" />
          </ion-thumbnail>
          <!-- <ion-img [src]="featured_product['image']"></ion-img> -->
          <h5>{{ highest_listing['brand'] }}</h5>
          <ng-template
            [ngIf]="highest_listing['title'].length  > 24 "
            [ngIfElse]="fulltitletext"
          >
            <h3>{{ highest_listing['title'].substring(0,24) }}...</h3>
          </ng-template>
          <ng-template #fulltitletext>
            <h3>{{ highest_listing['title'] }}</h3>
          </ng-template>

          <div class="row">
            <div class="col-md-6 col-xs-6 product-wrap lowest-wrap">
              <span class="rate-wrap"
                ><i class="fas fa-caret-down"></i
                >${{highest_listing['lowest_ask_price'] == 0 ||
                highest_listing['lowest_ask_price'] == null ? "--" :
                highest_listing['lowest_ask_price']}}</span
              >
              <p>Lowest Price</p>
            </div>
            <div class="col-md-6 col-xs-6 product-wrap">
              <span class="rate-wrap"
                ><i class="fas fa-sort-up"></i
                >${{highest_listing['highest_bid_price'] == 0 ||
                highest_listing['highest_bid_price'] == null ? "--" :
                highest_listing['highest_bid_price']}}</span
              >
              <p>Highest Offer</p>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="product-slider-wrap">
    <div class="row discribe-wrap">
      <div class="col-sm-6 divide-wrap category-wrap">
        <h3>Upcoming Releases</h3>
      </div>
      <div class="col-sm-6 divide-wrap viewall-wrap">
        <a
          [routerLink]="['/tabs/browse']"
          [queryParams]="{sort:'newhighestbid'}"
          ><h4>View All <ion-icon name="chevron-forward-outline"></ion-icon></h4
        ></a>
      </div>
    </div>
    <ion-slides pager="false" [options]="slideOpts">
      <ion-slide
        *ngFor="let upcoming_listing of upcomingReleaseListing"
        class="slide"
      >
        <div
          class="product-slider"
          (click)="gotoproductdetails(upcoming_listing['id'])"
        >
          <ion-thumbnail>
            <img [src]="upcoming_listing['image']" />
          </ion-thumbnail>
          <!-- <ion-img [src]="featured_product['image']"></ion-img> -->
          <h5>{{ upcoming_listing['brand'] }}</h5>
          <ng-template
            [ngIf]="upcoming_listing['title'].length  > 24 "
            [ngIfElse]="fulltitletext"
          >
            <h3>{{ upcoming_listing['title'].substring(0,24) }}...</h3>
          </ng-template>
          <ng-template #fulltitletext>
            <h3>{{ upcoming_listing['title'] }}</h3>
          </ng-template>

          <div class="row">
            <div class="col-md-6 col-xs-6 product-wrap lowest-wrap">
              <span class="rate-wrap"
                ><i class="fas fa-caret-down"></i
                >${{upcoming_listing['lowest_ask_price'] == 0 ||
                upcoming_listing['lowest_ask_price'] == null ? "--" :
                upcoming_listing['lowest_ask_price']}}</span
              >
              <p>Lowest Price</p>
            </div>
            <div class="col-md-6 col-xs-6 product-wrap">
              <span class="rate-wrap"
                ><i class="fas fa-sort-up"></i
                >${{upcoming_listing['highest_bid_price'] == 0 ||
                upcoming_listing['highest_bid_price'] == null ? "--" :
                upcoming_listing['highest_bid_price']}}</span
              >
              <p>Highest Offer</p>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
