.search-bar-wrap ion-searchbar {
  padding: 22px;
  background-color: #1d1c1e;
  margin: 0;
}
/* ::ng-deep .searchbar-input  { box-shadow: none !important;  background-color: #1d1c1e !important; color: #a0a0a0 !important; }  */
::ng-deep .searchbar-input {
  color: #fff !important;
  border-radius: 10px !important;
  background-color: #59585a !important;
}
/* ::ng-deep .search-bar-wrap ion-icon { color:#fff !important; } */
::ng-deep .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.home-slider {
  margin-top: 0;
}
.search-list {
  position: absolute;
  top: 60px;
  z-index: 999;
}
.owl-carousel {
  width: 90% !important;
  margin: 10% auto;
}

.owl-carousel .owl-nav {
  overflow: hidden;
  height: 0px;
}

.owl-carousel .nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 30% !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}

/* .owl-carousel .prev-slide {
    background: url(./assets/images/nav-icon.png) no-repeat scroll 0 0;
    left: -33px;
  }
   
  .owl-carousel .next-slide {
    background: url(./assets/images/nav-icon.png) no-repeat scroll -24px 0px;
    right: -33px;
  } */

.owl-carousel .prev-slide:hover {
  background-position: 0px -53px;
}

.owl-carousel .next-slide:hover {
  background-position: -24px -53px;
}
ion-content {
  font-family: "Poppins", sans-serif;
}
.product-slider h5 {
  font-size: 10px;
  margin-top: 10px;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: left;
  font-family: "HKGroteskSemiBold";
}
.product-slider h3 {
  font-size: 16px;
  margin-bottom: 15px;
  text-align: left;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  line-height: 16px;
  word-break: normal;
  font-family: "HKGroteskSemiBold";
}
.product-wrap {
  width: 50%;
}
.product-slider {
  /*margin-right: 20px;*/
  padding: 24px 20px 12px 20px;
  background-color: #f5f5f5;
  border-radius: 12px;
  word-break: break-all;
  display: inline-block;
}
.product-slider p {
  font-size: 9px;
  color: #333;
  text-align: center;
  font-weight: 500;
  margin-bottom: 5px;
  line-height: 13px;
  margin-top: 5px;
  font-family: "HKGroteskMedium";
}
.rate-wrap {
  font-size: 12px;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: center;
  color: #333333;
  line-height: 14px;
  font-family: "HKGroteskBold";
}
.rate-wrap .fa-caret-down {
  color: #e44646;
  padding-right: 5px;
  vertical-align: bottom;
  font-size: 16px;
}
.rate-wrap .fa-sort-up {
  color: #4eb935;
  padding-right: 5px;
  vertical-align: bottom;
  font-size: 16px;
}
.lowest-wrap {
  border-right: 2px solid #e4e4e4;
}
/* ::ng-deep .slick-dots { display: none !important; } */
::ng-deep .slick-list {
  padding-left: 20px !important;
}
/* .product-slider-wrap .slick-slider { top:-100px; } */
.divide-wrap {
  width: 35%;
  margin-bottom: 15px;
}
.category-wrap h3 {
  text-align: left;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 600;
  color: rgba(51, 51, 51, 1);
  letter-spacing: 0.5px;
  font-family: "HKGroteskSemiBold";
}

.viewall-wrap h4 {
  text-align: right;
  padding-right: 20px;
  font-size: 14px;
  color: #333333;
  font-weight: 600;
  letter-spacing: 0.35px;
  font-family: "HKGroteskSemiBold";
}

.viewall-wrap ion-icon {
  font-size: 18px;
  position: relative;
  top: 4px;
}
.product-slider-wrap {
  margin-top: 25px;
  margin-bottom: 25px;
}

.brand-slider-wrap {
  margin-top: 40px;
}
.top-brand-wrap h3 {
  text-align: left;
  padding-left: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}
.brand-slider {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 20px;
  color: #494949;
  margin-right: 15px;
}
.brand-slider img {
  max-width: 65px;
  margin: 0 auto;
}
.brand-slider p {
  margin-bottom: 0px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.raptor-wrap {
  margin-top: 40px;
  margin-bottom: 30px;
}

/*search list css start here*/
.search-list p {
  font-size: 14px;
  font-weight: lighter;
  padding-left: 15px;
  padding-top: 20px;
}

ion-slides {
  padding-left: 20px !important;
}

ion-thumbnail {
  --size: 100%;
}

/* .product-slider h5 {
  font-size: 12px;
  color: #333333;
  margin-top: 5px;
  font-weight: 600;
  opacity: 0.75;
  text-transform: uppercase;
  letter-spacing: 1px;
} */

.swiper-slide img {
  max-width: 150px !important;
  /* margin-top: -20px; */
}
.divide-wrap.category-wrap {
  width: 65% !important;
}

@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
     {
      .category-wrap h3{
        font-size: 21px;
        margin: 0 0 8px 0;
      }

      .swiper-slide img{  
        max-width: 130px !important;

      }
      .product-slider h5{
        font-size:8px;
      }
      .rate-wrap{
        font-size: 10px;
      }
      .product-slider p{
        font-size: 6px;

      }
      .swiper-wrapper {
          overflow: hidden;
          padding-left: 40px;
      }
      .product-slider{
        padding: 15px 15px 15px 15px!important;
      }
      ion-slides {
        padding-left: 45px!important;
      }
  }
