@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.1/css/fontawesome.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
$font-faimly:'Poppins', sans-serif;
$primary-color: #333333;
$primary-font-size: 18px;
$primary-form-heading: 24px;
$primary-padding: 32px!important;

body { color: red !important;   }

    .carousel-indicators 
    li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }

    ion-slides {
        padding-left: 20px !important;
    }

