<ion-content class="order_success">
  <span class="closebtn"><ion-icon (click)="closeModal()" name="close-outline" color="dark"></ion-icon></span>    
<ion-text>
  <h1>{{product.title}}</h1>
</ion-text>
 <ion-text>
    <p>Brand New / size {{order.product_info.size}} {{ (product.filter+'s'|uppercase)}}</p>
  </ion-text>
  <ion-img src="{{product.image}}" ></ion-img>
  <ion-text class="itemDetails">
      <h3>CA ${{order.seller_total.toFixed(2)}}</h3>
      <h2 class="totalPayout">TOTAL PAYOUT</h2>
      <h4 class="almostDone">You're almost done!</h4>
      <p class="shipInfo">Ship your shoes within 2 business days to complete your sale and to avoid flaking penalties.</p>
      <p class="whatNext">What's next</p>
      <ol class="nextList">
      <li>Check your email for the pre-paid shipping label that we sent you.</li>
      <li>Ship your shoes within 2 days to avoid penalties.</li>
      <li>Funds are released to your payout method once verified at our warehouse.</li>
    </ol>
    </ion-text>
  <ion-button color="dark" expand="block" (click)="redirectoorder()">View order</ion-button>



</ion-content>
