// .order_success {
//   text-align: center;
//   margin-top: 0;
//   h1 {
//     font-size: 12px;
//     margin-top: 60px;
//     color: rgba(51,51,51,0.75);
//     text-transform: uppercase;
//     padding: 0 15px;
//     // margin-bottom: 16px;
//     font-weight: 600;
//     letter-spacing: 1px;
//     font-family: 'HK Grotesk Regular';
//   }
//   h2 {
//     font-size: 22px;
//     margin-top: 20px;
//     font-weight: bold;
//   }
//   h3 {
//     font-size: 20px;
//     font-weight: 600;
//     margin-top: 20px;
//     color: #333333;
//     margin-bottom: 0px;
//   }
//   h4 {
//     font-size: 14px;
//     margin: 20px 0 30px;
//     padding: 0 45px;
//   }
//   p {
//     font-size: 12px;
//     margin-top: 16px;
//     color: rgba(51,51,51,0.75);
//     text-transform: uppercase;
//     padding: 0 15px;
//     font-weight: 600;
//     letter-spacing: 1px;
//     margin-bottom: 10px;
//   }

//   ion-img {
//     max-width: 155px;
//     width: 155px;
//     display: block;
//     margin: 0 auto;
//     height: auto;
//   }
//   ion-button {
//     margin: 0 15px;
//   }
//   .closebtn {
//     position: absolute;
//     right: 10px;
//     top: 10px;
//   }
//   .itemDetails {
//     .totalPayout {
//       font-size: 12px;
//       text-transform: capitalize !important;
//       color: rgba(51,51,51,0.75);
//       margin: 12px 0 0;
//       font-weight: 600;
//     }
//     .almostDone {
//       font-size: 24px;
//       font-weight: bold;
//       margin: 30px 0 16px;
//       color: #333333;
//     }
//     p {
//       text-transform: unset;
//       font-size: 16px;
//       color: #444;
//       text-align: left;
//     }
//     .whatNext {
//       text-align: left;
//       font-size: 12px;
//       text-transform: uppercase;
//       margin-bottom: 16px;
//       font-weight: 600;
//       letter-spacing: 1px;
//       color: rgba(51,51,51,0.75);
//     }
//     .shipInfo {
//       text-align: center;
//       padding: 0 20px;
//       margin-bottom: 21px;
//       color: #333333;
//       font-weight: 600;
//     }
//     .nextList {
//       margin: 0;
//       text-align: left;
//       font-size: 15px;
//       counter-reset: my-awesome-counter;
//       li {
//         padding: 5px 20px 5px 16px;
//         margin: 0 0 0.5rem 0;
//         counter-increment: my-awesome-counter;
//         position: relative;
//         font-size: 16px;
//         font-weight: 500;
//         color: #333333;
//         &::before {
//             content: counter(my-awesome-counter);
//             color: #ffffff;
//             font-size:12px;
//             font-weight: 600;
//             position: absolute;
//             letter-spacing: 1px;
//             --size: 20px;
//             left: calc(-1 * var(--size) - 3px);
//             line-height: var(--size);
//             width: var(--size);
//             height: var(--size);
//             top: 8px;
//             background: var(--ion-color-dark,#000);
//             border-radius: 50%;
//             text-align: center;
//         }
//       }
//     }
//   }
// }

// .order_success ion-icon {
//   font-size: 23px;
// } 
